.dashboard-wrapper
	.map-section
		.slidein-profile
			.close-button
				%i.fa.fa-times
			.location-name= t('general.loading')
			= link_to "#", class: 'profile-summary', id: 'number-of-natives' do
				.number= t('general.loading')
				%span
					.unit= t('general.unit_natives')
					.additional-info= t('general.additional_info_natives')
			= link_to "#", class: 'profile-summary', id: 'number-of-residents' do
				.number= t('general.loading')
				%span
					.unit= t('general.unit_residents')
					.additional-info= t('general.additional_info_residents')
			= link_to "#", class: 'profile-summary', id: 'number-of-travelers' do
				.number= t('general.loading')
				%span
					.unit= t('general.unit_travelers')
					.additional-info= t('general.additional_info_travelers')
			= link_to "#", class: 'profile-summary', id: 'number-of-threads' do
				.number= t('general.loading')
				%span
					.unit= t('general.unit_threads')
					.additional-info= t('general.additional_info_threads')
					

		.map-container
			#map-dashboard
			.autocomplete#dashboard-autocomplete
				.description= t('.location_input_description')
				%input#dashboard-pac-input.pac-input.location-autocomplete.atc{placeholder: t('.location_input')}
				
			.scroll-buttons-wrapper
				.scroll-buttons
					%span.arrow-left
						%i.fa.fa-arrow-left
					%span.arrow-up
						%i.fa.fa-arrow-up
					%span.arrow-right
						%i.fa.fa-arrow-right
					%span.arrow-down
						%i.fa.fa-arrow-down

	.forum-container
		= link_to new_travel_thread_path, class: 'ask-question-button' do
			%i.fa.fa-pencil
			= t('.ask_question_button')

		.forum-header
			%p= t('.forum_header_one')
			%p= t('.forum_header_two')

		- if !Rails.env.production?
			%ul.filtering-box
				- if !Rails.env.production?
					%li{class: 'filtering-tab', 'data-attr' => 'tags'}= t('.filtering_option_tag')
					%li{class: 'filtering-tab', 'data-attr' => 'languages'}= t('.filtering_option_language')
					%li{class: 'filtering-tab', 'data-attr' => 'countries'}= t('.filtering_option_location')
				-else
					%li{class: 'filtering-tab full-width', 'data-attr' => 'tags'}= t('.filtering_option_tag')

				%div{class: 'filtering-options tags-container', 'data-attr' => 'tags'}
					= render partial: 'tags/tag', collection: @tags, locals: {selectable: true, queryable: true}
				%div{class: 'filtering-options tags-container', 'data-attr' => 'languages'}
					=@current_languages.each do |language|
						%span{class: 'tag selectable', :queryable => 'true', 'queryable-category' => 'languages', "queryable-keyword" => "#{language.name}"}= language.name 
				%div{class: 'filtering-options tags-container', 'data-attr' => 'countries'}
					=@countries.each do |country|
						%span{class: 'tag selectable', :queryable => 'true', 'queryable-category' => 'places', 'queryable-keyword' => "#{country.name}"}= country.name  

				.reset-filter-button
					%i.fa.fa-trash
					= t('.reset_filter_button')

		%ul.tabs.thread-groups
			- case @filter
			- when "unanswered"
				%li.tab-link
					= link_to t('.latest_threads'), dashboard_path
				%li.tab-link
					= link_to t('.popular_threads'), dashboard_path(sort: :most_popular)
				%li.tab-link.current
					= link_to t('.unanswered_threads'), dashboard_path(sort: :unanswered)
			- when "most_popular"
				%li.tab-link
					= link_to t('.latest_threads'), dashboard_path
				%li.tab-link.current
					= link_to t('.popular_threads'), dashboard_path(sort: :most_popular)
				%li.tab-link
					= link_to t('.unanswered_threads'), dashboard_path(sort: :unanswered)
			- else
				%li.tab-link.current
					= link_to t('.latest_threads'), dashboard_path
				%li.tab-link
					= link_to t('.popular_threads'), dashboard_path(sort: :most_popular)
				%li.tab-link
					= link_to t('.unanswered_threads'), dashboard_path(sort: :unanswered)

		#tab-1.tab-content.current.threads-container
			= render @travel_threads

		%button.load-more-button
			= t('general.load_more')