.faq-wrapper
	%h3= t('.faq_header')
	%p= t('.faq_content_one')
	%p
		= t('.faq_content_two')
		=link_to (t('.link_to_contact')), contact_us_path
		%span= t('.faq_content_three')

= render 'layouts/footer'