- base_url = "https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/"
- random_index = rand(1..6)
- image_name = "landing_min_#{random_index}"
- image_full_path = "#{base_url}#{image_name}.jpg"

.landing-cover
  .landing-photo{style: "background-image: url('#{image_full_path}')"}

  .transparent-layer
    .titles-wrapper
      = image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/title2.gif'), class: 'title'
      %h5.subtitle= t('.subtitle')
      %h4.subtitle-free= t('.subtitle_free')
    .login-form
      = render 'shared/login_form'
    .alert.error#login-error
      .alert-content-wrapper
        %i.fa.fa-exclamation-triangle.alert-icon
        %p= t('alerts.error.session.incorrect_login')
      %i.fa.fa-times.close-button

.landing-panel#what-container
  %h2= t('.what_is_tabilocal')
  %p= t('.what_is_tabilocal_header')

  .obstacles-wrapper.grid-container
    .row
      .col-6.col-sm-12.col-xs-12
        .thought-bubble-wrapper
          .header= t('.obstacle_one')
          .example
            %i.fa.fa-meh-o
            %p= t('.obstacle_one_ie_one')
          .example
            %i.fa.fa-meh-o
            %p= t('.obstacle_one_ie_two')
          .example
            %i.fa.fa-meh-o
            %p= t('.obstacle_one_ie_three') 
        = image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/drawing_obstacle_1.gif'), class: 'img-obstacle-one'

      .col-6.col-sm-12.col-xs-12
        .thought-bubble-wrapper
          .header= t('.obstacle_two')
          .example
            %i.fa.fa-meh-o
            %p= t('.obstacle_two_ie_one')
          .example
            %i.fa.fa-meh-o
            %p= t('.obstacle_two_ie_two')
          .example
            %i.fa.fa-meh-o
            %p= t('.obstacle_two_ie_three')
        = image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/drawing_obstacle_2.gif'), class: 'img-obstacle-two'


    .lightbulb-wrapper
      %h3= t('.lightbulb_header')
      %p= t('.lightbulb')
      = image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/drawing_obstacle_3.gif')

.landing-panel#how-container.grid-container
  %h2= t('.how_it_works')
  .row
    .col-4.col-xs-12.col-sm-12
      %h6= t('.traveler_header_one')
      %h4= t('.traveler_header_two')
      %p.content= t('.traveler_content')
      .slidedown-trigger= t('.example_button')
      %p.slidedown-content= t('.traveler_ie')
    .col-4.col-xs-12.col-sm-12
      %h6= t('.language_learner_header_one')
      %h4= t('.language_learner_header_two')
      %p.content= t('.language_learner_content')
      .slidedown-trigger= t('.example_button')
      %p.slidedown-content= t('.language_learner_ie')
    .col-4.col-xs-12.col-sm-12
      %h6= t('.both_header_one')
      %h4= t('.both_header_two')
      %p.content= t('.both_content')
      .slidedown-trigger= t('.example_button')
      %p.slidedown-content= t('.both_ie')

.landing-panel#features-container.grid-container
  %h2= t('.features')
  .row
    .col-3.col-md-6.col-sm-6.col-xs-12
      .feature
        %i.fa.fa-comments-o
        %h4= t('.forum_explanation_header')
        %p= t('.forum_explanation')
    .col-3.col-md-6.col-sm-6.col-xs-12
      .feature
        %i.fa.fa-envelope-o
        %h4= t('.messenger_explanation_header')
        %p= t('.messenger_explanation')
    .col-3.col-md-6.col-sm-6.col-xs-12
      .feature
        %i.fa.fa-user
        %h4= t('.profile_explanation_header')
        %p= t('.profile_explanation')
    .col-3.col-md-6.col-sm-6.col-xs-12
      .feature
        %i.fa.fa-heart-o
        %h4= t('.stories_explanation_header')
        %p= t('.stories_explanation')

.landing-panel#contact-container
  = render 'suggestions/form'

= render 'layouts/footer'