.objectives-wrapper
  - if Rails.env != "production"
    =render 'shared/language_selector'
  
  %h3= t('.values_header')
  %p.intro-paragraph= t('.values_intro')

  %section
    %h5= t('.section_header_interaction')
    %p= t('.section_paragraph_interaction_one')
    %p= t('.section_paragraph_interaction_two')
    %p= t('.section_paragraph_interaction_three')
    %p= t('.section_paragraph_interaction_four')
    
  %section
    %h5= t('.section_header_reciprocity')
    %p= t('.section_paragraph_reciprocity_one')
    %p= t('.section_paragraph_reciprocity_two')
    %p= t('.section_paragraph_reciprocity_three')

  %section
    %h5= t('.section_header_sustainability')
    %p= t('.section_paragraph_sustainability_one')
    %p= t('.section_paragraph_sustainability_two')
    %p= t('.section_paragraph_sustainability_three')
    %p= t('.section_paragraph_sustainability_four')

= render 'layouts/footer'