.privacy-wrapper
  - if Rails.env != "production"
    =render 'shared/language_selector'
  
  %h3= t('.privacy_header')
  .last-modified= t('.last_modified')
  %p= t('.privacy_intro_one')
  %p= t('.privacy_intro_two')
  %p= t('.privacy_intro_three')

  %section
    %h5= t('.what_we_collect_header')
    %p= t('.what_we_collect_content_one')
    %p= t('.what_we_collect_content_two')

    .info-you-give
      .header=t('.info_you_give_header')
      %p= t('.info_you_give_content')  

    .info-we-get
      .header=t('.info_we_get_header')
      %p= t('.info_we_get_content')
      .info-type
        .header=t('.device_header')
        %p= t('.device_content')
      .info-type
        .header=t('.log_header')
        %p= t('.log_content')
      .info-type
        .header=t('.location_header')
        %p= t('.location_content')
      .info-type
        .header=t('.storage_header')
        %p= t('.storage_content')
      .info-type
        .header=t('.cookies_header')
        %p= t('.cookies_content')

  %section
    %h5= t('.how_we_use_info_header')
    %p= t('.how_we_use_info_content_one')
    %p= t('.how_we_use_info_content_two')

  %section
    %h5= t('.info_you_share_header')
    %p= t('.info_you_share_content')  

  %section
    %h5= t('.personal_info_header')
    %p= t('.personal_info_content_one')
    %p= t('.personal_info_content_two')

  %section
    %h5= t('.info_we_share_header')
    %p= t('.info_we_share_content_one')  
    %p= t('.info_we_share_content_two')
    %p= t('.info_we_share_content_three')
    
  %section
    %h5= t('.info_security_header')
    %p= t('.info_security_content_one')
    %p= t('.info_security_content_two')

  %section
    %h5= t('.when_this_applies_header')
    %p= t('.when_this_applies_content')  

  %section
    %h5= t('.compliance_header')
    %p= t('.compliance_content')

  %section
    %h5= t('.changes_header')
    %p= t('.changes_content')  

  %section
    %h5= t('.contact_header')
    %p= t('.contact_content')

= render 'layouts/footer'