.terms-wrapper
  - if Rails.env != "production"
    =render 'shared/language_selector'
  
  %h3= t('.terms_header')
  .last-modified= t('.last_modified')
  %p= t('.terms_intro')

  %section
    %h5= t('.section_header_account')
    %p= t('.section_account')

  %section
    %h5= t('.section_header_content')
    %p
      = t('.section_content_one')
      =link_to (t('.link_to_contact_content')), contact_us_path
      %span= t('.section_content_two')

  %section
    %h5= t('.section_header_ads')
    %p
      = t('.section_ads_one')
      =link_to (t('.link_to_contact_ads')), contact_us_path
      %span= t('.section_ads_two')

  %section
    %h5= t('.section_header_language')
    %p= t('.section_language')

  %section
    %h5= t('.section_header_safety')
    %p= t('.section_safety')  

    .suggestion
      .header=t('.suggestion_one')
      %p= t('.suggestion_one_content')  

    .suggestion
      .header=t('.suggestion_two')
      %p= t('.suggestion_two_content')  

    .suggestion
      .header=t('.suggestion_three')
      %p= t('.suggestion_three_content')  

    .meetup-advice
      %i.fa.fa-check-square-o
      %p= t('.meetup_advice_one')
    .meetup-advice
      %i.fa.fa-check-square-o
      %p= t('.meetup_advice_two')
    .meetup-advice
      %i.fa.fa-check-square-o
      %p= t('.meetup_advice_three')
    .meetup-advice
      %i.fa.fa-check-square-o
      %p= t('.meetup_advice_four')
    .meetup-advice
      %i.fa.fa-check-square-o
      %p= t('.meetup_advice_five')

= render 'layouts/footer'