- sending = three_dot_formatter t('general.sending')

-if hidden == true
	-style = "display: none"
-else
	-style = "display: block"
= form_for @message, html: {style: style}, remote: true do |f|
	= f.text_area :content, placeholder: t('general.enter_message')
	= f.hidden_field :conversation_id, value: conversation_id

	.actions
		= f.submit t('general.send_message') , class: 'send-message-button', data: {disable_with: sending}

/ THE REASON VALUE IS EMPTY IS BECAUSE IT NEEDS TO BE UPDATED WHEN A CONVERSATION IS LOADED