-user = message.user
.message
	= link_to user_path(id: user.id) do
		= show_profile_illustration user, user.current_profile_picture, ["profile-image-message"]
	.chat-bubble.force-line-break= message.content