conversationId = "<%= escape_javascript (@message.conversation_id.to_s) %>";
message = "<%= escape_javascript (@message.content.to_s) %>";
date = "<%= escape_javascript (@date_string.to_s) %>";

Tabilocal.messages.appendMessage("<%= escape_javascript(render @message) %>");
Tabilocal.inbox.conversations.update(conversationId, message, date);
Tabilocal.messages.reset();

conversationId = null;
message = null;
date = null;