-#when creating a new reply on the forum the button will read reply as opposed to update
- if controller.controller_name == "replies" && controller.action_name == "edit"
  - button_name = t('general.update_button')
- else
  - button_name = t('general.reply_button')

= form_for [current_user, @reply], remote: true do |f|

  = f.hidden_field :replyable_id, value: @thread.id
  = f.hidden_field :replyable_type, value: "TravelThread"
  = f.hidden_field :first, value: false

  = render partial: 'layouts/editor_toolbar'

  = f.text_area :content, rows: 10, placeholder: t('.thread_reply_input')

  .preview-container

  .actions
    = f.submit button_name, class: 'post-button'