- user = reply.user
%div{class: 'reply', id: (generate_anchor reply)}
  .posted-date
    = time_ago_in_words (reply.created_at)
    
  .author
    = link_to user_path(id: user.id), class: 'hyperlink' do
      = show_profile_illustration user, user.current_profile_picture, ["profile-image-reply"], true
      %span
        = user.fullname

  -if reply.is_editable_by_user? current_user.id
    =link_to edit_user_reply_path(id: reply.id, user_id: current_user.id), class: 'edit-post-button' do
      %i.fa.fa-pencil-square-o

  .reply-content.force-line-break
    = reply.content

  %hr