= render partial: 'shared/profile_cover'

-#logic needs to be refactored into a single view with conditionals
-#or at least refactor this file into its own partial

.posts-wrapper.profile-panels-container
	.profile-panel
		%h5= t('.posts_panel_header')
		
		.header-option
			.slidedown-trigger.switch-button
				%i.fa.fa-exchange	

		.questions.content
			%h6= t('.thread_questions_header')
			-@opening_replies.each do |reply|
				.thread-summary
					.posted-date= time_ago_in_words reply.created_at

					-if reply.is_editable_by_user? current_user.id
						=link_to edit_user_reply_path(id: reply.id, user_id: current_user.id), class: 'edit-post-button' do
							%i.fa.fa-pencil-square-o

					.tags-container
						= render partial: 'tags/tag', collection: reply.replyable.tags

					- if reply.replyable_type == "TravelThread"
						= link_to reply.replyable.title, travel_thread_path(id: reply.replyable.id), class: 'thread-title hyperlink'

					.reply-preview= truncate reply.content, length: 80, separator: ' '

					.location
						%span=t('general.thread_location')
						= link_to place_path(id: reply.replyable.place_id), class: 'city-state hyperlink' do
							= place_formatter reply.replyable.place, "with_country"
				%hr


		.answers.content
			%h6= t('.thread_answers_header')
			-@other_replies.each do |reply|
				.thread-summary
					.posted-date= time_ago_in_words reply.created_at

					-if reply.is_editable_by_user? current_user.id
						=link_to edit_user_reply_path(id: reply.id, user_id: current_user.id), class: 'edit-post-button' do
							%i.fa.fa-pencil-square-o

					.tags-container
						= render partial: 'tags/tag', collection: reply.replyable.tags

					- if reply.replyable_type == "TravelThread"
						= link_to reply.replyable.title, travel_thread_path(id: reply.replyable.id), class: 'thread-title hyperlink'
						
					.reply-preview= truncate reply.content, length: 80, separator: ' '

					.location
						%span=t('general.thread_location')
						= link_to place_path(id: reply.replyable.place_id), class: 'city-state hyperlink' do
							= place_formatter reply.replyable.place, "with_country"
				%hr