- updating = three_dot_formatter t('general.updating')
.reset-password-container
	%h4= t('.reset_password_header')
	%p= t('.reset_password_instruction')

	= form_for(@user, url: password_reset_path(params[:id]), remote: true) do |f|
		
		= render 'shared/error_messages', object: f.object
		= hidden_field_tag :email, @user.email	

		= f.password_field :password, placeholder: t('.new_password')
		= f.password_field :password_confirmation, placeholder: t('.cofirm_password')

		= f.submit t('general.update_button'), class: 'update-button', data: {disable_with: updating}