%table{ :style => 'cellpadding: 0; cellspacing: 0; width: 100%; border-spacing: 0; border-collapse: collapse; background-color: #e9eaea;' }
	%tr
		%td{ :style => 'display: block !important; max-width: 600px !important; clear: both !important; margin-right: auto; margin-left: auto;' }
			%div{ :style => 'margin-top: 50px; margin-bottom: 50px;' }

				%table{ :style => 'text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;' }
					%tr{ :style => 'background-color: #756e60;' }
						%td{ :style => 'display: block !important; max-width: 600px !important; clear: both !important; padding-top: 50px; padding-bottom: 50px;' }
							= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/mailer_header_logo.png'), style: 'display: block; width: 50px; height: auto; margin: 0 auto;', alt: 'Tabilocal', target: '_blank'
							%h1{ :style => 'text-align: center; color: #fff; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: 100;' } #{t('.header')}

				%table{ :style => 'text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;' }
					%tr{ :style => 'background-color: #fff;' }
						%td{ :style => 'width: 100%; padding-top: 50px; padding-bottom: 50px; padding-right: 10%; padding-left: 10%; -webkit-text-size-adjust: none;' }
							%h1{ :style => 'text-align: left; color: #777; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 100;' } #{t('.hi')} #{@user.firstname},
							%p{ :style => 'text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 15px; font-weight: 100;' } #{t('.line_one')}
							%p{ :style => 'text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 15px; font-weight: 100; margin-bottom: 30px;' } #{t('.click_link')}

							%table{ :style => 'text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; margin-right: auto; margin-left: auto;' }
								%tr{ :style => 'background-color: #e9eaea; color: #fff;' }
									%td{ :style => 'padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; background-color: #E56757; color: #fff;' }
										= link_to "<span style='color: #fff; display: block; padding-top: 10px; padding-bottom: 10px; padding-right: 20px; padding-left: 20px;'>#{t('.activate_account')}</span>".html_safe, edit_account_activation_url(@user.activation_token, :locale => I18n.locale, email: @user.email), style: 'text-decoration: none; font-family: Helvetica, Arial, sans-serif; letter-spacing: 1.2px; color: #fff;', target: '_blank'

							%p{ :style => 'text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 15px; font-weight: 100; margin-top: 50px;' } #{t('.line_two')}
							%p{ :style => 'text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 15px; font-weight: 100;' } #{t('.tabilocal_team')}

				%table{ :style => 'text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;' }
					= render 'mailers/footer'