="#{t('.hi')} #{@user.firstname},"
= "\r\n"

=t('.line_one')
= "\r\n"

=t('.click_link')
= "\r\n"

= edit_account_activation_url(@user.activation_token, :locale => I18n.locale, email: @user.email)
= "\r\n"

=t('.line_two')
= "\r\n"

=t('.tabilocal_team')
= "\r\n"
= "\r\n"


= render 'mailers/footer'