- form_id = "add-user-place-" << form_type
- button_id = 'pac-input-' << form_type
- processing = three_dot_formatter t('general.processing')

= form_for @user_place, html: {id: form_id}, remote: true do |f|

   -if form_type == "L"
      %input{placeholder: t('.enter_location'), id: 'lived', class: 'pac-input location-autocomplete atc', autocomplete:'off'}
   -else
      %input{placeholder: t('.enter_location'), id: 'traveled', class: 'pac-input location-autocomplete atc', autocomplete:'off'}
   = f.hidden_field :place_id, value: nil, class: 'form-place-id'
   = f.hidden_field :category, value: form_type

   = f.button t('general.add_button'), class: 'add-button', data: {disable_with: processing}