%span{class: "user-place-#{user_place.category} item-count", id: "user-place-#{user_place.id}"}
    = link_to user_place_path(id: user_place.id), method: :delete,  remote: true, class: 'trash-icon icon' do        
        %i.fa.fa-trash-o
    = user_place.place.fullname
    %br