.dashboard-wrapper {
	.forum-container {
		padding: 30px 0;
		text-align: left;	

		.ask-question-button {
			@extend .btn;
			display: inline-block;
			float: right;
			vertical-align: top;
			height: 36px;
			line-height: 36px;
			background-color: #FF7360;
			color: #fff;
			font-size: 15px;
			
			&:hover {
				background-color: #E56757;
			}
		}	

		.forum-header {
			display: inline-block;
			text-align: left;	
			margin: 5px 10px;

			p {
				line-height: 1.5;
				font-size: 14px;
			}
		}

		.filtering-box {
			width: 80%;
			max-width: 800px;
			margin: 10px auto 5px auto;
			font-size: 0;
			text-align: center;	

			.filtering-tab {
				display: inline-block; 
				width: 33%; height: 30px;
				margin-bottom: -1px;
				line-height: 31px;
				font-size: 15px;
				background-color: #FFC466;
				vertical-align: middle;
				cursor: pointer;
				text-transform: capitalize;	

				&:hover {
					background-color: #FFDEA4;
				}		

				&.full-width {
					width: 100%;
				}		

				&.current {
					background-color: #FFF8E1;
					border-bottom: 1px solid #FFF8E1;
				}
			}		

			.filtering-options {
				width: 100%;
				background-color: #FFF8E1;
				margin: 0 auto; 
				padding: 10px 10px;
				display: none;		

				&.tags-container {
					border-top: 1px solid #FFDEA4;
					
					.tag {
						margin: 0 5px 5px 0;
						cursor: pointer;		

						&.active {
							background-color: #FFD54F;
						}
					}
				}
			} 		

			.reset-filter-button {
				display: none;
				@extend .btn;
				width: 99%;
				margin: 5px auto;
				height: 34px;
				line-height: 34px;
				background-color: #59B2A2;
				color: #fff;
				font-size: 14px;
				font-weight: 800 !important;		

				&:hover {
					background-color: #4C998A;
				}
			}
		}		

		.thread-groups {
			li.tab-link {
				position: relative;
				display: inline-block;
				float: left;
				height: 33px;
				line-height: 30px;
				margin: 20px 5px -2px 0;
				border-top: 2px solid #DFD3B6;
				border-right: 2px solid #DFD3B6;
				border-left: 2px solid #DFD3B6;
				background-color: #fff;
				cursor: pointer;
				z-index: 0;		
				text-align: center;

				&:hover:after {
					position: absolute;
					content: " ";
					width: 100%;
					top: -3px; left: 0;
					border-bottom: 3px solid #FF897A;
					z-index: 1;
				}		

				&.current {
					border-bottom-color: #fff;
					z-index: 2;
				}		

				a {
					display: block;
				}
			}
		}

	  .threads-container {
	    position: relative;
	    clear: both;
	    width: 100%;
	    margin: 0 auto 20px auto;
	    background-color: #fff;
	    border-collapse: collapse;
	    border: 2px solid #DFD3B6;
	  }

	  .load-more-button {
	    @extend .btn;
	    display: block;
	    height: 40px;
	    line-height: 40px;
	    margin: 0 auto;
	    padding: 0 40px !important;
	    background-color: #998981;
	    color: #fff;
	    font-size: 16px;	

	    &:hover {
	      background-color: #7F726B;
	    }
	  }
	}
}	

@media screen and (max-width: $breakpoint1) {
	.forum-container {
		.ask-question-button {
			margin: 10px;
		}

		.thread-groups {
			li {
				width: 30%;

				a {
					font-size: 11px;
				} 
			}
		}
	}
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
	.forum-container {
		.ask-question-button {
			margin: 0 5% 10px 0;
		}

		.thread-groups {
			li {
				width: 30%;

				a {
					font-size: 13px;
				} 
			}
		}
	}
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
	.forum-container {
		.ask-question-button {
			margin: 0 5% 0 0;
		}

		.thread-groups {
			li {
				padding: 0 20px;

				a {
					font-size: 15px;
				} 
			}
		}
	}  
}

@media screen and (min-width: 1025px){
	.forum-container {
		.ask-question-button {
			margin: 0 5% 0 0;
		}

		.thread-groups {
			li {
				padding: 0 20px;
				
				a {
					font-size: 15px;
				} 
			}
		}
	} 
}