/* >> DASHBOARD */

.dashboard-wrapper {
  width: 100%; height: 500px;
  margin: auto;

  .map-section {
    position: relative;
    display: block;
    -webkit-overflow-scrolling: touch;

    .slidein-profile {
      display: none;
      position: absolute;
      right: -250px;
      width: 250px; height: 100%;
      background-color: #fff;
      @include box-shadow(-2px 0 5px 0 #ccc);
      text-align: center;
      z-index: 10;  

      .close-button {
        float: right;
        margin: 10px 10px 0 0;
        color: #bbb;
        font-size: 16px;
        cursor: pointer;
      } 

      .location-name {
        clear: both;
        margin: 20px;
        padding-top: 10px;
        font-size: 20px;
        text-align: left;
        border-bottom: 2px solid #ccc;
      } 

      .profile-summary {
        display: block;
        width: 90%;
        text-align: left; 
        margin: 15px auto;

        .number {
          display: inline-block;
          width: 40px; height: 40px;
          line-height: 40px;
          margin-right: 5px;
          text-align: center;
          background-color: #FFB74D;
          color: #fff;
          font-size: 18px;
          @include border-radius(5px);
        } 

        span {
          display: inline-block;
          vertical-align: bottom; 

          .unit {
            font-size: 18px;
          }   

          .additional-info {
            font-size: 13px;
          }
        }
      } 

      .more-details-button {
        @extend .btn;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        background-color: #FF7360;  

        a {
          font-size: 15px;
          color: #fff;        
        } 

        &:hover {
          background-color: #E56757;
        }
      }
    } 

    .map-container {
      position: relative;
      text-align: center;

      #map-dashboard {
        height: 400px;
        z-index: 1;
        @extend .map;
        @include box-shadow(0 0 10px rgba(0,0,0,0.6));
      }   

      #dashboard-autocomplete {
        position: absolute;
        bottom: 0; right: 0; left: 0;
        width: 100%;
        margin: auto; height: 100px;
        padding: 10px 0 15px 0;
        background-color: rgba(0,0,0,.55);
        font-size: 18px;
        z-index: 2;

        .description {
          text-align: center;
          padding: 0 0 10px 0;
          color: #fff;
          font-weight: 800;
          letter-spacing: 1.5px;
        }

        #dashboard-pac-input {
          width: 95%;
          max-width: 400px;
          padding: 10px;
          background-color: #fff;
          border: 2px solid #fff;
          @include border-radius(2px);

          &:focus {
            border-color: #0091EA;
            @include box-shadow(0 0 5px #7BC7F7);
          }
        }   

        @include place-suggestions-dropdown(#D9F5F9, #BBDEFB);
        .suggestions-dropdown {
          display: block;
          width: 70%;
          max-width: 400px;
          margin: 0 auto;
          z-index: -1;

          .place-suggestion {
            font-size: 14px;
          }
        }
      } 

      .scroll-buttons-wrapper {
        position: absolute;
        top: 15px; left: 10px;  
        z-index: 1;

        .scroll-buttons {
          position: relative;
          width: 60px; height: 60px;
          background-color: #fff;
          @include border-radius(4px);

          span {
            position: absolute;
            font-size: 11px;
            font-weight: 100;
            color: #222;
            cursor: pointer;  

            &:hover {
              color: #666;
            } 

            &.arrow-left {
              top: 50%; left: 3px;
              @include transform(translateY(-50%));
            } 

            &.arrow-up {
              top: 3px; left: 50%;
              @include transform(translateX(-50%));
            } 

            &.arrow-right {
              top: 50%; right: 3px;
              @include transform(translateY(-50%));
            } 

            &.arrow-down {
              bottom: 3px; left: 50%;
              @include transform(translateX(-50%));
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .dashboard-wrapper {
    .map-section {
      .map-container {
        #dashboard-autocomplete {
          .description {
            font-size: 18px;
          }

          input.location-autocomplete {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .dashboard-wrapper {
    .map-section {
      .map-container {
        #dashboard-autocomplete {
          .description {
            font-size: 18px;
          }

          input.location-autocomplete {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .dashboard-wrapper {
    .map-section {
      .map-container {
        #dashboard-autocomplete {
          .description {
            font-size: 20px;
          }

          input.location-autocomplete {
            font-size: 14px;
          }
        }   
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) and (max-width: $breakpoint4) {
  .dashboard-wrapper {
    padding: 20px 3% 0 5%;

    .map-section {
      .map-container {
        #dashboard-autocomplete {
          .description {
            font-size: 20px;
          }

          input.location-autocomplete {
            font-size: 14px;
          }
        }   
      }
    }
  }
}

@media screen and (min-width: $breakpoint4 + 1px) {
  .dashboard-wrapper {
    padding: 20px 3% 0 5%;

    .map-section {
      .map-container {
        #dashboard-autocomplete {
          .description {
            font-size: 20px;
          }

          input.location-autocomplete {
            font-size: 14px;
          }
        }   
      }
    }
  }
}

/* << DASHBOARD */











