- messages = conversation.messages

- users = find_thumbnail_users (messages)
- user = users.first
- user_conversation = conversation.find_user_conversation current_user

- classes = 'conversation-thumbnail '

- if user_conversation.unread?
	- classes << 'unread'

= link_to conversation_path(id: conversation.id), method: :get, remote: true, conversation_id: conversation.id, class: classes do
	.last-date= time_ago_in_words(conversation.messages.last.created_at)
	.user-pic
		= show_profile_illustration user, user.current_profile_picture, ["profile-image-conversation"], true
	.user-text
		.fullname= participants_names(users)
		.last-message= conversation.messages.last.content