- sending = t('general.sending')

-if hidden == true
	-style = "display: none"
-else
	-style = "display: block"
= form_for (@new_conversation), html: {style: style}, remote: true do |f|
	= f.fields_for :messages do |message|
		= message.text_area :content, placeholder: t('general.enter_message')
		= message.hidden_field :user_id, value: current_user.id
	= f.hidden_field 'user_conversations_attributes][0][user_id]', value: current_user.id
	#recipients-list
		- if recipient
			= f.hidden_field 'user_conversations_attributes][1][user_id]', value: recipient.id
	/ populated with JavaScript
	.actions
		= f.submit t('general.send_message'), class: 'send-message-button', data: {disable_with: sending}