-if @control_flag == "conversation_found"
  - header_name = @recipient.fullname
  - style = "display: none"
-else
  - header_name = t(".new_message")
  - style = "display: block"


.conversation-selector.col-4.col-sm-12.col-xs-12
  .search-input
    .search-box
      %input{placeholder: t('general.search'), type: 'text', id: 'filter-conversations'}
    .search-button
      %i.fa.fa-search
  .conversations
    - if @conversations.count > 0
      = render @conversations
    - else
      = render partial: "shared/alert_message", locals: {class_name: "notice", message: t("alerts.notice.conversation.empty"), fixed: false, static: true}

.conversation-log.col-8.col-sm-12.col-xs-12
  .conversation-header
    .header-name= header_name
    .new-conversation-button= t(".new_conversation")
    .recipients-list{style: style}
      .to Para:
      .nametags-wrapper
        - if @control_flag == "new_conversation"
          .nametag
            %span{class: 'fullname', id: "#{@recipient.id}"}= @recipient.fullname
            %span.close-button
              %i.fa.fa-times
        .autocomplete#inbox-autocomplete
          %input{placeholder: t('.enter_name'), type: 'text', class: 'name-input atc', id: 'recipients-input'}
        
  .messages.grid-container
    -if @conversation 
      = render @conversation.messages

  - if @control_flag == "conversation_found"
    = render partial: 'messages/form', locals: {conversation_id: @conversation.id, hidden: false}
    = render partial: 'conversations/form', locals: {hidden: true, recipient: nil}
  - if @control_flag == "index_conversations" || @control_flag == "invalid recipient"
    = render partial: 'messages/form', locals: {conversation_id: nil, hidden: true}
    = render partial: 'conversations/form', locals: {hidden: false, recipient: nil}
  - if @control_flag == "new_conversation" 
    = render partial: "messages/form", locals: {conversation_id: nil, hidden: true}
    = render partial: 'conversations/form', locals: {hidden: false, recipient: @recipient}

- recipients_data = filter_user_data_as_json @recipients_list
.recipients-json{:data => "#{recipients_data}"}