conversationHtml = "<%= escape_javascript (render @conversation) %>";
conversationId = parseInt("<%= escape_javascript (@conversation.id.to_s )%>");

Tabilocal.messages.enableForm();
Tabilocal.messages.setLog("<%= escape_javascript ( render @messages ) %>");
Tabilocal.messages.setConversationId(conversationId);
Tabilocal.inbox.recipients.set(JSON.parse("<%= escape_javascript(@recipients_names.to_json.html_safe) %>"));
Tabilocal.inbox.recipients.hideSendHeader();

<% if @control_variable == 'create_conversation' %>
	Tabilocal.inbox.conversations.insertNew(conversationHtml);
<% else %>
//One conversation is read
	Tabilocal.messages.updateUnreadCount(1);
<% end %>

<% if @control_variable == 'conversation_exists' %>
	// Tabilocal.notificationHandler.create("The conversation with this user already exists", "notice");
	// notice is commented out as it's obvious the conversation exists
<% end %>

Tabilocal.inbox.conversations.markAsSelected(conversationId);

conversationHtml = null;
conversationId = null;