%ul#messages-list
	- @messages.each do |message|
		%li= message.user.fullname + " said: " + message.content

= form_for(@message, remote: true) do |f|
	= render 'shared/error_messages', object: f.object
	= f.hidden_field :conversation_id, value: @conversation.id
	= f.text_area :content
	= f.submit "Send message", class: 'btn'