-if notification.notificationable_type == "Story"
	-user = notification.notificationable.user
	-description = t('notifications.description.wrote_story')
	-username = user.fullname
-if notification.notificationable_type == "Reply"
	-user = notification.notificationable.user
	-description = t('notifications.description.responded_thread')
	-username = user.fullname
-if notification.notificationable_type == "Friendship"
	-user = notification.notificationable.friend
	-description = t('notifications.description.accepted_request')
	-username = user.fullname

- read_class = notification.read ? "read" : "unread"
%li{class: read_class + " notification notification-#{notification.id}"}
	= link_to notification_path(notification), class: "link" do
		.profile-image-wrapper.col-4
			= show_profile_illustration user, user.current_profile_picture, ["profile-image-notification"], true
		.notification-wrapper.col-8
			.username= username
			.notification= description

		-if show_button == true && current_user.id == notification.user_id
			= button_to notification_path(id: notification.id), method: :delete,  remote: true, class: 'remove-button' do        
				%i.fa.fa-times
		.published-date= time_ago_in_words (notification.created_at)

	-#button only show at the index level - not at the partial level
	-# the last condition may not be needed as index controller only returs
	-# the notifications that belong to current_user

