.notifications-container
	%h4.header= t('.header')

	.dropdown-trigger
		%i.fa.fa-caret-down
	.buttons-container
		= button_to t('notifications.mark_all_as_read'), update_all_notifications_path, method: :put, remote: true, class: 'mark-read-button'
		= button_to t('general.delete_all'), destroy_all_notifications_path, class: 'remove-all-button', method: :put, remote: true

	%ul.notifications-index
		= render partial: 'notifications/notification', collection: @notifications, locals: {show_button: true}

		.no-notifications-notice
			= render partial: 'shared/alert_message', locals: {message: "No tienes notificaciones", class_name: "notice", fixed: false, static: true}