- updating = three_dot_formatter t('general.updating')
- form_id = "user-edit-" << attribute
- attribute = attr_to_symbol(attribute)
= form_for @user, html: {id: form_id}, remote: true do |f|
	-if attribute == :about_intro
		= f.text_area attribute, rows: 5, value: @user[attribute], class: 'full-width-input'
	-else 
		= f.text_field attribute, value: @user[attribute], class: 'full-width-input'
	= f.button t('general.save_button'), class: 'save-button full-width-button', data: {disable_with: updating}
