.user-thumbnail
	= link_to user_path(id: user.id) do
		= show_profile_illustration user, user.current_profile_picture, ['profile-image-dashboard hyperlink'], true
	.username.hyperlink
		= link_to "#{user.fullname}", user_path(id: user.id)
	.language
		%i.fa.fa-comment-o
		= languages_formatter user.languages
	.home
		%i.fa.fa-home
		%span= place_formatter user.current_residence, "with_country"