-updating = three_dot_formatter t('general.uploading')
.settings-wrapper.edit-user-attributes.grid-container
  %h4= t('.settings_header')

  .item-wrapper#firstname.row
    .item-name.col-4= t('users.general.firstname')
    .col-8.col-sm-12.col-xs-12
      .item-value= @user.firstname
      %button.edit-item
        %i.fa.fa-chevron-down
      = render partial: 'users/edit_attribute_form', locals: {attribute: 'firstname'}
    
  .item-wrapper#lastname.row
    .item-name.col-4= t('users.general.lastname')
    .col-8.col-sm-12.col-xs-12
      .item-value= @user.lastname
      %button.edit-item
        %i.fa.fa-chevron-down
      = render partial: 'users/edit_attribute_form', locals: {attribute: 'lastname'}

  .item-wrapper.row
    .item-name.col-4= t('general.password')
    .col-8.col-sm-12.col-xs-12
      .item-value ********
      %button.edit-item
        %i.fa.fa-chevron-down
      = form_for(@user, url: password_updates_path, method: :post, remote: true) do |f|
        .form-element= t('.current_password')
        = f.password_field :original_password
        .form-element= t('.new_password')
        = f.password_field :password
        .form-element= t('.confirm_new_password')
        = f.password_field :password_confirmation
        = f.submit t('general.update_button'), class: 'save-button', data: {disable_with: updating}

  .item-wrapper#email.row
    .item-name.col-4= t('users.general.email')
    .col-8.col-sm-12.col-xs-12
      .item-value= @user.email
      %button.edit-item
        %i.fa.fa-chevron-down
      = form_for(@user, url: email_updates_path, method: :post, remote: true) do |f|
        .form-element= t('.new_email')
        = f.text_field :email, value: ''
        .form-element= t('.current_password')
        = f.password_field :password
        = f.submit t('general.update_button'), class: 'save-button', data: {disable_with: updating}


  .item-wrapper#dob.row
    .item-name.col-4= t('users.general.dob')
    .col-8.col-sm-12.col-xs-12
      .item-value= dob_formatter @user.dob
      %button.edit-item
        %i.fa.fa-chevron-down
      = form_for @user, remote: true do |f|
        = f.date_select :dob, start_year: 1930, end_year: 2004
        = f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}
      .item-wrapper#birthday-privacy
        .item-value= birthday_privacy_formatter @user.birthday_privacy
        %button.edit-item
          %i.fa.fa-chevron-down
        = form_for @user, remote: true do |f|
          = f.select(:birthday_privacy, [[t('.show_birthday'), 'T'], [t('.not_show_birthday'), 'F']])
          = f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}

  .item-wrapper#gender.row
    .item-name.col-4= t('users.general.gender')
    .col-8.col-sm-12.col-xs-12
      .item-value= gender_formatter @user.gender
      %button.edit-item
        %i.fa.fa-chevron-down
      = form_for @user, remote: true do |f|
        = f.select(:gender, [[t('.gender_male'), 'M'], [t('.gender_female'), 'F'], [t('.gender_other'),'O']])
        = f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}
      .item-wrapper#gender-privacy
        .item-value= gender_privacy_formatter @user.gender_privacy
        %button.edit-item
          %i.fa.fa-chevron-down
        = form_for @user, remote: true do |f|
          = f.select(:gender_privacy, [[t('.show_gender'), 'T'], [t('.not_show_gender'), 'F']])
          = f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}

  - if Rails.env != "production"          
    .item-wrapper.row
      .item-name.col-4= t('.lang_preference')
      .col-8.col-sm-12.col-xs-12
        .item-value= print_locale_name
        %button.edit-item
          %i.fa.fa-chevron-down
        = form_for @user do |f|
          = f.select(:language_preference, [['English', 'en'], ['Español', 'es'], ['日本語', 'ja']])
          %p.description-lang-preference= t('.description_lang_preference')
          = f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}

  .item-wrapper.row
    .item-name.col-4= t('.delete_account')
    .col-8.col-sm-12.col-xs-12
      .item-value.description-delete-account= t('.description_delete_account')
      %button.delete-account-button
        %i.fa.fa-trash


.modal-delete-account
  .content-wrapper
    .close-button.white
      %i.fa.fa-times
    %p.delete-account-header= t('.delete_account_header')
    %p.delete-account-content= t('.delete_account_content')
    .delete-button= t('.delete_button')