- loading = three_dot_formatter t('.creating_account')
.signup-container
  .signup-form
    %h3= t('.sign_up')
    %span= t('.sign_up_condition_one')
    = link_to t('layouts._header.terms_of_use'), terms_of_use_path
    %span= t('.sign_up_condition_two')
    = link_to t('layouts._header.safety'), safety_path
    %span= t('.sign_up_condition_three')

    .signup-data-input
      = form_for @user, html: {"novalidate"=> "novalidate"}, remote: true do |f|
        .text-input
          = f.text_field :firstname, placeholder: t('users.general.firstname')
          = f.text_field :lastname, placeholder: t('users.general.lastname')
          = f.email_field :email, placeholder: t('general.email')
          = f.password_field :password, placeholder: t('general.password')
          = f.password_field :password_confirmation, placeholder: t('general.confirm_password')

        .dob-gender-input
          .date-input
            %h5= t('users.general.dob')
            = f.date_select :dob, start_year: 1930, end_year: 2004
          .checkbox-input
            %h5= t('users.general.gender')
            .gender-input
              = f.radio_button :gender, "F", class: 'gender-checkbox'
              = label :gender_female, t('users.edit.gender_female')
            .gender-input
              = f.radio_button :gender, "M", class: 'gender-checkbox'
              = label :gender_male, t('users.edit.gender_male')
            .gender-input
              = f.radio_button :gender, "O", class: 'gender-checkbox'
              = label :gender_other, t('users.edit.gender_other')
        = f.submit t('general.create_account'), class: 'create-account-button', data: {disable_with: loading}

= render 'layouts/footer'