-updating = three_dot_formatter t('general.updating')
= render partial: 'shared/profile_cover'

.profile-panels-container
	.profile-panel.edit-user-attributes
		%h5= t('.profile_header_one')

		.content.grid-container				
			.item-wrapper#birthday-privacy.row
				.item-name.col-4.col-sm-12.col-xs-12= t('users.general.dob')
				.col-8.col-sm-12.col-xs-12
					- if @user.birthday_private?
						.item-value= t('general.private')
					-else
						.item-value= dob_formatter @user.dob
					- if current_user?(@user)
						%i.fa.fa-info-circle.info-icon
						%span.popup-message-basicinfo= t('.popup_message')
					
			.item-wrapper#gender-privacy.row
				.item-name.col-4.col-sm-12.col-xs-12= t('users.general.gender')
				.col-8.col-sm-12.col-xs-12
					- if @user.gender_private?
						.item-value= t('general.private')
					- else
						.item-value= gender_formatter @user.gender
					- if current_user?(@user)
						%i.fa.fa-info-circle.info-icon
						%span.popup-message-basicinfo= t('.popup_message')

			.item-wrapper#status.row
				.item-name.col-4= t('users.general.status')
				.col-8.col-sm-12.col-xs-12
					.item-value= status_formatter @user.status
					%button.edit-item
						%i.fa.fa-chevron-down
					= form_for @user, remote: true do |f|
						= f.select(:status, [[t('users.edit.receive_message'), 'T'], [t('users.edit.not_receive_message'), 'F']])
						= f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}

			.item-wrapper#about-intro.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.about')
				.col-8.col-sm-12.col-xs-12
					.item-value= @user.about_intro
					-if current_user?(@user)
						%button.edit-item
							%i.fa.fa-chevron-down
						= render partial: 'users/edit_attribute_form', locals: {attribute: "about-intro"}

			.item-wrapper#website.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.website')
				.col-8.col-sm-12.col-xs-12
					.item-value.hyperlink= @user.website
					-if current_user?(@user)
						%button.edit-item
							%i.fa.fa-chevron-down
						= render partial: 'users/edit_attribute_form', locals: {attribute: "website"}

	.profile-panel
		%h5= t('.profile_header_two')

		.content.grid-container
			.item-wrapper#known-languages.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.fluent_in')
				.col-8.col-sm-12.col-xs-12
					-if @languages_known.count > 0
						.item-value= render partial: 'user_languages/user_language', collection: @languages_known
					-else
						.item-value
							%span.none= t('general.none')
					-if current_user?(@user)
						%button.edit-item{'visible-item-value'=> 'true'}
							%i.fa.fa-chevron-down
						= render partial: 'user_languages/form', locals: {form_type: "K"}
			
			.item-wrapper#learning-languages.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.studying')
				.col-8.col-sm-12.col-xs-12
					-if @languages_learning.count > 0
						.item-value= render partial: 'user_languages/user_language', collection: @languages_learning
					-else
						.item-value
							%span.none= t('general.none')
					-if current_user?(@user)
						%button.edit-item{'visible-item-value'=> 'true'}
							%i.fa.fa-chevron-down
						= render partial: 'user_languages/form', locals: {form_type: "L"}


	.profile-panel
		%h5= t('.profile_header_three')

		.content.grid-container
			.item-wrapper#hometown-id.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.hometown')
				.col-8.col-sm-12.col-xs-12
					.item-value
						= place_formatter @user.hometown, "with_country"  
					-if current_user?(@user)
						%button.edit-item
							%i.fa.fa-chevron-down
						= form_for @user, html: {id: 'user-edit-hometown'}, remote: true do |f|
							%input{id: 'hometown-atc-name', class:'atc', autocomplete:'off', placeholder: t('user_places.form.enter_location')}

							= f.hidden_field :hometown_id, value: nil
							= f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}


			.item-wrapper#current-residence-id.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.current_residence')
				.col-8.col-sm-12.col-xs-12
					.item-value
						= place_formatter @user.current_residence, "with_country"
					-if current_user?(@user)
						%button.edit-item
							%i.fa.fa-chevron-down
						= form_for @user, html: {id: 'user-edit-current_residence'}, remote: true do |f|
							%input{id: 'current-residence-atc-name', class:'atc', autocomplete:'off', placeholder: t('user_places.form.enter_location')}

							= f.hidden_field :current_residence_id, value: nil
							= f.submit t('general.save_button'), class: 'save-button', data: {disable_with: updating}

				 
			.item-wrapper#lived-places.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.lived_in')
				.col-8.col-sm-12.col-xs-12
					- if @lived_places.count > 0
						.item-value= render @lived_places
					-else
						.item-value
							%span.none= t('general.none')
					-if current_user?(@user)
						%button.edit-item{'visible-item-value'=> 'true'}
							%i.fa.fa-chevron-down
						= render partial: 'user_places/form', locals: {form_type: "L"}
						
					
			.item-wrapper#travel-places.row
				.item-name.col-4.col-sm-12.col-xs-12= t('.traveling_to')
				.col-8.col-sm-12.col-xs-12
					- if @traveling_places.count > 0
						.item-value= render @traveling_places
					- else
						.item-value
							%span.none= t('general.none')
					-if current_user?(@user)
						%button.edit-item{'visible-item-value'=> 'true'}
							%i.fa.fa-chevron-down    
						= render partial: 'user_places/form', locals: {form_type: "T"}