.row
  .col-6.col-sm-12.col-xs-12
    %h5= t('.caution_header')
    .caution
      %i.fa.fa-exclamation-triangle
      %p
        %span= t('.caution_one_i')
        =link_to (t('.link_to_terms')), terms_of_use_path, target: '_blank'
        %span= t('.caution_one_ii')
    .caution
      %i.fa.fa-exclamation-triangle
      %p
        %span= t('.caution_two_i')
        =link_to (t('.link_to_contact_caution_two')), contact_us_path, target: '_blank'
        %span= t('.caution_two_ii')
    .caution
      %i.fa.fa-exclamation-triangle
      %p
        %span= t('.caution_three_i')
        =link_to (t('.link_to_contact_caution_three')), contact_us_path, target: '_blank'
        %span= t('.caution_three_ii')
        =link_to (t('.link_to_faq')), faq_path, target: '_blank'
        %span= t('.caution_three_iii')
  .col-6.col-sm-12.col-xs-12
    %h5= t('.tips_header')
    .tip
      %i.fa.fa-check
      %p= t('.tip_one')
    .tip
      %i.fa.fa-check
      %p= t('.tip_two')