- filtering_data = build_filtering_object(travel_thread)

.thread{"thread-data": "#{filtering_data}"}
	.posted-date
		= time_ago_in_words (travel_thread.updated_at)

	.author-thumbnail.hyperlink
		= link_to travel_thread.user do
			= show_profile_illustration travel_thread.user, travel_thread.user.current_profile_picture, ["profile-image-forum"], true
			= travel_thread.user.firstname
		
	.number-of-replies
		.number
			= travel_thread.replies_count - 1
		%span.replies
			= Reply.model_name.human(count: (travel_thread.replies_count - 1))
		
	.tags-container
		= render partial: 'tags/tag', collection: travel_thread.tags

	.thread-summary
		=link_to(travel_thread, class: 'thread-title hyperlink') do
			= travel_thread.title
		%span.location
			%span=t('general.thread_location')
			= link_to (place_formatter travel_thread.place, "with_country"), place_path(travel_thread.place), class: 'city-state hyperlink'