- creating_thread = t(".posting_thread")
- set_language_id = 2

.guidelines-container.grid-container
	= render 'guidelines'

.new-thread-content
	%p= t('.pick_location')

	#travel-thread-autocomplete  
		%input{type: 'text', id: 'pac-threads', class: 'pac-input atc'}
	
	= form_for @travel_thread, remote: true do |f|
	
		= f.hidden_field :place_id, class: "form-place-id"
		= f.hidden_field :user_id, value: current_user.id
	
		-if !Rails.env.production?
			%p= t('.pick_language')
			= f.collection_select(:language_id, @my_languages, :id, :name)
		-else
			-#spanish is hardcoded in production
			= f.hidden_field :language_id, value: set_language_id
		
		%p= t('.pick_tags')
		.tags-container
			= render partial: 'tags/tag', collection: @tags, locals: {selectable: true}

		%p= t('.make_title')
		= f.text_field :title

		%p= t('.write_question')

		= render partial: 'layouts/editor_toolbar'

		= f.fields_for :replies do |replies|
			= replies.text_area :content, rows: 7
			= replies.hidden_field :user_id, value: current_user.id
			= replies.hidden_field :first, value: true

		.preview-container

		= f.fields_for :subscriptions do |subscriptions|
			= subscriptions.hidden_field :user_id, value: current_user.id

		#tags-container
		
		= f.submit t('.post_thread'), class: 'post-thread-button', data: {disable_with: creating_thread}