- user = @thread.user

.thread-container
  #subscription-status
    - if @existing_subscription.nil?
      = render 'subscriptions/subscribe'
    -else
      = render 'subscriptions/unsubscribe'
      
  .thread-header
    .posted-date= time_ago_in_words @thread.created_at
    .tags-container
      = render partial: 'tags/tag', collection: @thread.tags
    .thread-title
      = @thread.title
    .location
      %span=t('general.thread_location')
      %a.city-state.hyperlink= @thread.place.name + ", " + @thread.place.country_assoc.name 
    .author
      %span=t('general.thread_author')
      = link_to user_path(id: user.id), class: 'hyperlink' do
        = show_profile_illustration user, user.current_profile_picture, ["profile-image-thread"], true
        .username= user.fullname
        
  #replies-list
    = render @replies 
  .text-input
    =render partial: 'replies/form'