="#{t('.hi')} #{@recipient_name},"
= "\r\n"

="#{@message}"
= "\r\n"

=t('.click_link')
= "\r\n"

=root_url(:locale => I18n.locale)
= "\r\n"

="#{t('.sent_by')} #{@sender_name}"
= "\r\n"
= "\r\n"


= render 'mailers/footer'