-if local_assigns.has_key?(:id)
	-alert_id = id
-else
	-alert_id = ""

- classes = "alert #{class_name}"

-if fixed == true
	-classes << " fixed"

-if static == true
	-classes << " static"

%div{class: classes, id: alert_id}
	.alert-content-wrapper
		-if class_name == "success"
			%i.fa.fa-check.alert-icon
		-if class_name == "error"
			%i.fa.fa-exclamation-triangle.alert-icon
		-if class_name == "notice"
			%i.fa.fa-flag-o.alert-icon
		-if class_name == "warning"
			%i.fa.fa-exclamation-triangle.alert-icon
		%p= message
	%i.fa.fa-times.close-button