-# BANNERS.length denotes index of default banner
-# since array is referenced up to length - 1
- default_banner_index = BANNERS.length
- valid_indeces = (0..BANNERS.length).to_a
- first_banner_index = valid_indeces.sample
-# removes selected banner
- valid_indeces = valid_indeces - [first_banner_index]
- second_banner_index = valid_indeces.sample

-if layout == "two-banners"
	.banners-container.col-xl-3.col-lg-3
		.positioning
			- if first_banner_index == default_banner_index
				= render partial: 'shared/banner', locals: {default: true}
			- else
				= render partial: 'shared/banner', locals: {default: false, site_url: BANNERS[first_banner_index][:site_url], image_url: BANNERS[first_banner_index][:image_url]}
			- if second_banner_index == default_banner_index
				= render partial: 'shared/banner', locals: {default: true}
			- else
				= render partial: 'shared/banner', locals: {default: false, site_url: BANNERS[second_banner_index][:site_url], image_url: BANNERS[second_banner_index][:image_url]}

- if layout == "one-banner"
	.single-banner-container.col-xl-3.col-lg-3
		.positioning
			- if first_banner_index == default_banner_index
				= render partial: 'shared/banner', locals: {default: true}
			- else
				= render partial: 'shared/banner', locals: {default: false, site_url: BANNERS[first_banner_index][:site_url], image_url: BANNERS[first_banner_index][:image_url]}