- if default == true
	= link_to contact_us_path, class: 'banner default-banner' do
		%h6= t('.banner_content_one')
		%buttton.contact-us-button= t('.contact_us_button')
- else
	- background_style = banner_background_style image_url
	.banner.clickable{style: background_style, redirect_link: site_url}