.pagination
  %ul.arrows
    %li
      %a.go-back-10pages{:href => ""}
        go back 10 pages
        %i.fa.fa-angle-double-left
    %li
      %a.previous-page{:href => ""}
        %i.fa.fa-chevron-left
    %li
      %a.next-page{:href => ""}
        %i.fa.fa-chevron-right
    %li
      %a.go-ahead-10pages{:href => ""}
        %i.fa.fa-angle-double-right>
        go ahead 10 pages
  %ul.page-numbers
    %li
      %a.first-page{:href => "#"} First
    %li
      %a.current-page{:href => "#"} 1
    %li
      %a{:href => "#"} 2
    %li
      %a{:href => "#"} 3
    %li
      %a{:href => "#"} 4
    %li
      %a{:href => "#"} 5
    %li
      %a{:href => "#"} ...
    %li
      %a{:href => "#"} 35
    %li
      %a.last-page{:href => "#"} Last