- friendship_id = relationship ? relationship.id : nil
- friendship_status = relationship_status relationship

.friendship-status-container
	-case friendship_status
		-when "none" 		
			= render partial: 'friend_requests/add_friend', locals: {friend_id: friend_id}
		-when "sent" 
			= render partial: 'friend_requests/sent_friend_request'
		-when "incoming"
			= render partial: 'friend_requests/accept_friend_request', locals: {friend_request_id: friendship_id}
		-when "friendship"
			= render partial: 'friend_requests/friendship_exists'

= render partial: 'shared/relationship_dropdown', locals: {friendship_status: friendship_status, recipient_id: friend_id, user_id: current_user.id, friendship_id: friendship_id }