- user = friend_request.user

%li{id: "friend-request-#{friend_request.id}", class: "friend-request"}

	=link_to user_path(id: user.id), class: 'hyperlink' do 
		= show_profile_illustration(user, user.current_profile_picture, ["profile-image-invitation"], true)
		.username=user.fullname

	.reply-to-invitation
		= button_to friend_request_path(id: friend_request.id), method: :patch, remote: true, class: "accept-invitation" do
			%i.fa.fa-check
		
		= button_to friend_request_path(id: friend_request.id), method: :delete, remote: true, class: "reject-invitation" do
			%i.fa.fa-times