.modal-img-upload.profile-picture	
	.content-wrapper
		%h4= t('general.upload_profile')
		%p= t('general.upload_image_instruction')
		.close-button.grey
			%i.fa.fa-times-circle
		.img-wrapper
			%img
			= form_for([current_user, @profile_picture], multipart: true) do |f|
				= render partial: 'shared/image_upload_button'

		= render partial: 'profile_pictures/form'

.modal-img-upload.cover-picture
	.content-wrapper
		%h4= t('general.upload_cover')
		%p= t('general.upload_image_instruction')
		.close-button.grey
			%i.fa.fa-times-circle
		.img-wrapper
			%img
			= form_for([current_user, @profile_picture], multipart: true) do |f|
				= render partial: 'shared/image_upload_button'

		= render partial: 'cover_pictures/form'

.modal-img-upload.picture
	.content-wrapper
		%h4= t('general.upload_home')
		%p= t('general.upload_image_instruction')
		.close-button.grey
			%i.fa.fa-times-circle
		.img-wrapper
			%img
			= form_for([current_user, @profile_picture], multipart: true) do |f|
				= render partial: 'shared/image_upload_button'

		= render partial: 'pictures/form'