- tabilocal_encoded_url = root_url
- twitter_message = 'A%20new%20website%20for%20travelers%20and%20language%20learners'

.modal-invitation
	.content-wrapper
		.close-button.grey
			%i.fa.fa-times-circle
		.invitation-type
			%h4= t('.share_email')
			=render 'invitations/form'
		.invitation-type
			%h4= t('.share_socialmedia')

			%a.share-button.facebook#share-fb{href: "https://www.facebook.com/sharer/sharer.php?u=#{tabilocal_encoded_url}", target:"_blank"}
				%i.fa.fa-facebook
				= t('.share_button_facebook')
			
			%a.share-button.twitter#share-twitter{href: "https://twitter.com/intent/tweet?url=#{tabilocal_encoded_url}&text=#{twitter_message}", target:"_blank"}
				%i.fa.fa-twitter
				= t('.share_button_twitter')
