.language-selector
  .selected-language
    %i.fa.fa-caret-down
    %span
      = print_locale_name  
  .unselected-language
    =link_to 'English', url_for(params.merge({locale: 'en'}))
  .unselected-language
    =link_to 'Español', url_for(params.merge({locale: 'es'}))
  .unselected-language    
    =link_to '日本語', url_for(params.merge({locale: 'ja'}))