- loading = three_dot_formatter t('general.loading')
- sending = three_dot_formatter t('general.sending')
= form_for(:session, url: login_path, html: {"novalidate" => "novalidate"}, remote: true) do |f|
	.login-input-wrapper
		= f.email_field :email, class: 'login-input', placeholder: t('general.email')
		= f.password_field :password, class: 'login-input', placeholder: t('general.password')
	
	.remember-me-button
		= f.check_box :remember_me, id: 'remember_me', checked: true
		= f.label t('.remember_me'), for: 'remember_me'

	.forgot-password-button
		= t('.forgot_password')

	= f.submit t('general.log_in'), class: 'login-button', data: {disable_with: loading}

	=link_to (t('general.sign_up')), new_user_path, class: 'signup-button'

-# logic should be in a different file
-# will be moved when code is refactored
.modal-forgot-password
	.content-wrapper
		.close-button.grey
			%i.fa.fa-times-circle
		%h4= t('.forgot_password_header')
		%p= t('.forgot_password_instruction')
		= form_for(:password_reset, url: password_resets_path, html: {"novalidate" => "novalidate"}, remote: true )do |f|
			= f.email_field :email, placeholder: t('general.email')
			= f.submit t('general.send_email'), data: {disable_with: sending}