-if cover_picture = @user.current_cover_picture
  -cover_picture_url = cover_picture.image.url
-else
  -cover_picture_url = nil
.profile-cover
  .coverphoto-container{style: coverphoto_styles(cover_picture_url)}
    - if !current_user?(@user)
      .cover-relationship-container
        = render partial: 'shared/friendship_status', locals: {relationship: @relationship, friend_id: @user.id}

    = show_profile_illustration @user, @user.current_profile_picture, ["profile-image-main"], true

    .profile-summary
      .username
        %span= @user.firstname
        %span= @user.lastname
        -if current_user?(@user)
          %i.fa.fa-info-circle
          .popup-message-username= t('.popup_message')

      %a.number-of-friends.numbers
        %span= @user.friends_count
        %span= t('.friends')
      %a.number-of-posts.numbers
        %span= @user.posts_count
        %span= t('.posts')
      %a.number-of-stories.numbers
        %span= @user.stories_count
        %span= t('.stories')


    - if current_user?(@user)
      .upload-profilephoto-button
        %i.fa.fa-camera{'photo-model' => 'profile-picture'}

      .upload-coverphoto-button
        %i.fa.fa-picture-o{'photo-model' => 'cover-picture'}

  %ul.side-menubar

    -if controller.controller_name == 'users'
      %li#users.current
        = link_to @user do 
          %i.fa.fa-search
          %span= t('.profile')
    -else
      %li#users
        = link_to @user do 
          %i.fa.fa-search
          %span= t('.profile')

    -if controller.controller_name == 'photos'
      %li#photos.current
        = link_to user_photos_path(user_id: @user.id) do
          %i.fa.fa-camera
          %span= t('.photos')
    -else
      %li#photos
        = link_to user_photos_path(user_id: @user.id) do
          %i.fa.fa-camera
          %span= t('.photos')

    -if controller.controller_name == 'friendships'
      %li#friendships.current
        = link_to user_friendships_path(user_id: @user.id) do 
          %i.fa.fa-users
          %span= t('.friends')
    -else
      %li#friendships
        = link_to user_friendships_path(user_id: @user.id) do 
          %i.fa.fa-users
          %span= t('.friends')

    -if controller.controller_name == 'replies'
      %li#replies.current
        = link_to user_replies_path(user_id: @user.id) do
          %i.fa.fa-comments-o
          %span= t('.posts')
    -else
      %li#replies
        = link_to user_replies_path(user_id: @user.id) do
          %i.fa.fa-comments-o
          %span= t('.posts')

    -if controller.controller_name == 'stories'
      %li#stories.current
        = link_to user_stories_path(user_id: @user.id) do
          %i.fa.fa-heart-o
          %span= t('.stories')
    -else
      %li#stories
        = link_to user_stories_path(user_id: @user.id) do
          %i.fa.fa-heart-o
          %span= t('.stories')

    %li#message
      -if current_user?(@user)
        = link_to conversations_path do
          %i.fa.fa-envelope-o
          %span= t('.message')
      -else
        = link_to conversations_path(message_to: @user.id) do
          %i.fa.fa-envelope-o
          %span= t('.message')

  .modal-report-user
    .content-wrapper
      .close-button.white
        %i.fa.fa-times
      %p.delete-account-content Please specify why you are reporting (this user).
      = form_for @invitation, remote: true do |f|
        = f.text_area :content, rows: 10
      .submit-report-button Thank you for submitting your report

  - if current_user?(@user)
    = render partial: 'shared/image_upload_modals'