.relationship-menu.dropdown-trigger
	-#This div is for consistency in JavaScript code
	%div
		%i.fa.fa-list-ul
		%ul.dropdown-content
			-if friendship_status == 'friendship' 
				%li 
					= link_to new_story_path(check_story_exists: true, recipient_id: recipient_id) do 
						= t('shared.friendship_status.write_story')
				%li 
					= button_to t('shared.friendship_status.unfriend'), user_friendship_path(id: friendship_id, user_id: user_id), method: :delete, remote: true
				%li 
					%button.report-user-button= t('shared.friendship_status.report')
			-else
				%li
					%button.report-user-button= t('shared.friendship_status.report')
