= form_for(@user_language) do |f|
	= render 'shared/error_messages', object: f.object
	= f.hidden_field :user_id, value: current_user.id

	%p 
		Select Language
		= f.collection_select(:language_id, all_languages, :id, :name)

	%p 
		Select Level
		= f.number_field(:level, in: 1..6, step: 1.0)
	%p 
		Select Category
		= f.radio_button(:category, "K")
		= f.label(:learn_category, "I know this language ")
		= f.radio_button(:category, "L")
		= f.label(:speaks_category, "I'm learning this language")

	= f.submit "Save"