.modal-welcome-tour
	.content-wrapper
		.step.profile
			.icon-profile
				%i.fa.fa-user
			%h3= t('.profile')
			%p= t('.profile_line_one')
			%p= t('.profile_line_two')
			.snippet
				= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/welcome_tour_profile.png')

		.step.forum
			.icon-forum
				%i.fa.fa-comments-o
			%h3= t('.forum')
			%p= t('.forum_line_one')
			%p= t('.forum_line_two')
			.snippet
				= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/welcome_tour_forum.png')

		.step.inbox
			.icon-inbox
				%i.fa.fa-envelope-o
			%h3= t('.message')
			%p= t('.message_line_one')
			.snippet
				= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/welcome_tour_inbox.png')

			%p= t('.message_line_two')
			%ul
				%li= t('.message_condition_one')
				%li= t('.message_condition_two')
				%li= t('.message_condition_three')
				%li= t('.message_condition_four')
			/ .snippet
			/ 	= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/welcome_tour_inbox_2.png')

			.end-tour-button= t('.end_tour_button')

		.step-buttons-wrapper
			.previous-step-button
				%i.fa.fa-caret-left
				%span= t('.previous_button')
			.next-step-button
				%span= t('.next_button')
				%i.fa.fa-caret-right
		
		.step-count-wrapper 
			.step-count 1
			%span /3