/// <reference path="../typescript/jquery.d.ts" />
/// <reference path="./Alert.ts" />
/// <reference path="./EventEmitter.ts" />
/// <reference path="./ErrorHandler.ts" />
'use strict';

interface PaginatorOptions {
	baseUrl: string;
	currentPage: number;
	loadMoreBtn: string;
	htmlContainer: string;
	callback: ()=> void;
}

class Paginator {

	LOAD_MORE: string;
	LOADING: string;
	END_OF_RESULTS: string;
	QUERY_ERROR: string;

	baseUrl: string;
	currentPage: number;
	endOfResults: boolean;
	queryParams: string;
	eventEmitter: EventEmitter;
	errorHandler: ErrorHandler;
	
	$loadMoreBtn: JQuery;
	$htmlContainer: JQuery;

	constructor(initOptions: PaginatorOptions){
		this.LOAD_MORE = "<%= I18n.t('general.load_more') %>";
		this.LOADING = "<%= I18n.t('general.loading') + '...' %>";
		this.END_OF_RESULTS = "<%= I18n.t('general.no_more_content') %>";
		this.QUERY_ERROR = "<%= I18n.t('general.paginator_query_error') %>";
		
		this.baseUrl = initOptions.baseUrl;
		this.currentPage = initOptions.currentPage;
		this.endOfResults = false;
		this.queryParams = "";
		this.errorHandler = new ErrorHandler();

		this.$loadMoreBtn = $(initOptions.loadMoreBtn);
		this.$htmlContainer = $(initOptions.htmlContainer);

		this.$loadMoreBtn.on('click', () => this.fetchData(initOptions.callback) );
		this.eventEmitter = EventEmitter.getInstance();
	}

	fetchData(callback: ()=> void):void {
		this.disableButton();
		$.ajax({
			context: this,
			method: "GET",
			url: this.getFullUrl(),
			dataType: "html",
			success: function(data: any, textStatus: any, xhr: any){
				if (data !== " "){ /*rails 304*/
					this.incrementIndex();
					this.enableButton();
					this.appendData(data);
				} else {
					this.disableButton();
					this.removeButton();
					this.alertNoResults();
					this.markEndOfResults();
				}
			},
			error: function(){
				this.enableButton();
				this.errorHandler.notify({error: [this.QUERY_ERROR]});
			},
			complete: function(){
				this.eventEmitter.trigger('pagination:complete');
			}
		});
	}

	appendData(responseHtml: string):void {
		this.$htmlContainer.append(responseHtml);
	}

	disableButton():void {
		this.$loadMoreBtn.html(this.LOADING);
		this.$loadMoreBtn.attr("disabled", 'true');
	}

	enableButton():void {
		this.$loadMoreBtn.html(this.LOAD_MORE);
		this.$loadMoreBtn.removeAttr("disabled");
	}

	setQueryParams(queryParams: string): void {
		this.queryParams = queryParams;
	}

	resetPageCounter(): void {
		this.currentPage = 1;
	}

	getFullUrl(): string{
		return [this.baseUrl, "?", "page=", this.currentPage, this.searchParams()].join("");
	}

	searchParams(): string{
		if (window.location.search === ""){
			return "";
		} else {
			return "&" + window.location.search.substring(1);
		}
	}

	incrementIndex(): void{
		this.currentPage = this.currentPage + 1;
	}

	markEndOfResults(): void{
		this.endOfResults = true;
	}

	alertNoResults(): void {
		this.$htmlContainer.after(StaticMessage.print(this.END_OF_RESULTS, ['notice']));
	}

	removeButton(): void {
		this.$loadMoreBtn.remove();
	}

}