.event-container-index
	.event-header-index

		= link_to new_event_path, class: 'create-event-button' do
			%i.fa.fa-pencil
			%span= t('.create_event')

		.header-title= t('.event_header')
		%input.search-event{placeholder: t('.location_input')}

	.events-container
		.event-link
			= link_to new_event_path, class: 'event-photo-thumbnail hyperlink' do
				.event-photo-thumbnail
			.join-button Participar

			= link_to "Keep Calm and Vamos al Botellón.", event_path(id: 1),  class: "title hyperlink"

			.location
				%i.fa.fa-map-marker
				%span.venue.hyperlink
					Bar SPEAK EASY
				.address
					%span Suzuya Bldg. 3F, 2-14-1 Kita-Otsuka, Toshima-ku, Tokyo
			.date
				%i.fa.fa-clock-o
				%span lunes 10 de octubre de 2016, 13:00 - 16:00
			.number-of-participants
				%span.number 12
				%span.participants asistentes

		.event-link
			= link_to new_event_path, class: 'event-photo-thumbnail hyperlink' do
				.event-photo-thumbnail
			.edit-event-button Editar

			= link_to "Keep Calm and Vamos al Botellón.", event_path(id: 1),  class: "title hyperlink"

			.location
				%i.fa.fa-map-marker
				%span Lugar por decidir
			.date
				%i.fa.fa-clock-o
				%span lunes 10 de octubre de 2016, 13:00 - 16:00
			.number-of-participants
				%span.number 12
				%span.participants asistentes
