.event-container-show.grid-container
	.event-header-show
		.cover-photo-layer
		.header Aqui va el titulo del evento
		.join-button Participar
	
	.event-content
		.col-8.col-sm-12.col-xs-12
			.element-wrapper
				%i.fa.fa-map-marker
				.event-element.venue.hyperlink
					Bar SPEAK EASY
				.event-element.address
					Suzuya Bldg. 3F, 2-14-1 Kita-Otsuka, Toshima-ku, Tokyo

			.element-wrapper
				%i.fa.fa-clock-o
				.event-element.date Lunes 10 de octubre de 2016, 13:00 - 16:00

			.element-wrapper
				.event-element.description
					ENTREE GRATUITE	
				.event-element.description
					Un samedi par mois a lieu la grosse soirée française du Bar Speak Easy ! Que vous soyez un de nos habitués ou fraichement arrivé au Japon, rien de tel que cet évènement pour rencontrer du monde et venir faire la fête avec la communauté francophone de Tokyo !
				.event-element.description
					Nous avons du cidre, vin Francais ainsi que des snacks, et de la bonne baguette de pain ! Presque comme chez nous !	
				.event-element.description
					Si vous êtes un japonais s'intéressant à la culture française, venez rencontrer des Français et faites vous de nouveaux amis sur Tokyo. Échangez, discutez, buvez en bonne compagnie le temps d'une soirée.	
				.event-element.description
					Tous les cocktails à ¥500, bières à ¥600 ! Accès Speak easy: http://speakeasy-tokyo.com/?page_id=16

		.col-4.col-sm-12.col-xs-12
			.element-wrapper
				.event-element
					.element-title
						Organizadores
					.organizer.hyperlink
						%span.profile-image-event R
						%span.username Reiko Nakagawa
					.organizer.hyperlink
						%span.profile-image-event R
						%span.username Reiko Nakagawa
					.organizer.hyperlink
						%span.profile-image-event R
						%span.username Reiko Nakagawa

			.element-wrapper
				.event-element
					.element-title
						%span 20
						%span asistentes
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R
					%span.participant.hyperlink.profile-image-event R

		.col-12
			.element-wrapper
				.event-element
					.element-title
						Discussion
					.event-element.description
						Un samedi par mois a lieu la grosse soirée française du Bar Speak Easy ! Que vous soyez un de nos habitués ou fraichement arrivé au Japon, rien de tel que cet évènement pour rencontrer du monde et venir faire la fête avec la communauté francophone de Tokyo !
					.event-element.description
						Nous avons du cidre, vin Francais ainsi que des snacks, et de la bonne baguette de pain ! Presque comme chez nous !	
					.event-element.description
						Si vous êtes un japonais s'intéressant à la culture française, venez rencontrer des Français et faites vous de nouveaux amis sur Tokyo. Échangez, discutez, buvez en bonne compagnie le temps d'une soirée.	
					.event-element.edit-description
						= render partial: 'layouts/editor_toolbar'
						%input.input-description
						.preview-container