-friend = friendship.friend
-user = friendship.user

%div{class: 'friendship', id: "#{friendship.id}"}
	-if current_user?(user)
		= render partial: 'shared/relationship_dropdown', locals: {friendship_status: "friendship", user_id: current_user.id, recipient_id: friend.id, friendship_id: friendship.id}

	= link_to user_path(id: friend.id), class: 'profile-image-wrapper' do
		= show_profile_illustration friend, friend.current_profile_picture, ["profile-image-friendship hyperlink"], true
	.username.hyperlink= link_to "#{friend.fullname}", user_path(id: friend.id)

	.user-summary
		.language
			%i.fa.fa-comment-o
			= languages_formatter friend.languages
		.home
			%i.fa.fa-home
			%span= place_formatter friend.current_residence, "with_country"