<% if on_friend_profile?(@friend_id) %>
	Tabilocal.friendRequests.
		updateStatusContainer(
			"<%= escape_javascript( render partial: 'shared/friendship_status', locals: {relationship: nil, friend_id: @friend_id} ) %>"
			);
<% end %>

var noticeHtml = "<%= escape_javascript (render partial: 'shared/alert_message', locals: {message: t('alerts.notice.friends.me_no_friends'), class_name: 'notice', fixed: false, static: true}) %>";

<% if on_friendships_page?(current_user.id) %>
	Tabilocal.friendships.removeFriendshipById("<%= escape_javascript(@friendship.id.to_s) %>", noticeHtml);
<% end %>

<% if on_friendships_page?(@friend_id) %>
	Tabilocal.friendships.removeFriendshipById("<%= escape_javascript(@inverse_friendship_id.to_s) %>");
<% end %>

Tabilocal.notificationHandler.create("<%= j I18n.t('alerts.success.friendship.destroyed') %>", "success");