= render partial: 'shared/profile_cover'
.friendships-container.profile-panels-container
	.profile-panel
		%h5= t('shared.profile_cover.friends')
		.content
			-if @friendships.length > 0
				= render @friendships
			-else
				-if current_user?(@user)
					= render partial: 'shared/alert_message', locals: {message: t('alerts.notice.friends.me_no_friends'), class_name: "notice", fixed: false, static: true}
				-else
					= render partial: 'shared/alert_message', locals: {message: t('alerts.notice.friends.user_no_friends'), class_name: "notice", fixed: false, static: true}