= form_for @invitation, remote: true do |f|
	= f.text_field :recipient_name, placeholder: t('.recipient_name')
	= f.text_field :email, placeholder: t('.recipient_email')
	= f.text_area :content, rows: 4, value: t('.message')
	= f.text_field :sender_name, placeholder: t('.sender_name')
	= f.submit t('.send_invitation_button'), class: 'send-invitation-button'