- uploading = three_dot_formatter t('general.uploading')
= form_for([current_user, @profile_picture], multipart: true) do |f|
	= f.file_field :image

	.select-img-button.button=t('general.choose_another_image')
	= f.submit t('general.upload_image'), class: 'upload-img-button', data: {disable_with: uploading}