.profile-picture
	= image_tag profile_picture.image.url(:medium)
	-# Add logic to only allow set unset images	
	= link_to "Set As Profile Picture", profile_picture_path(id: profile_picture.id), method: :patch
	= link_to "Delete Picture", profile_picture_path(id: profile_picture.id), method: :delete