.banners-container {
  height: 840px;
}

.single-banner-container {
  height: 420px;
}

.banners-container,
.single-banner-container {
  margin: 20px auto;

  .positioning {
    .banner {
      position: relative;
      width: 240px; height: 400px;
      margin-bottom: 20px;
      @include background-size(cover);
      border: 5px solid #fff;
      @include box-shadow(0 0 10px #bbb);
      z-index: 1;

      &.clickable {
        cursor: pointer;
      }

      &.default-banner {
        background: url("https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/banner-min.jpg") no-repeat center bottom;
        display: block;

        &:before {
          content: '';
          position: absolute;
          left: 0; right: 0; top: 0; bottom: 0;
          background-color: rgba(0,0,0,.1);
          z-index: -1;
        }
      }

      h6 {
        position: absolute;
        text-align: center;
        right: 0; left: 0; top: 0;
        width: 100%;
        line-height: 1.5;
        margin: auto;
        padding: 25px 15px;
        font-size: 20px;
        font-family: 'Marmelad', sans-serif, 'メイリオ', Meiryo;
        letter-spacing: 1.2px !important;
        font-weight: 800;
        color: #fff;
        background-color: rgba(52,114,102,.7);
      }

      .contact-us-button {
        @extend .btn;
        position: absolute;
        right: 0; left: 0; bottom: 30px;
        width: 190px; height: 38px;
        line-height: 34px;
        margin: auto;
        font-size: 16px;
        border: 3px solid rgba(255,255,255,.8);
        color: #fff;
        font-weight: 800;
        @include border-radius(0);
        letter-spacing: 3px !important; 
        text-transform: uppercase;

        &:hover {
          background-color: #347266;
        } 
      }
    }
  }
}

.fixed-to-bottom {
  position: fixed;
  top: auto; bottom: 20px;
}

.relative {
  position: relative;
}

@media screen and (max-width: $breakpoint1) {
  .banners-container,
  .single-banner-container {
    display: none;
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .banners-container,
  .single-banner-container {
    display: none;
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .banners-container,
  .single-banner-container {
    display: none;
  }
}

@media screen and (min-width: $breakpoint3 + 1px) and (max-width: $breakpoint4) {
  .banners-container,
  .single-banner-container {
    .positioning,
    .fixed-to-bottom {
      .banner {
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: $breakpoint4 + 1px) and (max-width: $breakpoint5) {
  .banners-container,
  .single-banner-container {
    .positioning,
    .fixed-to-bottom {
      .banner {
        margin-left: 40px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint5 + 1px) and (max-width: $breakpoint6) {
  .banners-container,
  .single-banner-container {
    .positioning,
    .fixed-to-bottom {
      .banner {
        margin-left: 70px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint6) {
  .banners-container,
  .single-banner-container {
    .positioning,
    .fixed-to-bottom {
      .banner {
        margin-left: 100px;
      }
    }
  }
}
