footer {
  text-align: center;
  background-color: #f0f0f0;

  .site-map-container {
    display: block;
    vertical-align: top;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 10px auto;
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,.6);

    a {
      display: inline-block;
      margin: 8px;
      font-size: 16px;

      &:hover {
        color: #777;
      }
    }
  }

  .signup-login {
    text-align: center;
    clear: both;
    margin: 0 auto 20px auto;

    a {
      @extend .btn;
      display: inline-block;
      width: 200px; height: 36px;
      line-height: 32px;
      background-color: #fff;
      border: 2px solid;
      color: #555;
      font-weight: 800 !important;

      &.footer-signup-button {
        &:hover,
        &:focus {
          background-color: #ED6A5A;
          border-color: #ED6A5A;
          color: #fff;
        }
      } 

      &.footer-login-button {
        &:hover,
        &:focus {
          background-color: #0091EA;
          border-color: #0091EA;
          color: #fff;
        }
      }
    }
  }

  .copyright {
    height: 50px;
    margin-top: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: $breakpoint1) {
  .site-map-container {
    a {
      display: inline-block;
      margin: 5px 10px;
    }
  }
  .signup-login {
    .footer-signup-button,
    .footer-login-button {
      display: block;
      margin: 0 auto 15px auto;
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .site-map-container {
    a {
      display: inline-block;
      margin: 5px 10px;
    }
  }

  .signup-login {
    .footer-signup-button,
    .footer-login-button {
      display: inline-block;
      margin: 0 1% 15px 1%;
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .signup-login {
    .footer-signup-button,
    .footer-login-button {
      display: inline-block;
      margin: 0 2% 15px 2%;
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .signup-login {
    .footer-signup-button,
    .footer-login-button {
      display: inline-block;
      margin: 0 2% 15px 2%;
    }
  }
}