/* >> MODAL */

.modal {
  display: none;
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  padding-bottom: 100px;
  background-color: rgba(0,0,0,.8);
  overflow-y: auto;
  z-index: 10000;

  .content-wrapper {
    position: absolute;
    top: 50px; right: 0; left: 0;
    width: 90%;
    max-width: 700px;
    margin: 0 auto 100px auto;
    text-align: center;
    @include border-radius(3px);

    .close-button {
      position: absolute;
      top: -10px; right: 30px;
      margin: 15px -25px 0 0;
      cursor: pointer;
      @include transition(all 0.3s ease);

      &.white {
        color: #fff;

        &:hover {
          color: #ccc;
        }
      }

      &.grey {
        color: #555;

        &:hover {
          color: #333;
        } 
      }

      i {
        font-size: 30px;
      }
    }
  }
}

/* >> MODAL */



/* >> WELCOME TOUR MODAL */

.modal-welcome-tour {
  @extend .modal;
  background-color: rgba(0,0,0,.85);
/*   display: block; */
  
  .content-wrapper {
    text-align: center;
    color: #F0F3BD;

    .step {
      &.forum,
      &.inbox {
        display: none;
      }
      /* this is to make sure .step.forum and .step.inbox won't appear on page load */

      div[class^="icon"] {
        display: inline-block;
        float: left;
        height: 70px;
        margin: 0 20px 15px 0;
        color: #FFD147;

        i {
          line-height: 70px;
          font-size: 2.25em
        }
      }

      h3 {
        display: inline-block;
        float: left;
        line-height: 70px;
        letter-spacing: 1.2px;
        font-family: $marmelad-font-family;
      }

      p {
        text-align: left;
        clear: both;
        width: 90%;
        margin: 10px auto;
      }

      ul {
        width: 80%;
        margin: 10px auto; 
        text-align: left;
        list-style: circle outside none;

        li {
          line-height: 1.5;
          font-size: 15px;
          font-weight: 800;
          letter-spacing: 1.5px;
        }
      }

      .snippet {
        height: 300px;
        margin: 40px auto;
        overflow-y: auto;
        border: 2px solid #fff;
        font-size: 0;

        img {
          width: 100%;
        }
      }

      .end-tour-button {
        @extend .btn;
        display: inline-block;
        margin: 40px auto;
        height: 40px;
        line-height: 40px;
        background-color: #00A896;

        &:hover {
          background-color: #008275;
        }
      }
    }

    .step-buttons-wrapper {
      float: left;
      font-size: 0;

      .next-step-button,
      .previous-step-button {
        @extend .btn;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        @include border-radius(0 !important);
        background-color: #F0F3BD;
        color: #444;
        letter-spacing: 1px !important;
        font-family: $marmelad-font-family;
        font-size: 13px;

        &:hover {
          background-color: #B7FFD6;
        }

        span {
          font-weight: 800;
        }
      }

      .next-step-button {
        i {
          margin-left: 6px;
        }
      }

      .previous-step-button {
        i {
          margin-right: 6px;
        }
      }
    }

    .step-count-wrapper {
      float: right;

      .step-count {
        display: inline-block;
        font-size: 25px;
      }

      span {
        font-size: 16px;
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {

}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {

}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {

}

@media screen and (min-width: $breakpoint3 + 1px) {

}

/* << WELCOME TOUR MODAL */