/* >> COMMON CSS FOR OFFLINE/ONLINE NAVBARS */

.navbar {
  z-index: 100;

  li {
    display: inline-block;

    a {
      display: inline-block;
    }

    i {
      display: inline-block;
    }
  }
}

/* << COMMON CSS CODE FOR OFFLINE/ONLINE NAVBARS */



/* >> OFFLINE NAVBAR */

.screen-lock {
  position: fixed;
}

.grayscale-background {
  @extend .grayscale;  
}

.offline-navbar-background {
  width: 100%; height: 95px;
  background-color: #695D46;
  position: absolute;
  z-index: -2;
}

.offline-navbar {
  position: relative;
  display: block;
  width: 100%; height: 95px;
  text-align: center;
  z-index: 1;

  .offline-burger-icon {
    position: absolute;
    top: 20px; left: 20px;
    cursor: pointer;

    i {
      margin: 10px 0;
      font-size: 35px;
      color: #fff;
      @include text-shadow(0 0 5px rgba(0,21,31,.5));
    }
  }

  .offline-navbar-logo-wrapper {
    position: absolute;
    width: 50px;
    cursor: pointer;

    .offline-navbar-logo {
      width: 100%;
      @include filter(drop-shadow(0 0 5px rgba(0,21,31,.5)));
    }
  }

  ul.slidein-menu {
    .close-button {
      @extend .btn;
      position: absolute;
      top: 20px; right: 20px;
      padding: 0 !important;
      color: #fff;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        color: #FFECB3;
      }
    }

    li {
      font-size: 17px;
      font-weight: 800;
      color: #fff;
      letter-spacing: .5px;
      cursor: pointer;

      &:hover {
        color: $main-color;
      }

      a {
        color: #fff;
        font-size: 17px;

        &:hover {
          color: $main-color;
        }
      }
    }
  }

  .language-selector {
    position: absolute;
    top: 20px; right: 20px;
    text-align: center;
    cursor: pointer;
    width: 100px;
  
    .selected-language {
      padding: 15px 0;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #fff;
      display: inline-block;
      @include text-shadow(0 0 5px rgba(0,21,31,.8));
    }

    .unselected-language {
      display: none;
      background-color: rgba(255,255,255,0.9);

      &:hover {
        background-color: #ffeb3b;
      }

      a {
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 800;
        color: #000;
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .offline-navbar {
    padding: 20px 10px;

    .offline-navbar-logo-wrapper {
      right: 50%;
      margin-right: -25px;
    }

    ul.slidein-menu {
      display: none;
      position: fixed;
      top: 0;
      width: 250px; height: 100%;
      padding: 60px 20px;
      background-color: #FFB74D;
      text-align: left;
      z-index: 1;

      li {
        margin: 15px 0;
        @include text-shadow(0);

        &:hover {
          color: #555;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .offline-navbar {
    padding: 20px 30px;

    .offline-navbar-logo-wrapper {
      right: 50%;
      margin-right: -25px;
    } 

    ul.slidein-menu {
      display: none;
      position: fixed;
      top: 0;
      width: 250px; height: 100%;
      padding: 100px 20px;
      background-color: #FFB74D;
      text-align: left;
      z-index: 1;

      li {
        margin: 15px 0;
        @include text-shadow(0); 

        &:hover {
          color: #555;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .offline-navbar {
    padding: 20px 30px;

    .offline-burger-icon {
      display: none;
    }

    ul.slidein-menu {
      display: block;
      position: relative;
      top: 15px;
      z-index: -1;
      
      .close-button {
        display: none;
      }

      li {
        margin: 0 20px;
        @include text-shadow(0 0 5px rgba(0,21,31,.8)); 
      }      
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .offline-navbar {
    padding: 20px 30px;

    .offline-burger-icon {
      display: none;
    }

    ul.slidein-menu {
      display: block;
      position: relative;
      top: 15px;
      z-index: -1;
      
      .close-button {
        display: none;
      }

      li {
        margin: 0 3%;
        @include text-shadow(0 0 5px rgba(0,21,31,.8)); 
      }      
    }
  }
}

/* << OFFLINE NAVBAR */



/* >> ONLINE NAVBAR */

.online-navbar {
  position: fixed;
  top: 0;
  width: 100%; height: 40px;
  background-color: #fff;
  @include box-shadow(0 0 4px rgba(100,100,100,.6));

  a {
    font-family: $helvetica-font-family;
  }

  .online-navbar-logo-wrapper {
    position: absolute;
    width: 25px;
    padding: 10px 0;
    top: 0;

    img {
      width: 100%;
    }
  }

  .invite-friends-button {
    @extend .btn;
    position: absolute;
    top: 0;
    padding: 0 20px;
    height: 30px;
    line-height: 26px;
    border: 2px solid #fff;
    @include border-radius(3px);
    text-transform: none;
    font-size: 16px;

    &:hover {
      border-color: #ED6A5A;

      a {
        color: #ED6A5A;
      }
    }

    a {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  .caret-down {
    position: absolute !important;
    top: 0;
  }

  .h-list {
    position: relative;
    margin: 6px 3px 0 3px;
    height: 28px;
    line-height: 28px;
    @include border-radius(3px);

    &:nth-child(2) {
      margin-right: 3%; 
    }

    &:nth-child(5) {
      margin-right: 10%; 
    }

    &.profile-icon {
      width: auto !important;
      text-align: center;

      a {
        .profile-image-icon {
          position: absolute;
          left: 0; right: 0;
          @include border-radius(3px);
          @include background-size(cover);
          background-repeat: no-repeat;
          background-position: center center;
          background-color: $main-color;
          text-align: center;
          color: #fff;
          display: block;
          width: 28px; height: 28px;
          margin: auto;
          line-height: 30px;
          font-weight: 800;
        }
      }
    }

    .menu-button {
      cursor: pointer;
      height: 28px;

      &:hover {
        color: $main-color;
      }

      i {
        position: absolute;
        left: 0; right: 0;
        vertical-align: middle;
        font-size: 17px;
        line-height: 28px;
      } 

      span {
        top: -8px; left: 50%;
        margin-left: 10px;
        position: absolute;
        font-size: 10px;
      } 

      .dropdown-content {
        position: absolute;
        top: 40px;
        display: none;
        background-color: #fff;
        @include box-shadow(0 0 4px rgba(100,100,100,.6));
        @include border-radius(3px);
        cursor: auto;
        z-index: 100;

        &#friend-request-dropdown {
          width: 240px;

          li.no-friend-requests {
            padding: 15px 10px;
            font-size: 14px;
            line-height: 1.2;
          }
        }
        
        &#notification-dropdown {
          width: 240px;
          text-align: left;

          li {
            width: 100%;

            .mark-read-button {
              display: block;
              width: 100%;
              padding: 5px;
              text-align: right;
              text-decoration: none;
              border-bottom: 1px solid #ccc;
              color: #777;
              font-size: 13px;
              cursor: pointer;

              &:hover {
                color: #333;
              }
            } 

            .see-all-button {
              @extend .btn;
              display: block;
              height: 36px;
              line-height: 36px;
              text-align: center;
              background-color: #dfd3b6;
              color: #555;
              font-size: 16px;
              font-weight: 800;

              &:hover {
                background-color: #eaddc0;
              }
            } 

            .no-notifications-notice {
              padding: 15px 10px;
              font-size: 14px;
              line-height: 1.2;
            }
          }
        }
        
        &#navigation {
          width: 160px;
          right: 0;
          padding: 10px 0;

          .v-list {
            line-height: 2.3;

            a {
              padding: 5px 10px;
            }
          }
        } 

        .v-list {
          width: 100%;
          margin: 5px 0;
          text-align: left; 

          &:hover {
            background-color: #ffe082;
          } 

          a {
            width: 100%;
            padding: 0 10px;
            text-align: left;
            vertical-align: middle;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.navbar-second-row {
  position: fixed;
  width: 100%;
  background-color: #CFBAE1;
  z-index: 99;
  @include box-shadow(0 0 4px rgba(100,100,100,.6));
}

.online-navbar-blank {
  display: block;
}

.modal-invitation {
  @extend .modal;

  .content-wrapper {
    padding: 20px;
    background-color: #E4FDE1;
        
    .invitation-type {
      display: inline-block;
      vertical-align: top;
      margin: 0 auto 10px auto;
      padding: 5px 0;
      width: 100%;
      max-width: 600px;

      h4 {
        margin: 10px 0;
        letter-spacing: 1.2px;
        font-family: $marmelad-font-family;
      } 

      input,
      textarea {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        font-size: 14px;
        border: 2px solid #B6CCAB;
      } 

      .send-invitation-button {
        @extend .btn;
        border: none;
        height: 38px;
        margin: 10px 0;
        background-color: #27B261;
        color: #fff;
        font-size: 15px;
        
        &:hover {
          background-color: #219953;
        }
      } 

      .share-button {
        @extend .btn;
        display: inline-block;
        width: 48%; height: 36px;
        line-height: 36px;
        margin: 5px 0;
        font-size: 14px;
        color: #fff;

        i {
          font-size: 18px;
        }

        &.facebook {
          float: left;
          background-color: #3b5998;

          &:hover {
            background-color: #2C4272;
          }
        }

        &.twitter {
          float: right;
          background-color: #55acee;  

          &:hover {
            background-color: #478FC6;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .online-navbar {
    padding: 0 10px;
    text-align: center;

    li {
      a {
        width: 100%;
      }
    }

    .invite-friends-button {
      margin: 5px 15%;
    }

    .caret-down {
      right: 10px;
      width: 40px;
    }

    .second-row-item {
      margin: 48px 1px 0 1px;
      padding: 0;
      width: 18%;
      background-color: #fff;
      text-align: center;
    }

    .h-list:nth-child(2),
    .h-list:nth-child(5) {
      margin-right: 0; 
    }

    .h-list:nth-child(2) {
      .dropdown-content {
        left: -40px;
      }
    }
  }

  .navbar-second-row,
  .online-navbar-blank {
    height: 82px;
  }

  .share-button {
    span {
      display: none;
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .online-navbar {
    padding: 0 10px;
    text-align: center;

    li {
      a {
        width: 100%;
      }
    }

    .invite-friends-button {
      margin: 5px 20%;
    }

    .caret-down {
      right: 10px;
      width: 40px;
    }

    .second-row-item {
      margin: 48px 1px 0 1px;
      padding: 0;
      width: 18%;
      background-color: #fff;
      text-align: center;
    }
    
    .h-list:nth-child(2),
    .h-list:nth-child(5) {
      margin-right: 0; 
    }
  }

  .navbar-second-row,
  .online-navbar-blank {
    height: 82px;
  }

  .share-button {
    span {
      display: inline-block;
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .online-navbar {
    padding: 0 30px;
    text-align: right;

    li {
      &.profile-icon {
        width: 50px;
      }

      .menu-button {
        width: 45px;
        text-align: center;
      }
    }

    .invite-friends-button {
      margin: 5px 20%;
    }
    
    .caret-down {
      right: 30px;
    }
  }
  
  .navbar-second-row,
  .online-navbar-blank {
    height: 40px;
  }

  .share-button {
    span {
      display: inline-block;
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .online-navbar {
    padding: 0 30px;
    text-align: right;

    li {
      &.profile-icon {
        width: 50px;
      }

      .menu-button {
        width: 45px;
        text-align: center;
      }
    }

    .invite-friends-button {
      margin: 5px 20%;
    }
    
    .caret-down {
      right: 30px;
    }
  }
  
  .navbar-second-row,
  .online-navbar-blank {
    height: 40px;
  }

  .share-button {
    span {
      display: inline-block;
    }
  }
}

/* << ONLINE NAVBAR */