- processing = three_dot_formatter t('general.processing')
= form_for @story, html: {class: 'text-input'}, remote: true do |f|
	= f.text_area :content, rows: 10, id: 'story_content'
	.preview-container
	= f.hidden_field :recipient_id, value: @user.id
	= f.hidden_field :user_id, value: current_user.id
	= f.submit t('.submit_story_button'), class: 'submit-story-button btn', data: {disable_with: processing}