-user = story.user
-recipient = story.recipient
%div{class: "story", id: "story-#{story.id}"}
	
	- if story.within_deletable_timeframe? && story.author?(current_user)
		=link_to t('general.delete'), story_path(id: story.id), class: 'delete-story-button', method: :delete, remote: true
	- if story.author?(current_user)
		=link_to t('general.edit_button'), edit_story_path(id: story.id), class: 'edit-story-button'

	.posted-date= time_ago_in_words story.created_at

	.header
		- if story_for_user
			.from De:
			.username.hyperlink
				= link_to "#{user.fullname}", user_path(id: user.id)

			.profile
				= link_to user_path(id: user.id) do
					= show_profile_illustration user, user.current_profile_picture, ['profile-image-story hyperlink'], true
				.language
					%i.fa.fa-comment-o
					%span= languages_formatter user.languages
				.home
					%i.fa.fa-home
					%span= place_formatter user.current_residence, "with_country"

		-else
			.to Para:
			.username.hyperlink
				= link_to "#{recipient.fullname}", user_path(id: recipient.id)

			.profile
				= link_to user_path(id: recipient.id) do
					= show_profile_illustration recipient, recipient.current_profile_picture, ['profile-image-story hyperlink'], true
				.language
					%i.fa.fa-comment-o
					%span= languages_formatter recipient.languages
				.home
					%i.fa.fa-home
					%span= place_formatter recipient.current_residence, "with_country"


	.content.force-line-break
		= story.content.html_safe

	%input.story-text-input{value: story.content}

%hr