story = "<%= escape_javascript(render @story) %>";
story_form = "form.new_story";
story_list = ".stories-list";
story_exists = "<%= escape_javascript(render 'story_exists') %>";

$(story_list).append(story);
//appends new story
$(story_form).remove();
//removes the form
$(story_list).after(story_exists);
//renders the condition that a story already exists

