var noStoryHtml = "<%= j render partial: 'shared/alert_message', locals: {message: 'You haven\'t written any stories for other people.', class_name: 'notice', fixed: false, static: true} %>";

Tabilocal.stories.remove("<%= escape_javascript(@story_id.to_s) %>");
if (Tabilocal.stories.count() === 0){
	Tabilocal.stories.appendNoStoryMsg(noStoryHtml);
}