-user = @story.user
-recipient = @story.recipient

= render partial: 'shared/profile_cover'

.stories-wrapper.profile-panels-container
	.profile-panel
		%h5= t('.header')
				
		.edit-story.content
			= render partial: 'stories/form'