= render partial: 'shared/profile_cover'

.stories-wrapper.profile-panels-container
	.profile-panel
		%h5= t('.stories_panel_header')

		-if !current_user?(@user)
			.header-option
				.slidedown-trigger.question-button
					%i.fa.fa-pencil-square-o
				.slidedown-content
					.content-wrapper
						%h6= t('.definition_header')
						%p= t('.definition_content')
					%ul.content-wrapper
						%h6= t('.rules_header')
						%li
							%i.fa.fa-check-square-o
							= t('.rules_content_one')
						%li
							%i.fa.fa-check-square-o
							= t('.rules_content_two')
						%li
							%i.fa.fa-check-square-o
							= t('.rules_content_three')
						%li
							%i.fa.fa-check-square-o
							= t('.rules_content_four')
						%li
							%i.fa.fa-check-square-o
							= t('.rules_content_five')
					= link_to t('.create_story_button'), new_story_path(recipient_id: @user.id), class: 'create-story-button'

		.header-option
			.slidedown-trigger.switch-button
				%i.fa.fa-exchange
				
		.stories-me.content
			-if !current_user?(@user)
				%h6= t('.stories_user_header')
			-else
				%h6= t('.stories_me_header')

			-if @stories_written_for_user.count > 0
				= render partial: 'stories/story', collection: @stories_written_for_user, locals: {story_for_user: true}
			-else 

				-if !current_user?(@user)
					= render partial: 'shared/alert_message', locals: {message: t('.no_story_for_user'), class_name: "notice", fixed: false, static: true}
				-else
					= render partial: 'shared/alert_message', locals: {message: t('.no_story_for_me'), class_name: "notice", fixed: false, static: true}
 
		.stories-friends.content
			-if !current_user?(@user)
				%h6= t('.stories_user_friends_header')
			-else
				%h6= t('.stories_me_friends_header')

			-if @stories_written_for_others.count > 0
				= render partial: 'stories/story', collection: @stories_written_for_others, locals: {story_for_user: false}
			-else
				-if !current_user?(@user)
					= render partial: 'shared/alert_message', locals: {message: t('.no_story_by_user'), class_name: "notice", fixed: false, static: true}
				-else 
					= render partial: 'shared/alert_message', locals: {message: t('.no_story_by_me'), class_name: "notice", fixed: false, static: true}