- tag_class = 'tag'
- queryable_attr = 'false'

- if local_assigns.has_key?(:selectable)
	- tag_class = tag_class + ' selectable'

- if local_assigns.has_key?(:queryable)
	- queryable_attr = 'true'

%span.tag{class: tag_class, 'tag-id' => "#{tag.id}", queryable: queryable_attr, 'queryable-category' => 'tags', 'queryable-keyword' => "#{tag.name}"}
	=tag.name
