= form_for [current_user, @new_subscription], remote: true do |f|
  = f.hidden_field :subscriptionable_id, value: @thread.id
  = f.hidden_field :subscriptionable_type, value: @thread.class.name
  = f.submit t('general.subscribe_button'), class: 'subscribe-button'