// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.

//= require jquery
//= require jquery_ujs
//= require_self
//= require_tree .
//= stub react

//global namespace definition
var Tabilocal = {};

Tabilocal.lib = {};
Tabilocal.threads = {};
Tabilocal.currentLocale = "<%= I18n.locale %>";

Tabilocal.htmlParserFullOptions = [
        {
          orig: "[b]",
          repl: "<b>"
        },
        {
          orig: "[/b]",
          repl: "</b>"
        },
        {
          orig: "[i]",
          repl: "<i>"
        },
        {
          orig: "[/i]",
          repl: "</i>"
        },
        {
          orig: "[q]",
          repl: "<div class='quote-wrapper'>"
        },
        {
          orig: "[/q]",
          repl: "</div>"
        },
         {
          orig: "[img]",
          repl: "<div class='image-wrapper'><img src='"
        },
        {
          orig: "[/img]",
          repl: "'></div>"
        },
      ];



$(document).ready(function(){
	Tabilocal.notificationHandler = new NotificationHandler();
	Tabilocal.errorHandler = new ErrorHandler();
});
