$(document).ready(function(){
  'use strict';

  Tabilocal.inbox = {};

  Tabilocal.inbox.filtering = (function(){
    var MAX_RECIPIENTS
    var $conversations, $filterConversationInput;

    MAX_RECIPIENTS = 20;

    $conversations = $(".conversations .conversation-thumbnail");
    $filterConversationInput = $("input#filter-conversations");
    $filterConversationInput.on('keyup', filterConversations);
    
    function filterConversations(){
      var searchStr = $filterConversationInput.val();
      if (searchStr === ""){
        $conversations.each(function(){
          $(this).show();
        });
      } else {
        $conversations.each(function(){
          var usernames;
          usernames = $(this).find(".user-text .fullname").html();
          if (conversationMatches(usernames, searchStr)){
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
    }

    function conversationMatches(usernames, searchStr){
      var matchingCondition;
      // matchingCondition = (usernames.indexOf(searchStr) > -1);
      matchingCondition = Utilities.stringMatcher("lowercase", searchStr, usernames);
      return matchingCondition;
    }

  })();

  Tabilocal.inbox.conversations = (function(){

    var $list, $conversations, $headerName, $newButton, $form, $message;

    $list = $(".conversations");
    $conversations = $(".conversation-thumbnail");
    $headerName = $(".conversation-header .header-name");
    $newButton = $(".conversation-header .new-conversation-button");
    $form = $("form#new_conversation");
    $message = $form.find("textarea");

    function insertNew(conversationHtml){
      removeNoConversationNotice();
      $list.prepend(conversationHtml);
      refreshSelection();
    }

    function removeNoConversationNotice(){
      Utilities.removeStaticAlert();
    }

    function enableNew(){
      $headerName.html("<%= I18n.t('conversations.index.new_message') %>");
      Tabilocal.inbox.recipients.showSendHeader();
      $form.show();
      $("form#new_message").hide(); //hides other form
      Tabilocal.messages.clearLog();
      Tabilocal.inbox.recipients.reset();
      resetMessage();
      deselectAll();
    }

    function resetMessage(){
      $message.val("");
    }

    function remove(id){
      var $conversation;
      $conversation = findById(id);
      $conversation.remove();
    }

    function update(id, message, date){ /*destroys old and inserts new, prevents resorting */
      var $conversation, htmlCopy;
      if ($conversation = findById(id)){
        setMessage.call($conversation, message);
        setDate.call($conversation, date);
        htmlCopy = $conversation[0].outerHTML;
        remove(id);
        insertNew(htmlCopy);
      } else {
        throw ("Invalid conversation id");
      }
    } 

    function setMessage(message){
      $(this).find(".last-message").html(message);
    }

    function setDate(date){
      $(this).find(".last-date").html(date);
    }

    function markAsRead(id){
      var $conversation;
      $conversation = findById(id);
      $conversation.removeClass("unread");
    }

    function markAsSelected(id){
      var $conversation;
      $conversation = findById(id);
      deselectAll();
      $conversation.addClass("selected");
      markAsRead(id);
    }

    function findById(id){
      var conversation_id;
      var $conversation;
      var found = false;
      $conversations.each(function(){
        conversation_id = $(this).attr("conversation_id");
        if ( parseInt(conversation_id) === parseInt(id)){
          $conversation = $(this);
          found = true;
        }
      });
      if (found){
        return $conversation;
      } else {
        return false;  
      }
    }

    function deselectAll(){ 
      $conversations.each(function(){
        $(this).removeClass("selected");
      });
    }

    function refreshSelection(){
      $conversations = $(".conversation-thumbnail");
    }

    $newButton.on('click', enableNew);

    return {
      insertNew: insertNew,
      update: update,
      markAsSelected: markAsSelected
    };


  })();

});