$(document).ready(function(){
	'use strict';
	Tabilocal.friendRequests = (function(){

		var $friendRequestDropdown, $friendshipStatusContainer, $friendRequestCount, $coverRelationshipContainer;
		var NO_FRIEND_REQUESTS_HTML;

		$friendRequestDropdown = $("#friend-request-dropdown");
		$coverRelationshipContainer = $(".cover-relationship-container");
		$friendshipStatusContainer = $(".friendship-status-container");
		$friendRequestCount = $("#friend-request-count");

		$friendRequestDropdown.on('click', showFriendRequestDropdown);

		//needs to be passed to a JavaScript dictionary
		NO_FRIEND_REQUESTS_HTML = "<li><%= I18n.t('general.no_friendrequests') %></li>";

		//perhaps this function should belong to layout
		function showFriendRequestDropdown (){
			$(this).css("display", "block");
		}

		function updateStatusContainer(butttonHtml){
			$coverRelationshipContainer.html(butttonHtml);
		}

		function removeInvitation(friendRequestId){
			//set a find function
			var friendRequest;
			friendRequest = "#friend-request-dropdown #friend-request-" + friendRequestId;
			$(friendRequest).remove();
			_updateCount();
		}

		function _updateCount(){
			var updatedCount;
			updatedCount = Number($friendRequestCount.html()) - 1;
			if (updatedCount == 0){
				_removeCount();
				_printNoFriendRequests();
			}
			else {
				$friendRequestCount.html(updatedCount.toString());
			}
		}

		function _removeCount(){
			$friendRequestCount.remove();
		}

		function _printNoFriendRequests(){
			$friendRequestDropdown.html(NO_FRIEND_REQUESTS_HTML);
		}

		return {
			updateStatusContainer: updateStatusContainer,
			removeInvitation: removeInvitation
		};
	})();

});