'use strict';
Tabilocal.map = (function(){

	var baseIcon = new L.icon({
		iconUrl: "<%= image_path ('marker-icon.png') %>",
    	shadowUrl: "<%= image_path ('marker-shadow.png') %>",
    	iconSize:     [25, 41], 
        shadowSize:   [50, 64], 
        iconAnchor:   [12, 41], 
        shadowAnchor: [4, 62],  
        popupAnchor:  [-3, -76] 
	});

	var map;
	var markerInit = false; //Remembers there's no marker at the beginning
	var marker; 
	var LOW_ZOOM = 5;
	var HIGH_ZOOM = 8;
	var MAX_ZOOM = 15;
	var MIN_ZOOM = 3;

	var JAPAN_COORDS = {
		lat: 38.2048,
		lng: 138.2529
	};

	$(document).ready(function(){

		var $panContainer = $(".scroll-buttons");

		var panButtons = {
			$left: $panContainer.find(".arrow-left"),
			$right: $panContainer.find(".arrow-right"),
			$up: $panContainer.find(".arrow-up"),
			$down: $panContainer.find(".arrow-down"),
		};

		panButtons.$left.on('click', function(){
			shiftPos(-50,0);
		});

		panButtons.$right.on('click', function(){
			shiftPos(50,0);
		});

		panButtons.$up.on('click', function(){
			shiftPos(0,-50);
		});

		panButtons.$down.on('click', function(){
			shiftPos(0,50);
		});

	});

	function init(id, mode, lat, lng) {
	  map = new L.Map(id);
	  var coords = (mode === "static") ? {lat: lat,lng: lng} : JAPAN_COORDS;
	  var zoom = (mode === "static") ? HIGH_ZOOM : LOW_ZOOM;
	  // var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	  var osmUrl='https://api.mapbox.com/styles/v1/mapbox/outdoors-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiamxsOTAiLCJhIjoiY2lyN3F2d2M1MDBzaGc1bTluZTJudmxrcCJ9.nfE1sWlOOeLPXmTz3YiuLQ';
	  // var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	  var osmAttrib='Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';
	  var osm = new L.TileLayer(osmUrl, {minZoom: MIN_ZOOM, maxZoom: MAX_ZOOM, attribution: osmAttrib});   

	  map.setView(new L.LatLng(coords.lat, coords.lng), zoom);
	  map.addLayer(osm);
	  map.scrollWheelZoom.disable();
	  map.dragging.disable();
	}

    function center(lat, lng){
      if (markerInit){
        reset();  
      }
      map.panTo(new L.LatLng(lat, lng));
      addMarker(lat, lng);
    }

    function addMarker(lat, lng){
      marker = L.marker([lat, lng], {icon: baseIcon}).addTo(map);
      markerInit = true;  
    }

    function reset(){
      map.removeLayer(marker);
    }

    function shiftPos(x, y){
    	if (x === undefined){
    		x = 0;
    	}

    	if (y === undefined){
    		y = 0;
    	}
      map.panBy([x,y]);
    }

    return {
    	init: init,
    	center: center
    };

})();