$(document).ready(function(){
  'use strict';

 

  Tabilocal.stories = (function(){

    var notificationHandler = Tabilocal.notificationHandler;
  	
    function remove(storyId){
      var storySelector = ["#", "story", "-", storyId].join("");
      $(storySelector).remove();
      notificationHandler.create("<%= I18n.t('alerts.success.story.removed') %>", 'success');
      if ( count() === 0 ){

      }
    }

    function count(){
      return $(".stories-friends").find(".story").length;
    }


    //message is passed in, as render method is not available inside the assets folder
    function appendNoStoryMsg(msgHtml){
      $(".stories-friends.content").html(msgHtml);
    }

    return {
      remove: remove,
      count: count,
      appendNoStoryMsg: appendNoStoryMsg
    };

  })();

});