"use strict";

$(document).ready(function(){
	Tabilocal.userPlaces = (function(){

		var places, buttons, icons, lists;
		var $formLived = $("form#add-user-place-L");
		var $formTraveled = $("form#add-user-place-T");
		var notificationHandler = Tabilocal.notificationHandler;

		var baseAutocompleteOptions;
		var livedAutocomplete, livedAutocompleteOptions;
		var traveledAutocomplete, traveledAutocompleteOptions;
		var canFireAutocomplete;

		var PLACE_ADD_SUCCESS = "<%= I18n.t('alerts.success.place.added') %>";
    	var PLACE_REMOVE_SUCCESS = "<%= I18n.t('alerts.success.place.removed') %>";
    	var NONE_HTML = '<span class="none"><%= I18n.t("general.none") %></span>';

    	var $editButtons = $("#lived-places button.edit-item, #travel-places button.edit-item");

    	var itemOptionsBase = {
    		selector: buildSelector,
    		emptyMessage: NONE_HTML,
    		successAddMessage: PLACE_ADD_SUCCESS,
    		successRemoveMessage: PLACE_REMOVE_SUCCESS
    	};

    	var livedPlaces = new ItemList(
			Utilities.mergeObjects({containerSelector: "#lived-places"}, itemOptionsBase)
		);

		var travelPlaces = new ItemList(
			Utilities.mergeObjects({containerSelector: "#travel-places"}, itemOptionsBase)
		);

		$editButtons.on('click', toggleFormHandler);

		canFireAutocomplete = ($formLived.length === 1)  && ($formTraveled.length === 1);

		baseAutocompleteOptions = {
			html: Utilities.placeSuggestionsHtml,
			noResultsHtml: Utilities.noPlaceHtml,
			matchingProperty: "name",
			remote: true,
			remoteUrl: "/places"
		};

		livedAutocompleteOptions = Utilities.mergeObjects(baseAutocompleteOptions, {
			containerSelector: $formLived.selector,
			onSelect: function(selected){
				setFormPlaceId(selected.id, "L");
				this.persistVal(selected.fullname);
			}
		});

		traveledAutocompleteOptions = Utilities.mergeObjects(baseAutocompleteOptions, {
			containerSelector: $formTraveled.selector,
			onSelect: function(selected){
				setFormPlaceId(selected.id, "T");
				this.persistVal(selected.fullname);
			}
		});

		function addPlace(html, category){
			if (category === "L"){
				livedPlaces.addItem(html);
			} else {
				travelPlaces.addItem(html);
			}
		}

		function removePlace(id, category){
			if (category === "L"){
				livedPlaces.removeItem(id);
			} else {
				travelPlaces.removeItem(id);
			}
		}

		function buildSelector(id){
			return "#user-place-" + id;
		}

		function setFormPlaceId(id, category){
			var $el;
			if (category === "L"){
				$el = $formLived.find("#user_place_place_id");
			} else {
				$el = $formTraveled.find("#user_place_place_id");
			}
			$el.val(id);
		}

		function toggleFormHandler(){
			var $itemValue = $(this).siblings(".item-value");
			var $delIcons = $itemValue.find(".trash-icon");
			$delIcons.toggle();
		}

		function init(){
			$("#lived-places .trash-icon, #travel-places .trash-icon").hide();
		}

		init();	

		if (canFireAutocomplete){
			livedAutocomplete = new Autocomplete(livedAutocompleteOptions);
			traveledAutocomplete = new Autocomplete(traveledAutocompleteOptions);
		}
	
		return {
			addPlace: addPlace,
			removePlace: removePlace
		};

	})();

});