$(document).ready(function(){
	'use strict';
	Tabilocal.userLanguages = (function(){

		var LANGUAGE_ADD_SUCCESS = "<%= I18n.t('alerts.success.language.added') %>";
		var LANGUAGE_REMOVE_SUCCESS = "<%= I18n.t('alerts.success.language.removed') %>";
		var NONE_HTML = '<span class="none"><%= I18n.t("general.none") %></span>';
		var $selects = $(".languages-select");
		var $editButtons = $("#known-languages button.edit-item, #learning-languages button.edit-item");

		var itemOptionsBase = {
			selector: buildSelector,
			emptyMessage: NONE_HTML,
			successAddMessage: LANGUAGE_ADD_SUCCESS,
			successRemoveMessage: LANGUAGE_REMOVE_SUCCESS
		};

		var knownLanguages = new ItemList(
			Utilities.mergeObjects({containerSelector: "#known-languages"}, itemOptionsBase)
		);

		var learningLanguages = new ItemList(
			Utilities.mergeObjects({containerSelector: "#learning-languages"}, itemOptionsBase)
		);

		$editButtons.on('click', toggleFormHandler);

		function buildSelector(id){
			return "#user-language-" + id;
		}

		function addLanguage(html, id, category){
			if (category === "L"){
				learningLanguages.addItem(html);
			} else {
				knownLanguages.addItem(html);
			}
			removeFromSelect(id);
		}

		function removeLanguage(id, name, category){
			if (category === "L"){
				learningLanguages.removeItem(id);
			} else {
				knownLanguages.removeItem(id);
			}
			addToSelect(id, name);
		}

		function addToSelect(id, name){
			var selectOption = "<option value='"+ id +"'>"+ name+ "</option>";
			$selects.append(selectOption);
		}

		function removeFromSelect(id){
			var selectOption = ".languages-select option[value='"+ id+ "']";
			$(selectOption).remove();
		}

		function toggleFormHandler(){
			var $itemValue = $(this).siblings(".item-value");
			var $delIcons = $itemValue.find(".trash-icon");
			$delIcons.toggle();
		}

		function init(){
			//this function hides the icons
			$("#known-languages .trash-icon, #learning-languages .trash-icon").hide();
		}

		init();

		return {
			add: addLanguage,
			remove: removeLanguage
		};

	})();

});