/* >> THE FOLLOWING CODE IS APPLIED TO BOTH DASHBOARD AND LOCATION POFILE*/

.threads-container {
  .thread {
    position: relative;
    padding: 10px 5% 20px 5%;
    border-bottom: 1px solid #DFD3B6;
    text-align: left;

    &:last-of-type {
      border-bottom: none;
    }

    > div {
      vertical-align: middle;
    }

    .posted-date {
      text-align: right;
      color: #666;
      font-size: 13px;
    }

    /* .edit-post-button => application.scss */

    .author-thumbnail {
      float: left;
      width: 80px;
      text-align: center;

      a {
        font-size: 14px;
      }

      img {
        display: block;
      }
    }

    .number-of-replies {
      float: left;
      width: 120px;
      text-align: center;
      font-family: $helvetica-font-family;

      .number {
        width: 40px;
        height: 40px;
        line-height: 36px;
        margin: 0 auto;
        background-color: #ABEDC6;
        border: 2px solid #fff;
        @include border-radius(50%);
      }

      .replies {
        font-size: 14px; 
        text-transform: capitalize;
      }
    }

    /* .tags-container => application.scss */

    .thread-summary { 
      text-align: left;
      display: block;
      padding: 5px 20px 0 0;
      clear: both;

      .thread-title {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
      } 

      .location {
        display: block;

        span {
          font-size: 13px; 
          color: #666;
        }

        .city-state {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .threads-container {
    .thread {
      .thread-summary {
        display: block;
        clear: both;      
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .threads-container {
    .thread {
      .thread-summary {
        display: block;
        clear: both;    
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .threads-container {
    .thread {
      .thread-summary {
        display: inline-block;
        @include width(calc(100% - 200px));
        margin: 0 !important;
      }
    }
  }
}

@media screen and (min-width: 1025px){
  .threads-container {
    .thread {
      .thread-summary {
        display: inline-block;
        @include width(calc(100% - 200px));
        margin: 0 !important;
      }
    }
  }
}

/* << THE FOLLOWING CODE IS APPLIED TO BOTH DASHBOARD AND LOCATION POFILE*/
