.guidelines-container {
  text-align: center;
  border: 2px solid #ADD8CD;
  background-color: #F2F7F2;

  .col-6 {
    @include border-radius(2px);

    h5 {
      margin-bottom: 15px;
      text-align: center;
      color: #555;
    }

    .caution,
    .tip {
      display: block;
      line-height: 1.2;
      margin-bottom: 10px;
      text-align: left;
      display: table;

      i {
        float: left;
        vertical-align: top;
        display: table-cell;
        margin-right: 7px;
        font-size: 14px;
      } 

      p {
        display: inline-block;
        vertical-align: top;
        display: table-cell;
        font-size: 14px;

        a {
          font-size: 14px;
          color: #59B2A2;
          
          &:hover {
            color: #347266;
          }
        }
      }
    }
  }
}

.new-thread-content {
  padding: 10px 5%;
  background-color: #fff;
  border: 2px solid #DFD3B6;
  text-align: left;
  font-size: 0;

  p {
    padding-top: 20px;
    line-height: 40px;
    font-size: 15px;
  }

  #travel-thread-autocomplete {
    input {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #e5e5e5;
    }

    @include place-suggestions-dropdown(#D9F5F9, #BBDEFB);
  }

  form {
    @include editor-toolbar();

    .tags-container {
      .tag {
        cursor: pointer;  

        &.active {
          background-color: $main-color !important;
        }
      }
    }

    @include preview-container(); 

    select,
    input[type='text'],
    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #e5e5e5;
      border-radius: 0;
    } 

    .post-thread-button {
      @extend .btn;
      height: 36px;
      line-height: 36px;
      margin: 25px auto;
      background-color: #FF7360;
      color: #fff;
      font-size: 13px;  

      &:hover {
        background-color: #E56757;
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .guidelines-container {
    margin: 20px 0;

    .col-6 {
      padding: 10px;

      &:last-of-type {
        padding-top: 0;
      }
    }
  }

  .new-thread-content {
    margin: 20px 0;
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .guidelines-container {
    margin: 20px 2%;

     .col-6 {
      padding: 20px;

      &:last-of-type {
        padding-top: 0;
      }
    }
  }

  .new-thread-content {
    margin: 20px 2%;
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .guidelines-container {
    margin: 20px 8%;

    .col-6 {
      padding: 20px 30px;
    }
  }

  .new-thread-content {
    margin: 20px 8%;
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .guidelines-container {
    margin: 20px 5% 20px 8%;

    .col-6 {
      padding: 20px 40px;
    }
  }

  .new-thread-content {
    margin: 20px 5% 20px 8%;
  }
}