.thread-container {
  position: relative;
  padding: 30px 5%;
  background-color: #fff;
  border: 2px solid #DFD3B6;

  .subscribe-button {
    @extend .btn;
    float: right;
    height: 36px;
    line-height: 36px;
    margin-left: 15px;
    background-color: #FF7360;
    color: #fff;
    font-size: 13px;

    &:hover {
      background-color: #E56757;
    }
  }

  .thread-header {
    clear: both;
    padding: 20px 0;

    .posted-date {
      float: right;
      margin-bottom: 5px;
      color: #666;
      font-size: 13px;
    }

    /* .tags-container => application.scss */
    
    .thread-title {
      display: table;
      margin-top: 10px;
      font-size: 20px;
      font-weight: 600;
      font-family: $helvetica-font-family;
    }

    .location {
      display: block;

      span {
        font-size: 13px; 
        color: #666;
      }

      .city-state {
        display: inline-block;
        font-size: 15px;
      }
    }

    .author {
      display: block;
      
      span {
        font-size: 13px; 
        color: #666;
      }

      .hyperlink {
        display: inline-block;

        .username {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .reply {
    padding: 10px 2%;

    &:last-of-type hr {
      display: none;
    }

    .posted-date {
      width: 100%;
      text-align: right;
      font-size: 12px;
      color: #888;
    }

    .author {
      display: inline-block;

      .hyperlink {
        width: 100%;

        span {
          vertical-align: middle;
          padding-left: 10px;
        }
      }
    } 

    .reply-content {
      margin: 10px auto;
      font-size: 15px;
      
      .image-wrapper {
        margin: 10px 0;
        font-size: 0;
      }

      @include quote-wrapper();
    }

    hr {
      display: block;
      margin: 15px auto 0 auto;
      border: 1px solid #EAE5C0;
    }
  }

  .text-input {
    padding: 40px 5% 20px 5%;

    form#new_reply {
      @include editor-toolbar();

      textarea {
        width: 100%;
        padding: 10px;
        background-color: #e5e5e5;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-radius: 0;
      } 

      @include preview-container();
    }

    .actions {
      text-align: right;
      margin-top: 10px;

      .post-button {
        @extend .btn;
        height: 36px;
        line-height: 36px;
        background-color: #FF7360;
        color: #fff;
        font-size: 13px;
        
        &:hover {
          background-color: #E56757;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .thread-container {
    margin: 20px 0;

    .thread-header {
      clear: both;
    }   

    .reply {
      .reply-content {
        .image-wrapper {
          img {
            height: 100px;
            margin: 5px 5px 5px 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .thread-container {
    margin: 20px 0;

    .thread-header {
      clear: both;
    }   

    .reply {
      .reply-content {
        .image-wrapper {
          img {
            height: 100px;
            margin: 5px 5px 5px 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .thread-container {
    margin: 20px 5% 20px 8%;

    .reply {
      .reply-content {
        .image-wrapper {
          img {
            height: 180px;
            margin: 10px 10px 10px 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .thread-container {
    margin: 20px 5% 20px 8%;

    .reply {
      .reply-content {
        .image-wrapper {
          img {
            height: 200px;
            margin: 10px 10px 10px 0;
          }
        }
      }
    }
  }
}