.redirects-container
	.loading-icon
		%i.fa.fa-spinner.fa-pulse.fa-fw
	.redirecting-message= t('general.redirecting_message_one')
	%div{class: "redirecting-link"}= @redirect.link

	.redirecting-message= t('general.redirecting_message_two')
	=link_to (t('general.this_link')), @redirect.link, target: '_blank'
	.redirecting-message .

	%div{id: "final-redirect-link"}= @redirect.link