= render 'shared/profile_cover'

.profile-panels-container
	
	.album.profile-panel
		.album-header-wrapper
			%h5= t('.profile_pictures_header')
			-if current_user?(@user)
				.upload-button{'photo-model' => 'profile-picture'}
					%i.fa.fa-plus
					%span= t('general.upload_button')
		
		.content
			- @profile_pictures.each do |profile_picture|
				%div{class: 'thumbnail profile-picture', id: "profile-picture-#{profile_picture.id}"}
					=image_tag(profile_picture.image.url(:thumbnail))
					-if current_user?(@user)
						.img-menu
							%i.fa.fa-ellipsis-h
							%ul.img-edit-dropdown
								%li.make-profile
									= button_to user_path(id: current_user.id, user: {profile_picture_id: profile_picture.id}), method: :patch, remote: true do
										= t('.make_profile_picture')
								%li.delete
									= button_to user_profile_picture_path(current_user, profile_picture), method: :delete, remote: true do
										=t('general.delete')

	.album.profile-panel
		.album-header-wrapper
			%h5= t('.cover_photos_header')
			-if current_user?(@user)
				.upload-button{'photo-model' => 'cover-picture'}
					%i.fa.fa-plus
					%span= t('general.upload_button')

		.content
			- @cover_pictures.each do |cover_picture|
				%div{class: 'thumbnail cover-picture', id: "cover-picture-#{cover_picture.id}"}
					=image_tag(cover_picture.image.url(:thumbnail))
					-if current_user?(@user)
						.img-menu
							%i.fa.fa-ellipsis-h
							%ul.img-edit-dropdown
								%li.make-cover
									= button_to user_path(id: current_user.id, user: {cover_picture_id: cover_picture.id}), method: :patch, remote: true do
										= t('.make_cover_picture')
								%li.delete
									= button_to user_cover_picture_path(current_user, cover_picture), method: :delete, remote: true do
										=t('general.delete')

	.album.profile-panel
		.album-header-wrapper
			%h5= t('.home_pictures_header')	
			-if current_user?(@user)
				.upload-button{'photo-model' => 'picture'}
					%i.fa.fa-plus
					%span= t('general.upload_button')
	
		.content
			- @pictures.each do |picture|
				%div{class: 'thumbnail picture', id: "picture-#{picture.id}"}
					=image_tag(picture.image.url(:thumbnail))
					-if current_user?(@user)
						.img-menu
							%i.fa.fa-ellipsis-h
							%ul.img-edit-dropdown
								%li.delete
									= button_to user_picture_path(current_user, picture), method: :delete, remote: true do
										=t('general.delete')