.friendship-status.dropdown-trigger
	= t('.respond_to_friend_request')
	%div
		%ul.dropdown-content
			%li
				= button_to friend_request_path(id: friend_request_id), method: :patch, remote: true do
					= t('.accept_request')
			%li
				= button_to friend_request_path(id: friend_request_id), method: :delete, remote: true do
					= t('.reject_request')