<% if on_friend_profile?(@friend_request.user_id) %>
	Tabilocal.friendRequests.
	updateStatusContainer(
		"<%= escape_javascript( render partial: 'shared/friendship_status', locals: {relationship: @friendship, friend_id: @friendship.friend_id} ) %>"
		);
<% end %>

<% if on_friendships_page?(current_user.id) %>
	Tabilocal.friendships.addFriendshipToList("<%= escape_javascript( render @friendship) %>");
<% end %>

<% if on_friendships_page?(@friend_request.user_id) %>
	Tabilocal.friendships.addFriendshipToList("<%= escape_javascript( render @inverse_friendship) %>");
<% end %>

Tabilocal.friendRequests.removeInvitation("<%= escape_javascript( @friend_request.id.to_s )%>");
Tabilocal.notificationHandler.create("<%= j I18n.t('alerts.success.friendship.created') %>", "success");