<% if on_friend_profile?(@friend_request.user_id) %>
	Tabilocal.friendRequests.
	updateStatusContainer(
		"<%= escape_javascript( render partial: 'shared/friendship_status', locals: {relationship: nil, friend_id: @friend_id} ) %>"
		);
<% end %>

Tabilocal.friendRequests.removeInvitation("<%= escape_javascript( @friend_request.id.to_s )%>");
Tabilocal.notificationHandler.create("<%= j I18n.t('alerts.success.friend_request.canceled') %>", "success");