Tabilocal.friendRequests.
updateStatusContainer(
"<%= escape_javascript( render partial: 'shared/friendship_status', locals: {relationship: @relationship, friend_id: @relationship.friend_id} ) %>"
);
