/ :css
/ 	body {
/ 		width: 100%; height: 100%;
/ 		max-width: 700px;
/ 		margin: 0 auto;
/ 		padding: 0;
/ 		position: relative;
/ 		color: #555;
/ 		font-family: Arial, Helvetica, sans-serif;
/ 	}

/ 	a {
/ 		text-decoration: none;
/ 		color: #555;
/ 	}

/ 	.header-container {
/ 		text-align: center;
/ 		background-color: #FFD54F;
/ 		padding: 15px 0;
/ 	}

/ 	.offline-navbar-logo-wrapper {	
/ 		display: inline-block;
/ 		vertical-align: middle;
/ 		margin-right: 20px;
/ 	}

/ 	img.offline-navbar-logo {	
/ 		width: 300px;
/ 	}

/ 	.content {
/ 		padding: 30px 7%;
/ 		background-color: #f5f5f5;
/ 		text-align: center;
/ 	}

/ 	h1 {
/ 		color: #777;
/ 		text-align: left;
/ 	}

/ 	p {
/ 		line-height: 1.5;
/ 		font-family: Arial, Helvetica, sans-serif;
/ 		text-align: left;
/ 	}

/ 	.activate-account-button {
/ 		display: inline-block;
/ 		width: auto; height: 45px;
/ 		line-height: 45px;
/ 		margin: 50px auto;
/ 		padding: 0 20px;
/ 		-webkit-border-radius: 2px;
/ 		-moz-border-radius: 2px;
/ 		-ms-border-radius: 2px;
/ 		border-radius: 2px;
/ 		background-color: #E56757;
/ 		color: #fff;
/ 		letter-spacing: 1.2px;
/ 		font-weight: 800;
/ 	}

/ 	footer {
/ 	  text-align: center;	
/ 	  margin: 0 auto;
/ 	  background-color: #A9E5BB;
/ 	}

/ 	.site-map-container {
/ 	  display: block;
/ 	  width: 90%;
/ 	  max-width: 1000px;
/ 	  margin: 0 auto;
/ 	  padding: 20px 0;
/ 	}

/ 	.site-map-container a {
/ 	  margin: 10px 2%;
/ 	  font-size: 15px;
/ 	}

/ 	.copyright {
/ 	  margin-top: 25px;
/ 	  font-size: 13px;
/ 	}
