%tr{ :style => 'background-color: #e9eaea;' }
	%td{ :style => 'width: 100%; -webkit-text-size-adjust: none; padding-top: 20px; padding-bottom: 20px; text-align: center;' }
		=link_to "<span style='display: inline-block; font-size: 13px; color: #9aa2ab; font-family: Helvetica, Arial, sans-serif;'>#{I18n.t('layouts._header.values')}</span>".html_safe, objectives_url(:locale => I18n.locale), style: 'text-decoration: none;', target: '_blank'
		%span{ :style => 'color: #9aa2ab; margin-right: 15px; margin-left: 15px;' } /
		=link_to "<span style='display: inline-block; font-size: 13px; color: #9aa2ab; font-family: Helvetica, Arial, sans-serif;'>#{I18n.t('layouts._header.terms_of_use')}</span>".html_safe, terms_of_use_url(:locale => I18n.locale), style: 'text-decoration: none;', target: '_blank'
		%span{ :style => 'color: #9aa2ab; margin-right: 15px; margin-left: 15px;' } /
		=link_to "<span style='display: inline-block; font-size: 13px; color: #9aa2ab; font-family: Helvetica, Arial, sans-serif;'>#{I18n.t('layouts._header.safety')}</span>".html_safe, safety_url(:locale => I18n.locale), style: 'text-decoration: none;', target: '_blank'
%tr{ :style => 'background-color: #e9eaea; color: #777d84;' }
	%td{ :style => 'width: 100px; -webkit-text-size-adjust: none; margin-top: 15px; margin-bottom: 20px; text-align: center;' }
		=link_to "<span style='color: #777d84;'>Tabilocal.com</span>".html_safe, root_url(:locale => I18n.locale), style: 'text-decoration: none; font-size: 13px; font-family: Helvetica, Arial, sans-serif; color: #777d84;', target: '_blank'