/ %tr{ :style => 'background-color: #756e60;' }
/ 	%td{ :style => 'display: block !important; max-width: 600px !important; clear: both !important; padding-top: 50px; padding-bottom: 50px;' }
/ 		= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/mailer_header_logo.gif'), style: 'display: block; width: 50px; height: auto; margin: 0 auto;', alt: 'Tabilocal', target: '_blank'
/ 		%h1{ :style => 'text-align: center; color: #fff; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: 100;' } Welcome to Tabilocal