@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -ms-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size; 
}

@mixin display($flex) {
  -webkit-display: $flex;
  -moz-display: $flex;
  -ms-display: $flex;
  -o-display: $flex;
  display: $flex; 
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}

@mixin flex($flex) {
  -webkit-flex: $flex;
  -moz-flex: $flex;
  -ms-flex: $flex;
  -o-flex: $flex;
  flex: $flex; 
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  -o-flex-wrap: $wrap;
  flex-wrap: $wrap; 
}

@mixin height($height) {
  -webkit-height: $height;
  -moz-height: $height;
  -ms-height: $height;
  -o-height: $height;
  height: $height;
}

@mixin text-shadow($text-shadow) {
  -webkit-text-shadow: $text-shadow;
  -moz-text-shadow: $text-shadow;
  -ms-text-shadow: $text-shadow;
  -o-text-shadow: $text-shadow;
  text-shadow: $text-shadow;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin width($width) {
  -webkit-width: $width;
  -moz-width: $width;
  -ms-width: $width;
  -o-width: $width;
  width: $width;
}

@mixin white-space($white-space) {
  -webkit-white-space: $white-space;
  -moz-white-space: $white-space;
  -ms-white-space: $white-space;
  -o-white-space: $white-space;
  white-space: $white-space;
}

@mixin word-wrap($word-wrap) {
  -webkit-word-wrap: $word-wrap;
  -moz-word-wrap: $word-wrap;
  -ms-word-wrap: $word-wrap;
  -o-word-wrap: $word-wrap;
  word-wrap: $word-wrap;
}

@mixin opacity($value){
  -webkit-opacity: $value;
  -moz-opacity: $value;
  -ms-opacity: $value;
  -o-opacity: $value;
  opacity: $value;
}

@mixin quote-wrapper() {
  .quote-wrapper {
    margin: 10px 0;
    padding: 10px;
    background-color: #eee;
    border-left: 5px solid #666;
    font-size: 16px;
  }
}

@mixin suggestions-dropdown() {
  .suggestions-dropdown {
    overflow-y: auto;
    cursor: pointer;
    max-height: 300px;
  }
}

@mixin place-suggestions-dropdown($hover-bg-color, $active-bg-color) {
  @include suggestions-dropdown();
  .suggestions-dropdown {
    margin-top: -1px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
    cursor: pointer;

    .place-suggestion {
      padding: 7px 10px;
      border-bottom: 1px solid #ddd;
      background-color: #fff;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: $hover-bg-color;
      }

      &.active {
        background-color: $active-bg-color;
      }
    }
  }
}

@mixin user-suggestions-dropdown() {
  @include suggestions-dropdown();
  .suggestions-dropdown {
    position: absolute;
    width: 50%;
    min-width: 200px;
    max-height: 300px;
    line-height: 25px;
    margin-top: 5px;
    @include border-radius(2px);
    background-color: #3EB29D;

    .user-thumbnail {
      margin: 2px;
      color: #fff;
      font-size: 13px;

      a {
        color: #fff;
      }
    
      &:hover {
        background-color: #CDF7CD;
        a {
          color: #007E8C;
        }
      }
    
      &.active {
        background-color: #fff;
        a {
          color: #007E8C; 
        }
      }
    }
  }
}

@mixin editor-toolbar(){
  .editor-toolbar {
    width: 100%; height: 40px;
    padding-left: 15px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;

    span {
      float: left;
      height: 38px;
      padding: 0 15px;

      &:hover {
        color: #777;
        cursor: pointer;
      } 

      i {
        font-size: 16px;
        line-height: 38px;
      }

      input {
        display: none;
      }
    }
  } 
}

@mixin preview-container(){
  .preview-container {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-size: 14px;
    @include white-space(pre-wrap);
    @include word-wrap(break-word);
    @include quote-wrapper();

    .image-wrapper {
      margin: 10px 0;
      font-size: 0;

      img {
        width: auto; height: 200px;
      }
    }
  }
}

@mixin relationship-dropdown(){
  .relationship-menu.dropdown-trigger {
    @extend .btn;
    display: inline-block;
    padding: 0 !important;

    i {
      top: 0; right: 0;
      width: 36px; height: 36px;
      line-height: 36px;
      margin: 0;
      font-size: 16px;
      cursor: pointer;
      background-color: #fff;
      @include border-radius(3px);
      @include box-shadow(0 0 3px rgba(100,100,100,.6));
      z-index: 0;

      &:hover {
        background-color: #d5d5d5;
        border-color: #d5d5d5;
        color: #111;
      }
    }

    .dropdown-content {
      position: absolute;
      display: none;          
      width: 160px;
      background-color: #fff;
      @include box-shadow(0 0 3px rgba(100,100,100,.6));
      @include border-radius(3px);
      text-align: left;
      margin-top: 5px;
      padding: 5px 0;

      li {
        display: block;
        width: 100%;
        border-color: #fff;

        a,
        button,
        input {
          display: block;
          width: 100%;
          margin: 5px 0;
          padding: 10px;
          background-color: #fff;
          font-size: 15px;
          font-weight: 100;
          font-family: $lato-font-family;
          letter-spacing: 0;
          line-height: 1;
          cursor: pointer;
          text-align: left;

          &:hover {
            color: #fff;
            background-color: #FF9587;
          }
        }
      }
    }
  }
}

$atc-hover-bg-color: red;
$atc-active-bg-color: yellow;

.react-autosuggest__container {
  position: relative;
  .react-autosuggest__suggestions-container {
      position: absolute;
      //do not use height
      //it will display a vertical line on the screen
      //use max-height instead
      max-height: 300px;
      background-color: white;
      z-index: 10;
      overflow-y: scroll;
      width: 100%;
    .react-autosuggest__suggestions-list {
      .react-autosuggest__suggestion {
        color: red;
        background-color: #eee;
      }

      .react-autosuggest__suggestion--focused {
        color: blue;
      }
    }
  }
}