$main-color: #FFC107;
$breakpoint1: 400px;
$breakpoint2: 760px;
$breakpoint3: 1020px;
$breakpoint4: 1280px;
$breakpoint5: 1540px;
$breakpoint6: 1800px;
$lato-font-family: 'Lato', sans-serif, 'メイリオ', Meiryo;
$helvetica-font-family: 'helvetica', sans-serif, 'メイリオ', Meiryo;
$marmelad-font-family: 'Marmelad', sans-serif, 'メイリオ', Meiryo;

$grid-columns: 12;