/*
 *= require_self
 *= require font-awesome
 */

@import url(https://fonts.googleapis.com/css?family=Lato|Marmelad);

/* cropperjs */
/* Dependency for photo cropper */
/* Copied from npm_modules folder */

@import 'lib/cropperjs.scss';;
@import 'lib/react-datepicker.scss';
@import 'lib/react-time-picker.scss';

/* leaflet */

@import 'lib/leaflet.scss';

/* VARIABLE DECLARATIONS */

@import 'lib/variables.scss';

/* MIXINS */

@import 'lib/mixins.scss';

/* CSS DEPENDENCIES */

@import 'layout/banners.scss';
@import 'layout/navbar.scss';
@import 'layout/modals.scss';
@import 'layout/footer.scss';

@import 'dashboard/forum.scss';
@import 'dashboard/map.scss';

@import 'threads/index.scss';
@import 'threads/new.scss';
@import 'threads/show.scss';

@import 'events.scss';

@import 'conversations.scss';
@import 'friend_requests.scss';
@import 'friendships.scss';
@import 'notifications.scss';
@import 'password_resets.scss';
@import 'pictures.scss';
@import 'places.scss';
@import 'profile_pictures.scss';
@import 'replies.scss';
@import 'redirects.scss';
@import 'static_pages.scss';
@import 'stories.scss';
@import 'terms_safety.scss';

@import 'users/edit.scss';
@import 'users/show.scss';
@import 'users/new.scss';


/* CSS STARTS FROM HERE */

* {
  margin: 0; padding: 0;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
  width: 100%; height: 100%;
}

body {
  margin: 0; padding: 0;
  position: relative;
  background-color: #f0f0f0;
  color: #333;
  font-family: $lato-font-family;
}


/* >> FONT SIZE DEFAULT */

h1 { font-size: 5.063em; }
h2 { font-size: 3.375em; }
h3 { font-size: 2.25em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }

div,
p,
a { font-size: 15px; }


@media screen and (max-width: $breakpoint1) {
  body {
    font-size: 85%;
  } 
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  body {
    font-size: 90%;
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  body {
    font-size: 100%;
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  body {
    font-size: 110%;
  }
}

/* << FONT SIZE DEFAULT */



a {
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
  cursor: pointer;
  color: #444;
}

i {
  margin: 1px 2px;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;

  &::-moz-focus-inner {
    border: 0;
  }
}

form {
  font-size: 0;
}

textarea {
  resize: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='submit'],
textarea,
button,
select {
  -webkit-appearance: none;
}

input,
textarea,
button,
select {
  border: 0;
  -webkit-outline: none;
  outline: none;
  font-family: $lato-font-family;
  font-size: 16px;
  color: #444;

    &:focus {
    -webkit-outline: none;
    outline: none;
    color: #444;
  }
}

::-webkit-input-placeholder {
   color: #777;
}
:-moz-placeholder { /* Firefox 18- */
   color: #777;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #777;  
}
:-ms-input-placeholder {  
   color: #777;  
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}



/* >> BUTTONS */ 

.btn {
  -webkit-appearance: none;
  -webkit-outline: none;
  white-space: nowrap;
  outline: 0;
  cursor: pointer;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1.2px;
  padding: 0 15px;
  @include transition(all 0.3s ease);
  @include border-radius(3px);

  &[data-disable-with].processing {
    @include opacity(0.7);
  }
}

.scroll-to-top-button {
  display: none;
  position: absolute;
  z-index: 1;

  .fixed-positioner {
    position: fixed;
    bottom: 2%;
    cursor: pointer;
    font-size: 50px;
    color: rgba(0,0,0,.6);
  }
}

.force-line-break {
  white-space: pre-line;
}

.edit-post-button {
  @extend .btn;
  display: inline-block;
  float: right;
  height: 36px;
  padding: 0 5px !important;
  background-color: rgba(255,255,255,0);
  color: #347266;
  font-size: 25px;

  &:hover {
    color: #27b261;
  }

  i {
    line-height: 36px;
  } 
}


@media screen and (max-width: $breakpoint1) {
  .scroll-to-top-button {
    right: 20%;
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .scroll-to-top-button {
    right: 15%;
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .scroll-to-top-button {
    right: 10%;
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .scroll-to-top-button {
    right: 10%;
  }
}

/* << BUTTONS */



/* >> HYPERLINK */

.hyperlink {
  font-family: $helvetica-font-family;
  cursor: pointer;
  
  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }
}

.username {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

/* << HYPERLINK */



/* >> ALERTS */

.alert {
  display: table;
  width: 100%;
  padding: 25px 15px;
  text-align: center;
  font-size: 0;
  z-index: 1000;
  @include box-shadow(0 0 3px rgba(0,0,0,0.5));

  &.fixed {
    position: fixed;
    top: 0;
  }

  &.static {
    .alert-content-wrapper {
      padding: 0;
    }

    .close-button {
      display: none;
    }
  }

  .alert-content-wrapper {
    display: table-cell;
    vertical-align: middle;

    .alert-icon {
      font-size: 20px;
      line-height: normal;
      vertical-align: middle;
    } 

    p,
    ul {
      line-height: normal;
      vertical-align: middle;
      font-size: 14px;
      letter-spacing: .5px;
      text-align: center;

      li {
        line-height: 1.2;
        margin: 5px 0;
      }
    }
  }

  .close-button {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 10px;
    font-weight: 100;
  } 
}

@media screen and (max-width: $breakpoint1) {
  .alert {
    .alert-content-wrapper {
      padding-left: 30px; 

      .alert-icon {
        margin: 0 0 10px 0;
      }     

      p,
      ul {
        display: block;
      }
    }

    .close-button {
      width: 30px;
      font-size: 28px;
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .alert {
    .alert-icon {
      margin: 0 15px 0 0;
    }   

    p,
    ul {
      display: inline-block;
    }

    .close-button {
      width: 25px;
      font-size: 22px;
    }
  }
}


@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .alert {
    .alert-icon {
      margin: 0 15px 0 0;
    }   

    p,
    ul {
      display: inline-block;
    }

    .close-button {
      width: 25px;
      font-size: 22px;
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .alert {
    .alert-icon {
      margin: 0 15px 0 0;
    }   

    p,
    ul {
      display: inline-block;
    }

    .close-button {
      width: 25px;
      font-size: 22px;
    }
  }
}

.success {
  @extend .alert;
  background-color: #C8E6C9;
}

.error {
  @extend .alert;
  background-color: #FFCDD2;
}

.warning {
  @extend .alert;
  background-color: #FFF8E1;
}

.notice {
  @extend .alert;
  background-color: #BBDEFB;
}

/* << ALERTS */



/* >> GREYSCALE */

.grayscale { 
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(50%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

/* << GREYSCALE */



/* >> FORUM THREAD TAGS */

.tags-container {
  font-size: 0;
  
  .tag {
    display: inline-block;
    @include border-radius(2px);
    background-color: #DFD3B6;
    font-size: 13px;

    .active {
      background-color: #FFD54F;
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .tags-container {
    clear: both;

    .tag {
      margin: 8px 8px 8px 0;
      padding: 0 5px;
      height: 25px;
      line-height: 25px;
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .tags-container {
    clear: both;

    .tag {
      margin: 8px 8px 8px 0;
      padding: 0 5px;
      height: 25px;
      line-height: 25px;
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .tags-container {
    .tag {
      margin: 5px 5px 5px 0;
      padding: 0 5px;
      height: 22px;
      line-height: 22px;
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .tags-container {
    .tag {
      margin: 5px 5px 5px 0;
      padding: 0 5px;
      height: 22px;
      line-height: 22px;
    }
  }
}

/* << FORUM THREAD TAGS */



/* >> HIGHLIGHT UPDATED FIELD */

.highlight-updated-field {
  background-color: #D9F5F9;
}

/* << HYPERLINK UPDATED FIELD */



/* >> MAP */

.map-container {
  position: relative;

  .map {
    margin: 0 auto;
    width: 100%;
  }
}

/* << MAP */



/* >> PROFILE IMAGES */

.profile-image {
  @include border-radius(50%);
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $main-color;
  text-align: center;
  color: #fff;
}

.profile-image-main {
  @extend .profile-image;
  position: absolute;
  display: block;
  bottom: 50%; right: 50%;
  border: 3px solid #fff;
}

@media screen and (max-width: $breakpoint1) {
  .profile-image-main {
    margin: 0 -70px 0 0;
    width: 140px; height: 140px;
    line-height: 134px;
    font-size: 60px;
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .profile-image-main {
    margin: 0 -80px -20px 0;
    width: 160px; height: 160px;
    line-height: 154px;
    font-size: 70px;
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .profile-image-main {
    margin: 0 -80px -20px 0;
    width: 160px; height: 160px;
    line-height: 154px;
    font-size: 70px;
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .profile-image-main {
    margin: 0 -80px -20px 0;
    width: 160px; height: 160px;
    line-height: 154px;
    font-size: 70px;
  }
}

.profile-image-dashboard {
  @extend .profile-image;
  float: left;
  vertical-align: top;
  margin-right: 15px;
  width: 56px; height: 56px;
  line-height: 56px;
  font-size: 22px;
}

.profile-image-notification,
.profile-image-invitation {
  @extend .profile-image;
  display: inline-block;
  vertical-align: middle;
  width: 38px; height: 38px;
  line-height: 34px;
  border: 2px solid #fff;
  font-size: 15px;
}

.profile-image-event {
  @extend .profile-image;
  display: inline-block;
  width: 30px; height: 30px;
  line-height: 32px;
  font-size: 15px;
  vertical-align: middle;
}

.profile-image-forum {
  @extend .profile-image;
  display: block;
  width: 40px; height: 40px;
  line-height: 38px;
  margin: 0 auto;
  font-size: 17px;
  border: 2px solid #fff;
}

.profile-image-friendship {
  @extend .profile-image;
  margin-right: 15px;
  width: 60px; height: 60px;
  line-height: 60px;
  font-size: 26px;
}

.profile-image-story {
  @extend .profile-image;
  float: left;
  width: 32px; height: 32px;
  line-height: 32px;
  font-size: 14px;
  vertical-align: middle;
}

.profile-image-thread {
  @extend .profile-image;
  display: inline-block;
  width: 25px; height: 25px;
  line-height: 25px;
  font-size: 11px;
  vertical-align: middle;
}

.profile-image-conversation {
  @extend .profile-image;
  width: 44px; height: 44px;
  line-height: 40px;
  font-size: 19px;
  border: 2px solid #fff; 
}

.profile-image-message {
  @extend .profile-image;
  display: table-cell;
  float: left;
  width: 35px; height: 35px;
  line-height: 35px;
  margin: 0 auto;
  font-size: 15px;
}

.profile-image-place {
  @extend .profile-image;
  float: left;
  vertical-align: top;
  margin-right: 15px;
  width: 60px; height: 60px;
  line-height: 60px;
  font-size: 26px;
}

.profile-image-reply {
  @extend .profile-image;
  width: 40px; height: 40px;
  line-height: 36px;
  font-size: 16px;
  border: 2px solid #fff;
  display: inline-block;
  vertical-align: middle;
}

/* << PROFILE IMAGES */




.addfriend-button {
  background: #5ee;
}

#login-error {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.scrollable-y {
  overflow-y: auto;
}



/* << GRID RULES */

.grid-container {
  .row {
    @include display(flex);
    @include flex-wrap(wrap);

    &:before, 
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  [class*='col-'] {
    float: left; 
    min-height: 1px;
  }

  .outline {
    outline: 1px solid #F6A1A1; 
  }

  @media screen and (max-width: $breakpoint1) {
    [class*='col-xl'], [class*='col-lg'], [class*='col-md'], [class*='col-sm'] {
      width: 0;
    }

    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }

    @for $i from 1 through $grid-columns {
      .col-xs-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }
  }

  @media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
    [class*='col-xl'], [class*='col-lg'], [class*='col-md'] {
      width: 0;
    }

    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }

    @for $i from 1 through $grid-columns {
      .col-sm-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }    
  } 

  @media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
    [class*='col-xl'], [class*='col-lg'] {
      width: 0;
    }

    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }

    @for $i from 1 through $grid-columns {
      .col-md-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }
  } 

  @media screen and (min-width: $breakpoint3 + 1px) and (max-width: $breakpoint4) {
    [class*='col-xl'] {
      width: 0;
    }

    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }

    @for $i from 1 through $grid-columns {
      .col-lg-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }
  }

  @media screen and (min-width: $breakpoint4 + 1px) {

    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }
    
    @for $i from 1 through $grid-columns {
      .col-xl-#{$i} {
        width: (100% * $i) / $grid-columns ;
      }
    }
  }
}

/* << GRID RULES */