.conversation-selector {
  position: relative;
  top: 20px;

  .search-input {
    display: block;
    width: 100%; height: 36px;
    border: solid 2px #998981;
    font-size: 0;
    overflow: hidden;

    .search-box {
      display: inline-block;
      width: 80%;

      input {
        width: 100%;
        line-height: 32px;
        padding: 0 10px;
      }
    }
    
    .search-button {
      display: inline-block;
      width: 20%;
      text-align: center;
      cursor: pointer;
      background-color: #ABEDC6;

      &:hover {
        background-color: #ABEDC6;

        i {
          color: #777;
        }
      }

      i {
        padding: 8px 0 7px 0;
        font-size: 15px;
      }
    }
  }
  
  .conversations {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 2px solid #DFD3B6;
    border-left: 2px solid #DFD3B6;
    border-bottom: 2px solid #DFD3B6;
    background-color: #fff;
    font-size: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    .alert.notice.static {
      width: 101%;
    }

    .conversation-thumbnail {
      display: block;
      position: relative;
      border-bottom: 2px solid #DFD3B6;
      margin: 0 auto;
      padding: 10px;
      height: 64px;
      text-align: left;
      background-color: white;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;

      &.selected {
        background-color: #FFE69B; 
      }

      &.unread {
        background-color: #FFEFC1;
      }

      .last-date {
        position: absolute;
        top: 3px; right: 10px;
        font-size: 12px;
      }

      .user-pic {
        display: inline-block;
        vertical-align: middle; 

        img {
          width: auto; height: 45px;
          @include border-radius(50%);
        }
      }

      .user-text {
        display: inline-block;
        vertical-align: bottom;
        width: 70%;
        margin-left: 10px;

        .fullname {
          vertical-align: top;
          font-size: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .last-message {
          font-size: 13px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .conversation-selector {
    position: relative;
    height: auto !important;
    padding: 0;

    .search-input {
      width: 100%;
    }

    .conversations {
      width: 100%; height: 300px;
      @include height(40vh);
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .conversation-selector {
    position: relative;
    height: auto !important;
    padding: 0 2%;
    
    .search-input {
      width: 100%;
    }

    .conversations {
      width: 100%; height: 300px;
      @include height(40vh);
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .conversation-selector {
      padding: 0 0 0 5%;

    .conversations {
      height: 550px;
      @include height(80vh);
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) and (max-width: $breakpoint4) {
  .conversation-selector {
      padding: 0 0 0 5%;

    .conversations {
      height: 550px;
      @include height(80vh);
    }
  }
}

@media screen and (min-width: $breakpoint4){
  .conversation-selector {
      padding: 0 0 0 5%;

    .conversations {
      height: 550px;
      @include height(80vh);
    }
  }
}


.conversation-log {
  display: inline-block;
  position: relative;
  top: 20px;
  vertical-align: top;
  text-align: center;

  .conversation-header {
    position: relative;
    width: 100%;
    background-color: #fff;
    border: solid 2px #DFD3B6;

    .header-name {
      height: 34px;
      line-height: 34px;
      padding: 0 10px;
      font-size: 16px;
      text-align: left;
    }

    .new-conversation-button {
      @include border-radius(0);
      @extend .btn;
      top: 0; right: 0;
      height: 28px;
      line-height: 28px;
      background-color: #998981;
      color: #fff;
      font-size: 14px;
      letter-spacing: .5px !important;

      &:hover {
        background-color: #7F726B; 
      }
    }

    .recipients-list {
      width: 100%;
      max-height: 93px;
      overflow-x: hidden; overflow-y: auto;
      padding: 5px 10px;
      border-top: solid 1px #DFD3B6;
      text-align: left;
      font-size: 14px;

      .to {
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        font-size: 14px;
      } 

      .nametags-wrapper {
        display: table-cell;
        vertical-align: middle;
        font-size: 0;

        .autocomplete {
          display: table-cell;
          vertical-align: middle;
          padding: 3px 0;

          @include user-suggestions-dropdown();
        }

        .nametag {
          display: inline-block;
          margin: 0 5px 5px 0;
          padding: 4px;
          background-color: #FFE082;
          font-size: 14px;
          @include border-radius(2px);  

          .fullname {

          }

          .close-button {
            margin-left: 5px;
            padding: 1px;
            color: #777;
            @include border-radius(2px);
            cursor: pointer;

            &:hover {
              background-color: #FFB74D;
            }
          }
        } 

        .name-input {
          display: inline-block;
          vertical-align: middle;
          margin: 0 3px;
        }
      }
    }
  }

  .messages {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    border: solid 2px #DFD3B6;

    &::-webkit-scrollbar {
      display: none;
    }

    .message {
      clear: both;
      padding: 15px 0;

      .chat-bubble {
        display: table-cell;
        text-align: left;
        vertical-align: top;
        padding: 5px 0 0 10px;
        font-size: 13px;
      }
    }
  }

  textarea {
    width: 100%; height: 100px;
    border: solid 2px #DFD3B6;
    @include border-radius(0);
    margin-bottom: 5px;
    padding: 10px;
  }
    
  .actions {
    text-align: left;
    margin-bottom: 20px;

    .send-message-button {
      @extend .btn;
      height: 34px;
      line-height: 34px;
      background-color: #FF7360;
      color: #fff;

      &:hover {
        background-color: #E56757; 
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .conversation-log {
    margin-top: 10px;
    padding: 0;

    .conversation-header {
      .new-conversation-button {
        margin: 0 5% 5px 5%;
      }
      
      .user-thumbnail {
        padding: 10px;
      }
    }

    .messages {
      margin: 10px 0;
      height: 400px;
      @include height(50vh);
    }

    .actions {
      padding-bottom: 10px;

      .send-message-button {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .conversation-log {
    margin-top: 10px;
    padding: 0 2%;

    .conversation-header {
      .new-conversation-button {
        position: absolute;
        margin: 3px;
      }
      
      .user-thumbnail {
        padding: 5px 10px;
      }
    }

    .messages {
      height: 400px;
      @include height(50vh);
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .conversation-log {
    padding: 0 2%;

    .conversation-header {
      .new-conversation-button {
        position: absolute;
        margin: 3px;
      }
      
      .user-thumbnail {
        padding: 2px 10px;
      }
    }

    .messages {
      height: 550px;
      @include height(50vh);
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) and (max-width: $breakpoint4) {
  .conversation-log {
    padding: 0 2%;

    .conversation-header {
      .new-conversation-button {
        position: absolute;
        margin: 3px;
      }
      
      .user-thumbnail {
        padding: 2px 10px;
      }
    }

    .messages {
      height: 550px;
      @include height(50vh);
    }
  }
}

@media screen and (min-width: $breakpoint4) {
  .conversation-log {
    padding: 0 2%;

    .conversation-header {
      .new-conversation-button {
        position: absolute;
        margin: 3px;
      }
      
      .user-thumbnail {
        padding: 2px 10px;
      }
    }
    
    .messages {
      height: 600px;
      @include height(55vh);
    }
  }
}
