// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* >> EVENT INDEX PAGE */

.event-container-index {
	text-align: center;

	.event-header-index {
		background-color: #FFE082;

		.create-event-button {
			@extend .btn;
			display: inline-block;
			float: right;
			margin: 20px 0;
			height: 36px;
			line-height: 36px;
			background-color: #FF7360;
			color: #fff;
			font-size: 15px;

			&:hover {
				background-color: #E56757;
			}
		}

		.header-title {
			clear: both;
			font-size: 25px;
			letter-spacing: 1.3;
		}

		input.search-event {
			width: 95%;
			max-width: 400px;
			margin: 20px auto;
			padding: 10px;
			background-color: #fff;
			border: 2px solid #fff;
			@include border-radius(2px);

			&:focus {
				border-color: #0091EA;
				@include box-shadow(0 0 5px #7BC7F7);
			}
		}

		@include place-suggestions-dropdown(#D9F5F9, #BBDEFB);
		.suggestions-dropdown {
			display: block;
			width: 70%;
			max-width: 400px;
			margin: 0 auto;
			z-index: -1;

			.place-suggestion {
				font-size: 14px;
			}
		}
	}

	.events-container {
		border-bottom: 2px solid #DFD3B6;
		border-left: 2px solid #DFD3B6;
		border-right: 2px solid #DFD3B6;
		background-color: #fff;

		.event-link {
			width: 100%;
			position: relative;
			padding: 30px 5% 30px 5%;
			border-bottom: 1px solid #DFD3B6;
			text-align: left;

			&:last-of-type {
				border-bottom: none;
			}

			.event-photo-thumbnail {
				display: block;
				float: left;
				width: 100px; height: 100px;
				margin-right: 15px;
				background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
				@include border-radius(5px);
				@include background-size(cover);
				background-repeat: no-repeat;
				background-position: center center;
				background-color: $main-color;
				text-align: center;
				color: #fff;
			}

			.join-button,
			.edit-event-button {
				@extend .btn;
				display: inline-block;
				margin: 0 0 5px 0;
				height: 32px;
				line-height: 32px;
				background-color: #347266;
				color: #fff;
				font-size: 13px;

				&:hover {
					background-color: #408C7D;
				}
			}

			.title {
				display: block;
				margin-bottom: 5px;
				font-size: 17px;
				font-weight: 800;
				line-height: 1.5;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}

			.location,
			.date {
				line-height: 1.5;

				i {
					width: 20px;
					text-align: center;
				}

				.address {
					font-size: 13px;
					color: #666;

					span {
						display: inline-block;
						margin-left: 27px;
					}
				}
			}

			.number-of-participants {
				text-align: right;
				font-size: 18px;
				color: #222;
			}
		}
	}
}


@media screen and (max-width: $breakpoint1) {
	.event-container-index {
		.events-container {
			.event-link {
				.event-photo-thumbnail {
					width: 60px; height: 60px;
				}

				.title {
					margin-left: 65px;
				}
			}
		}
	}
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
	.event-container-index {
		.events-container {
			.event-link {
				.event-photo-thumbnail {
					width: 60px; height: 60px;
				}

				.title {
					margin-left: 70px;
				}
			}
		}
	}
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
	.event-container-index {
		.events-container {
			.event-link {
				.event-photo-thumbnail {
					width: 100px; height: 100px;
				}

				.join-button,
				.edit-event-button {
					float: right;
				}
			}
		}
	} 
}

@media screen and (min-width: 1025px){
	.event-container-index {
		.events-container {
			.event-link {
				.event-photo-thumbnail {
					width: 100px; height: 100px;
				}

				.join-button,
				.edit-event-button {
					float: right;
				}
			}
		}
	}
}

/* << EVENT INDEX PAGE */



/* >> EVENT NEW PAGE */

.event-container-new {
	text-align: center;

	.event-header-new {
		position: relative;
		text-align: center;
		height: 250px;
		background: #59B2A2 url(https://s-media-cache-ak0.pinimg.com/originals/e1/e6/0f/e1e60ff3fbf889e3db19eac7f1981c39.jpg) no-repeat center center;
		letter-spacing: 2;
		color: #fff;

		input.input-title {
			display: block;
			position: absolute;
			top: 50%; right: 0; left: 0;
			width: 90%;
			max-width: 400px;
			margin: -25px auto 0 auto;
			padding: 10px;
			font-size: 20px;
		} 

		.upload-eventphoto-button {
			position: absolute;
			top: 20px; right: 20px;
			width: 30px;
			border: none;
			color: #fff;
			font-size: 22px;
			cursor: pointer;
			@include text-shadow(0 0 10px #000);

			&:hover {
				color: #bbb;
			}
		}
	}

	.event-content {
		padding: 20px 5%;
		background-color: #fff;
		border-right: 2px solid #DFD3B6;
		border-left: 2px solid #DFD3B6;
		border-bottom: 2px solid #DFD3B6;
		text-align: center;
		font-size: 0;

		.element-wrapper {
			padding: 10px;
			text-align: left;

			&.date {
				display: inline-block;
				width: 50%;
			}

			.event-element {
				margin: 10px 0;
			}

			@include editor-toolbar();

			input {
				display: block;
				width: 100%; height: inherit;
				padding: 10px;
				background-color: #e5e5e5;
				border: 1px solid #ddd;
				border-radius: 0;
				font-size: 15px;
				line-height: 1;
				color: #444;
			}

			@include preview-container(); 
		}

		.post-event-button {
			@extend .btn;
			display: inline-block;
			height: 36px;
			line-height: 36px;
			margin: 20px auto;
			background-color: #FF7360;
			color: #fff;
			font-size: 15px;  	

			&:hover {
				background-color: #E56757;
			}
		}
	}
}

.react-datepicker__tether-element {
	.react-datepicker {
		.react-datepicker__day--selected {
			background-color: #FF7360;

			&:hover {
				background-color: #E56757;	
			}
		}
	}
}

.rc-time-picker-panel {
	.rc-time-picker-panel-select {
		li:hover {
			background-color: #f0f0f0;
		}

		.rc-time-picker-panel-select-option-selected {
			background-color: #FF7360;
			color: #fff;

			&:hover {
				background-color: #E56757;	
			}
		}
	}
}

@media screen and (max-width: $breakpoint1) {
	.event-container-new {

		.event-content {
			padding: 20px;
		}
	}
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
	.event-container-new {

		.event-content {
			padding: 20px;
		}
	}
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
	.event-container-new {

		.event-content {
			padding: 20px;
		}
	} 
}

@media screen and (min-width: 1025px){
	.event-container-new {

	}
}

/* << EVENT NEW PAGE */



/* >> EVENT SHOW PAGE */

.event-container-show {
	padding: 20px 0;
	text-align: center;

	.event-header-show {
		display: table;
		position: relative;
		width: 100%; height: 250px;
		background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
		@include background-size(cover);
		background-repeat: no-repeat;
		background-position: center center;
		
		.cover-photo-layer {
			position: absolute;
			top: 0; right: 0;
			width: 100%; height: 100%;
			background-color: rgba(0,0,0,.3);
		}

		.header {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			position: relative;
			margin: 0 auto;
			padding: 0 10px;
			font-size: 27px;
			font-weight: 800;
			letter-spacing: 2;
			color: #fff;
			z-index: 1;
		}

		.join-button {
			@extend .btn;
			position: absolute;
			right: 20px; bottom: 20px;
			height: 36px;
			margin: auto;
			line-height: 32px;
			background-color: #FF7360;
			border: 2px solid #fff;
			color: #fff;
			font-size: 16px;
			z-index: 1;

			&:hover {
				background-color: #E56757;
			}
		}
	}

	.event-content {
		text-align: left;
		overflow:hidden;
		width: 100%;
		padding: 20px 1%;
		background-color: #fff;
		border-right: 2px solid #DFD3B6;
		border-left: 2px solid #DFD3B6;
		border-bottom: 2px solid #DFD3B6;
		font-size: 0;

		div[class^="col"] {

			&.col-12 {
				height: auto;
			}

			.element-wrapper {
				display: table;
				padding: 10px 20px;

				i {
					display: table-cell;
					width: 30px;
					text-align: center;
					font-size: 20px;
				}

				.event-element {
					&.venue,
					&.date {
						display: inline-block;
						margin: 5px 0;
						font-size: 17px;
					}

					&.address {
						color: #666;
					}

					&.description {
						margin: 5px 10px 10px 10px;
					}

					&.edit-description {
						margin:  30px 0 10px 0;
					}

					.element-title {
						margin-left: 10px;
						font-weight: 800;
						letter-spacing: 1.5;
						line-height: 2;
						font-size: 17px;
					}

					.organizer {
						margin: 5px 0;
						font-size: 0;

						.username {
							margin-left: 5px;
							font-size: 15px;
							color: #444;
						}
					}

					.participant {
						margin: 5px 5px 5px 0; 
					}
				}

				@include editor-toolbar();

				input {
					display: block;
					width: 100%;
					padding: 10px;
					background-color: #e5e5e5;
				}	

				@include preview-container(); 
			}
		}
	}
}

@media screen and (max-width: $breakpoint1) {
	.event-container-show {

	}
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
	.event-container-show {


	}
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
	.event-container-show {

	} 
}

@media screen and (min-width: 1025px){
	.event-container-show {

	}
}

/* << EVENT SHOW PAGE */



/* >> FOR ALL EVENTS PAGES */

@media screen and (max-width: $breakpoint1) {
	div[class^="event-container"] {
		padding: 20px 0;

		div[class^="event-header"] {
			padding: 0 10px;
		}
	}
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
	div[class^="event-container"] {
		padding: 20px 0;

		div[class^="event-header"] {
			padding: 0 5%;
		}
	}
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
	div[class^="event-container"] {
		padding: 20px 8%;

		div[class^="event-header"] {
			padding: 0 5%;
		}
	} 
}

@media screen and (min-width: $breakpoint3 + 1px) {
	div[class^="event-container"] {
		padding: 20px 2% 20px 5%;

		div[class^="event-header"] {
			padding: 0 5%;
		}
	}
}

/* << FOR ALL EVENTS PAGES */