/* >> FRIENDSHIP REQUESTS */

#friend-request-dropdown {
  overflow-y: auto;
  max-height: 500px;

  li {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px 10px;

    div,
    form {
      display: inline-block;
    }

    .hyperlink {
      font-size: 0;

      .username {
        width: 170px;
        margin-left: 5px;
        font-size: 15px;
      }
    }

    .reply-to-invitation {
      display: block;
      text-align: center;
      margin: 5px 0;
      line-height: 0; 

      form {
        margin: 0 1px;
        position: relative;
      }

      .accept-invitation,
      .reject-invitation {
        @extend .btn;
        display: inline-block;
        width: 90px; height: 30px;
        border: 2px solid;
        font-size: 13px; 

        i {
          top: 3px;
          margin: 0;
          padding: 0;
          line-height: 26px;
          color: #fff;
          vertical-align: middle;
          letter-spacing: 1px;
          font-size: 15px;
        }
      } 

      .accept-invitation {
        background-color: #59B2A2;
        border-color: #59B2A2; 

        &:hover {
          background-color: #ABEDC6;
          border-color: #ABEDC6;

          i {
            color: #666;
          }
        } 

        i {
          color: #fff;
        } 
      } 

      .reject-invitation {
        background-color: #fff;
        border-color: #59B2A2;

        &:hover {
          background-color: #ABEDC6;
          border-color: #ABEDC6;

          i {
            color: #666;
          }
        } 

        i {
          color: #aaa;
        } 
      }
    }
  }
}

/* << FRIENDSHIP REQUESTS */