.friendships-container {
  text-align: center;

  .friendship {
    position: relative;
    display: inline-block;
    width: 260px; height: 100px;
    padding: 10px;
    background-color: #FFFFE0;
    border: 2px solid #DFD3B6;
    @include border-radius(4px);
    text-align: left;
    font-size: 0;

    @include relationship-dropdown();

    .dropdown-trigger {
      float: right;
      top: 0; right: 0;
      z-index: 1;
    }

    .dropdown-content {
      top: 45px; right: 10px;
      z-index: 2;
    } 

    .profile-image-wrapper {
      float: left;
      margin: 8px 0;
    }

    .username {
      display: table-cell;
      height: 40px;
      margin-bottom: 15px;

      a {
        vertical-align: middle;
        font-size: 15px;
        line-height: .8;
      }
    }

    .user-summary {
      display: inline-block;

      .language,
      .home {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        color: #666;
      }
    }
  }
  
  // .unfriend-button {
  //   @extend .btn;
  //   position: absolute;
  //   top: 10px; right: 10px;
  //   height: 25px;
  //   line-height: 25px;
  //   font-size: 13px;
  //   font-weight: 100 !important;
  //   letter-spacing: 1px !important;
  //   background-color: #4C998A;
  //   color: #fff;
  //   border-bottom: 2px solid #347266;
  //   @include border-radius(2px);

  //   &:hover {
  //     background-color: #3F7F72;
  //   }
  // }
}


@media screen and (max-width: $breakpoint1) {
  .friendships-container {
    .friendship {
      width: 100%;
      margin: 8px auto;

      .username,
      .user-summary {
        max-width: 120px; 
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .friendships-container {
    .friendship {
      width: 300px;
      margin: 8px 5px;

      .username,
      .user-summary {
        max-width: 150px; 
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .friendships-container {
    .friendship {
      width: 320px;
      margin: 8px 5px;

      .username,
      .user-summary {
        max-width: 170px; 
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .friendships-container {
    .friendship {
      width: 320px;
      margin: 8px 5px;

      .username,
      .user-summary {
        max-width: 170px; 
      }
    }
  }
}