.notifications-container {
  position: relative;
  width: 90%;
  margin: 30px auto;
  background-color: #fff;

  h4.header {
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 20px;
    background-color: #59b2a2;
    color: #fff;
  }

  .dropdown-trigger {
    position: absolute;
    top: 17px; right: 20px;
    color: #F7F1E3;
    font-size: 24px;
    cursor: pointer;
  }

  .buttons-container {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: right;

    form {
      display: inline-block;

      input.mark-read-button,
      input.remove-all-button {
        @extend .btn;
        width: 100%;
        color: #666;
        font-size: 14px;    
        background-color: #F7F1E3;

        &:hover {
          color: #151515;
        }
      }
    }
  }

  ul.notifications-index {
    border-right: 1px solid #DFD3B6;
    border-left: 1px solid #DFD3B6;
    border-bottom: 1px solid #DFD3B6;

    li.notification {  
      padding: 10px 10px 21px 10px;

      form {
        text-align: right;

        .remove-button {
          color: #666;  
          font-size: 20px;
          cursor: pointer;

          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}

ul.notifications-index,
ul#notification-dropdown {
  overflow-y: auto;
  max-height: 500px;

  li.notification {
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px 10px;
    border-bottom: 1px solid #DFD3B6;
    cursor: pointer;  
    
    &:last-of-type {
      border-bottom: none;
    }
    
    &:hover {
      background-color: #ffe082;
    }

    &.unread {
      background-color: #C7EFCF;
    }

    .link {
      display: table;
      width: 100%;

      .profile-image-wrapper,
      .notification-wrapper,
      form {
        display: table-cell;
        vertical-align: middle;
      }

      .profile-image-wrapper {
        text-align: center;
      }

      .notification-wrapper {
        line-height: 1.3;
        margin-top: 2px;
        text-align: left;

        .username,
        .notification {
          margin-left: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .username {
          margin-right: 5px;
          font-size: 15px;
        }
  
        .notification {
          font-size: 13px;
        }
      }

      .published-date {
        display: table-caption;
        text-align: right;
        line-height: 1;
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .notifications-container {
    position: relative; 

    .dropdown-trigger {
      display: block;
    }

    .buttons-container {
      display: none;
      position: absolute;
      top: 50px; right: 5px;
      width: 230px;
      padding: 10px 0;
      border-right: 1px solid #DFD3B6;
      border-left: 1px solid #DFD3B6;
      border-bottom: 1px solid #DFD3B6;
      background-color: #F7F1E3;

      form {
        input.mark-read-button,
        input.remove-all-button {
          height: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .notifications-container {
    position: relative; 

    .dropdown-trigger {
      display: block;
    }

    .buttons-container {
      display: none;
      position: absolute;
      top: 50px; right: 5px;
      width: 230px;
      padding: 10px 0;
      border-right: 1px solid #DFD3B6;
      border-left: 1px solid #DFD3B6;
      border-bottom: 1px solid #DFD3B6;
      background-color: #F7F1E3;

      form {
        input.mark-read-button,
        input.remove-all-button {
          height: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .notifications-container {
    .dropdown-trigger {
      display: none;
    }

    .buttons-container {
      height: 60px;
      line-height: 60px;

      form {
        display: inline-block;
        margin: 0 15px 0 0;

        input.mark-read-button,
        input.remove-all-button {
          height: 26px;
          padding: 0 10px !important;
          letter-spacing: 0 !important;
          @include border-radius(25px !important);
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) { 
  .notifications-container {
    .dropdown-trigger {
      display: none;
    }

    .buttons-container {
      height: 60px;
      line-height: 60px;

      form {
        display: inline-block;
        margin: 0 15px 0 0;

        input.mark-read-button,
        input.remove-all-button {
          height: 26px;
          padding: 0 10px !important;
          letter-spacing: 0 !important;
          @include border-radius(25px !important);
        }
      }
    }
  }
}