.reset-password-container {
	margin: 30px auto;
	padding: 80px 20px;
	width: 90%;
	max-width: 900px;
	@include border-radius(5px);
	@include box-shadow(0 0 10px 0 #ddd);
	text-align: center;
	background-color: #fff;

	h4 {
		margin: 0 auto 10px auto;
		letter-spacing: 1.2;
	}

	p {
		margin: 15px 0;  
	}

	form {
		input[type='password'] {
			padding: 10px;
			background-color: #ddd;
		}

		.update-button {
			@extend .btn;
			height: 40px;
			line-height: 40px;
			margin: 20px auto;
			background-color: #FF7360;
			color: #fff;
			font-size: 16px;
		
			&:hover {
				background-color: #E56757;
			}
		}
	}
}

@media screen and (max-width: $breakpoint1) {
	.reset-password-container {
		form {
			input[type='password'] {
				width: 100%;
				margin: 10px 0;
			}	

			.update-button {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
	.reset-password-container {
		form {
			input[type='password'] {
				width: 100%;
				margin: 10px 0;
			}	

			.update-button {
				width: 200px;
			}
		}
	}
}


@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
	.reset-password-container {
		form {
			input[type='password'] {
				width: 40%;
				margin: 10px;
			}	

			.update-button {
				width: 200px;
			}
		}
	}
}

@media screen and (min-width: $breakpoint3 + 1px) {
	.reset-password-container {
		form {
			input[type='password'] {
				width: 40%;
				margin: 10px;
			}	

			.update-button {
				width: 200px;
			}
		}
	}
}