.location-profile-container {
	background-color: #fff;
	border-bottom: 2px solid #DFD3B6;
	border-right: 2px solid #DFD3B6;
	border-left: 2px solid #DFD3B6;
	text-align: left;
	font-size: 0;
	z-index: 0;

	.map-container {
		position: relative;
		width: 100%; height: 300px;
		background-color: rgba(0,0,0,.2);
		text-align: center;
		z-index: 0;

		#profile-map {
			opacity: .8;
		}

		.location-name {
			display: block;
			position: absolute;
			top: 50%; left: 3%; right: 3%;
			margin-top: -40px;
			letter-spacing: 5px;
			text-transform: uppercase;
			color: #333;
			@include text-shadow(0 0 5px #fff);
		}
	}

	.tabs {
		border-top: 2px solid #F7F1E3;

		.tab-link {
			position: relative;
			display: inline-block;
			width: 25%;
			margin-bottom: -2px;
			padding: 10px 0;
			text-align: center;
			border-right: 2px solid #DFD3B6;
			border-bottom: 2px solid #DFD3B6;
			cursor: pointer;

			&:last-of-type {
				border-right: none;
			}

			&:hover:after {
				position: absolute;
				content: " ";
				width: 100%;
				top: 0; left: 0;
				border-top: 4px solid #FF897A;
				z-index: 1;
			}	

			&.current {
				border-bottom-color: #fff;
				z-index: 2;
			}

			.number {		
				font-size: 25px;
			}

			.unit {
				font-size: 14px;
			}
		}
	}

	.tab-content {
		display: none;
		width: 100%;
		text-align: center;
		display: none;

		&.current {
			display: inherit !important;
		}

		.user-thumbnail {
			position: relative;
			display: inline-block;
			margin: 15px;
			padding: 10px 15px;
			width: 260px; height: 80px;
			background-color: #EBEBD3;
			border: 2px solid #DFD3B6;
			@include border-radius(4px);
			text-align: left;
			font-size: 0;	

			.username {
				margin-bottom: 5px;
				vertical-align: bottom;
				font-weight: 600;
			}	

			.language,
			.home {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				font-size: 13px;
				color: #666;
			}
		}
	}
}

@media screen and (max-width: $breakpoint1) {
	.location-profile-container {
		margin: 0 0 20px 0;

		h3 {
			font-size: 25px;
		}
	}
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
	.location-profile-container {
		margin: 0 0 20px 0;
	}
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
	.location-profile-container {
		margin: 0 2% 20px 2%;
	}
}

@media screen and (min-width: $breakpoint3 + 1px) {
	.location-profile-container {
		margin: 0 5% 20px 8%;
	}
}