.profile-panels-container {
  .album {
    .album-header-wrapper {
      position: relative;

      .upload-button {
        @extend .btn;
        position: absolute;
        text-align: center;
        top: 0; right: 10px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: #fff;

        &:hover {
          color: #333;
        }
      }
    }

    > .content {
      text-align: center;
      position: relative;

      .img-loading {
        height: 200px;
        background-color: #fff;
        z-index: 2;

        .spinning-tabi {
          position: absolute;
          top: 50%; left: 50%;
          margin: -25px 0 0 -25px;
          width: 50px !important;
          height: auto !important;
          @include animation(spin 4s linear infinite);
        }
        @-webkit-keyframes spin {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
        }
        @-moz-keyframes spin {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
        }
        @keyframes spin {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
        } 
      }

    	.thumbnail {
        position: relative;
    		display: inline-block;
    		width: 200px; height: 200px;
      	margin: 2px;
        overflow: hidden;
        cursor: pointer;
        @include transition(all 0.3s ease);

        &:hover {
          opacity: 0.8;
          @include filter(alpha(opacity=80));
        }

        &:hover .img-menu {
          display: block;
        }

    		img {
          position: absolute;
          left: 50%; top: 50%;
          @include transform(translate(-50%,-50%));
    		}

        img.portrait {
          height: auto;
          width: 100%;
        }
  
        img.landscape {
          width: auto;
          height: 100%;
        }

        .img-menu {
          position: absolute;
          top: 8px; right: 8px;
          z-index: 1;
          text-align: right;
          @include border-radius(3px);

          i {
            cursor: pointer;
            background-color: #fff;
            @include border-radius(3px);
            @include box-shadow(0 0 2px rgba(100,100,100,.6));
          
            &:hover {
              background-color: #d5d5d5;
              color: #111;
            }
          }

          .img-edit-dropdown {
            display: none;
            width: 180px;
            margin-top: 2px;
            padding: 10px 0;
            background-color: #fff;
            text-align: left;
            @include border-radius(3px);
            @include box-shadow(0 0 4px rgba(100,100,100,.6));


            li {
              display: block;
              width: 100%;
              border-color: #fff;

              &:hover {
                background-color: #ffe082;
              }

              form {
                button {
                  display: block;
                  width: 100%;
                  margin: 5px 0;
                  padding: 10px;
                  background-color: #fff;
                  font-size: 16px;
                  font-weight: 100;
                  font-family: $lato-font-family;
                  letter-spacing: 0;
                  line-height: 1.2;
                  cursor: pointer;
                  text-align: left;   

                  &:hover {
                    background-color: #ffe082;
                  }
                }
              }
            }
          }
        }
    	}
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .profile-panels-container {
    .album {
      .album-header-wrapper {
        .upload-button {
          span {
            display: none;
          }
        }
      }

      > .content {
        .thumbnail {
          .img-menu {
            display: block;

            i {
              padding: 10px 12px 9px 12px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .profile-panels-container {
    .album {
      > .content {
        .thumbnail {
          .img-menu {
            display: none;

            i {
              padding: 5px 6px 4px 6px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .profile-panels-container {
    .album {
      > .content {
        .thumbnail {
          .img-menu {
            display: none;

            i {
              padding: 5px 6px 4px 6px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .profile-panels-container {
    .album {
      > .content {
        .thumbnail {
          .img-menu {
            display: none;

            i {
              padding: 5px 6px 4px 6px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
