.redirects-container {
	width: 100%;
	text-align: center;
	margin-top: 200px;
	font-size: 0;

	.loading-icon {
		margin: 20px 0;

		i {
			font-size: 70px;
			color: #555;
		}
	}

	.redirecting-message {
		display: inline-block;
	}

	.redirecting-link {
		margin: 5px 0 15px 0;
		font-size: 19px;
	}

	a {
		display: inline-block;
		margin-left: 4px;
		color: #347266;

		&:hover {
			color: #59B2A2;
		}
	}

	#final-redirect-link {
		//do not remove display none as this is the element
		//from which the url is retrieved
		//it must remain hidden
		display: none;
	}
}