.replies-wrapper {
  .profile-panel {

    .edit-reply.content {
      form {
        @include editor-toolbar();

        textarea {
          width: 100%;
          padding: 10px;
          background-color: #e5e5e5;
          border: none;
        }     

        @include preview-container();
        .preview-container {
          margin-bottom: 10px;
        }

        .actions {
          .post-button {
            @extend .btn;
            display: block;
            width: 200px;
            height: 36px;
            line-height: 36px;
            background-color: #ff7360;
            color: #fff;

            &:hover {
              background-color: #d86252;
            }
          }
        }
      }
    }
  }
}

.posts-wrapper {
  .profile-panel {
    position: relative;

    .header-option {
      .slidedown-trigger {
        position: absolute;
        top: 0;
        height: 50px;
        line-height: 50px;
        margin: 0 10px;
        color: #fff;
        cursor: pointer;

        i {
          font-size: 20px;
          line-height: 50px;
        }

        &:hover {
          color: #333;
        }
      }

      .switch-button {
        right: 10px;
      }
    }

    > .content {
      &.answers {
        display: none;
      }

      h6 {
        padding: 8px 30px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #998981;
        background-color: #FFECB3;
        @include border-radius(50px);
      }

      .thread-summary {
        padding: 20px 5%;

        .posted-date {
          width: 100%;
          display: block;
          text-align: right;
          color: #888;
          font-size: 12px;
        }

        /* .tags-container => application.scss */

        .thread-title {
          font-size: 16px;
          font-weight: 600;
        }

        .location {
          display: block;

          span {
            font-size: 13px; 
            color: #666;
          }

          .city-state {
            display: inline-block;
            font-size: 15px;
          }
        }

        .author {
          display: inline-block;

          span {
            font-size: 13px; 
            color: #666;
          }

          .hyperlink {
            display: inline-block;

            .username {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }

        /* .edit-post-button => application.scss */
      }

      hr {
        display: block;
        width: 90%;
        margin: 0 auto;
        border-top: 2px dashed #DFD3B6;
        border-bottom: none;

        &:last-of-type {
          display: none;
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .posts-wrapper {
    .tags-container {
      clear: both;
    } 

    .thread-title,
    .author {
      display: block; 
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .posts-wrapper {
    .tags-container {
      clear: both;
    } 

    .thread-title,
    .author {
      display: block; 
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .posts-wrapper {
    .thread-title,
    .author {
      display: inline-block; 
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .posts-wrapper {
    .thread-title,
    .author {
      display: inline-block; 
    }
  }
}