// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* >> OFFLINE PAGE COVER */
.col-12 { height: 100%; }

.landing-cover {
  position: relative;
  height: 100%;
  min-height: 600px;
  margin-bottom: -100px;
  text-align: center;

  div[class^="landing-photo"] {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-height: 600px;
    background-color: #695D46;
    z-index: -1;
  }

  .landing-photo {
    @include background-size(cover);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .transparent-layer {
    position: absolute;
    top: -95px; right: 0; left: 0;
    background-color: rgba(20,20,20,.55);
    width: 100%; height: 100%;
    min-height: 600px;
    padding: 5%;

    .titles-wrapper {
      width: 95%;

      .title {
        margin-bottom: 5px;
        @include filter(drop-shadow(0 0 8px rgba(0,0,0,.8)));
      }

      .subtitle {
        margin-bottom: 10px;
        font-weight: 800;
        color: #ff9800;
        @include text-shadow(0 0 5px rgba(0,0,0,.8));
      }

      .subtitle-free {
        margin-bottom: 10px;
        font-weight: 800;
        color: #fff;
        letter-spacing: 1.5px;
        font-family: $marmelad-font-family;
        @include text-shadow(0 0 5px rgba(0,0,0,.8));
      }
    }

    .login-form {
      form {
        margin: auto;

        .login-input-wrapper {
          font-size: 0; 

          .login-input {
            height: 44px;
            padding: 10px;
            font-size: 16px;
            border: 2px solid #fff;   

            &:focus {
              border-color: #0091EA;
              @include box-shadow(0 0 5px #7BC7F7);
            }
          }
        } 

        .remember-me-button {
          text-align: center;
          vertical-align: middle; 

          input {
            margin: 0 10px;   

            &:hover + label,
            &:focus + label {
              color: #ffc107;
            }
          } 

          label {
            text-align: center;
            font-size: 16px;
            color: #fff;
            font-family: $helvetica-font-family;
            cursor: pointer;
            @include text-shadow(0 0 15px #000);    

            &:hover,
            &:focus {
              color: #ffc107;
            }
          }
        } 

        .forgot-password-button {
          text-align: center;
          vertical-align: middle;
          font-size: 16px;
          color: #fff;
          font-family: $helvetica-font-family;
          cursor: pointer;
          @include text-shadow(0 0 15px #000);  

          &:hover,
          &:focus {
            color: #ffc107;
          } 
        }
      }

      .modal-forgot-password {
        @extend .modal;

        .content-wrapper {
          padding: 80px 20px;
          background-color: #C8E6C9;

          h4 {
            margin: 0 auto 10px auto;
            letter-spacing: 1.2;
          }

          p {
            margin: 15px 0;
            line-height: 1.2;
          }

          input[type='email'] {
            width: 90%; height: 40px;
            margin: 30px auto;
            padding: 0 10px;
            border: 2px solid #B6CCAB;
          }

          input[type='submit'] {
            @extend .btn;
            width: 250px !important; height: 50px;
            line-height: 46px;
            background-color: #fff;
            border: solid 2px;
            font-weight: 800 !important;

            &:hover {
              background-color: #347266;
              border: solid 2px #347266;
              color: #fff;
            }
          }
        }
      }

      .login-button {
        @extend .btn;
        display: block;
        margin: 10px auto 20px auto;
        height: 50px;
        line-height: 46px;
        font-size: 18px;
        background-color: rgba(0,0,0,.4);
        border: 2px solid #fff;
        color: #fff;

        &:hover,
        &:focus {
          background-color: #0091EA;
        }
      }

      .signup-button {
        @extend .btn;
        display: block;
        margin: 0 auto;
        height: 50px;
        line-height: 46px;
        font-size: 18px;
        background-color: rgba(0,0,0,.4);
        border: 2px solid #fff;
        color: #fff;

        &:hover,
        &:focus {
          background-color: #ED6A5A;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .titles-wrapper {
    margin: 100px auto 0 auto;

    .title {
      width: 250px;
    }
  }

  .login-form {
    .login-input {
      width: 90%;
      margin: 5px auto;
    }

    .remember-me-button,
    .forgot-password-button {
      display: block;
      width: 90%;
      margin: 10px auto 0 auto;
    }

    .login-button,
    .signup-button {
      width: 200px;
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .titles-wrapper {
    margin: 100px auto 0 auto;

    .title {
      width: 300px;
    }
  }

  .login-form {
    .login-input {
      width: 80%;
      margin: 5px auto;
    }

    .remember-me-button,
    .forgot-password-button {
      display: inline-block;
      width: 40%;
      margin: 10px;
    }

    .login-button,
    .signup-button {
      width: 300px;
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .titles-wrapper {
    margin-top: 80px;
    margin: 20vh auto 0 auto;

    .title {
      width: 350px;
    }
  }

  .login-form {
    .login-input {
      width: 45%;
      margin: 10px;
    }

    .remember-me-button,
    .forgot-password-button {
      display: inline-block;
      width: 35%;
      margin: 10px;
    }

    .login-button,
    .signup-button {
      width: 300px;
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) and (max-width: $breakpoint4) {
  .titles-wrapper {
    margin-top: 90px;
    margin: 20vh auto 0 auto;

    .title {
      width: 350px;
    }
  }

  .login-form {
    .login-input {
      width: 35%;
      margin: 10px;
    }

    .remember-me-button,
    .forgot-password-button {
      display: inline-block;
      width: 35%;
      margin: 10px;
    } 

    .login-button,
    .signup-button {
      width: 300px;
    }
  }
}

@media screen and (min-width: $breakpoint4 + 1px) {
  .titles-wrapper {
    margin-top: 100px;
    margin: 20vh auto 0 auto;

    .title {
      width: 350px;
    }
  }

  .login-form {
    margin-bottom: 100px;

    .login-input {
      width: 40%;
      margin: 10px;
    }

    .remember-me-button,
    .forgot-password-button {
      display: inline-block;
      width: 35%;
      margin: 10px auto;
    } 

    .login-button,
    .signup-button {
      width: 350px;
    }
  }
}

/* << OFFLINE PAGE COVER */


/* >> WHAT, HOW & WHY COMMON CSS STYLE */

.landing-panel {
  position: relative;
  margin: 0 auto;
  padding: 50px 3%;
  width: 100%;

  h2 {
    display: block;
    font-family: $marmelad-font-family;
  }

  h4 {
    margin: 15px 0;
    font-family: $marmelad-font-family;
  }
}


@media screen and (max-width: $breakpoint1) {
  .landing-panel {
    h2 {
      font-size: 1.7em;
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .landing-panel {
    h2 {
      font-size: 2.8em;
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {

}

@media screen and (min-width: $breakpoint3 + 1px) {

}

/* << WHAT, HOW & WHY COMMON CSS STYLE */


/* >> WHAT TABILOCAL */

#what-container {
  background-color: #FFD85B;
  text-align: center;

  h2 {
    text-align: left;
    margin-bottom: 5px;
  }

  > p {
    text-align: left;
    font-size: 16px;
  }

  .obstacles-wrapper {
    margin: 10px auto 0 auto;

    .row {
      max-width: 1000px;
      margin: 0 auto;

      .col-6.col-sm-12.col-xs-12 {
        display: inline-block;
        vertical-align: top;

        &:first-of-type {
          .thought-bubble-wrapper {
            &:before { bottom: -15px; left: 150px; } 
            &:after { bottom: -25px; left: 130px; }
          }
        }

        &:last-of-type {
          .thought-bubble-wrapper {
            &:before { bottom: -15px; right: 150px; }
            &:after { bottom: -25px; right: 130px; }
          }
        }

        .thought-bubble-wrapper {
          position: relative;
          margin: 15px auto;
          padding: 20px 5%;
          border: 3px solid #695D46;
          text-align: left;
          color: #444;
          background-color: #fff;
          @include border-radius(50px);

          &:before,
          &:after {
            display: block;
            content: "";
            position: absolute;
            z-index: 10;
            border: 3px solid #695D46;
            background: #fff;
            border-radius: 50px;
          }

          &:before {
            width: 20px; height: 20px;
          }

          &:after {
            width: 10px; height: 10px;
          }

          .header {
            padding: 10px;
            font-family: $marmelad-font-family;
            font-size: 20px;
            color: #555;
          }

          .example {
            display: table;
            padding: 2px 10px;

            i {
              display: table-cell;
              font-size: 17px;
              padding: 0 5px;
            } 

            p {
              display: table-cell;
              line-height: 1.5;
            }
          }
        }

        img {
          max-width: 350px;
          padding: 15px 10px;

          &.img-obstacle-one {
            float: left;
          }

          &.img-obstacle-two {
            float: right;
          }
        }
      }
    }
  }

  .lightbulb-wrapper {
    max-width: 800px;
    margin: 10px auto;
    padding: 15px;
    background-color: rgba(255,255,255,.5);
    @include border-radius(50px);
    border: 3px solid #BFA961;

    h3 {
      font-family: $marmelad-font-family;
      line-height: 1.1;
    }

    p {
      margin-top: 5px;
      font-size: 17px;
    }

    img {
      width: 100%;
      max-width: 400px;
      padding: 10px;
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .obstacles-wrapper {
    .col-6 {
      padding: 0;

      img {
        width: 200px;
        margin: 0 50px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .obstacles-wrapper {
    .col-6 {
      padding: 0;

      img {
        width: 250px;
        margin: 0 8%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .obstacles-wrapper {
    .col-6 {
      &:first-of-type {
        padding-right: 2%;
      }

      &:last-of-type {
        padding-left: 2%;
      }

      img {
        width: 70%;
        margin: 0 7%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .obstacles-wrapper {
    .col-6 {
      &:first-of-type {
        padding-right: 2%;
      }

      &:last-of-type {
        padding-left: 2%;
      }

      img {
        width: 60%;
        margin: 0 5%;
      }
    }
  }
}

/* << WHAT TABILOCAL */


/* >> HOW IT WORKS SECTION */

#how-container {
  background-color: #EAF3FF;

  h2 {
    text-align: right;
  }

  .row {
    .col-4 {
      padding: 30px 20px 0 20px;

      h6 {
        color: #333;
        font-size: 17px;
        font-weight: 100;
      }   

      h4 {
        margin: 10px 0;
        color: #333;
        font-size: 1.5em;
        font-weight: 800;
        line-height: 1.2;
    	}  

    	.content {
        line-height: 1.5;
        color: #555;
    	}    

      .slidedown-trigger {
        @extend .btn;
        width: 150px; height: 36px;
        line-height: 36px;
        margin: 15px auto;
        background-color: #03A9F4;
        border-color: #03A9F4;
        color: #fff;
        font-size: 16px;

        &:hover {
          background-color: #00BBFF;
          border-color: #00BBFF;
        }
      } 

      .slidedown-content {
        display: none;
        line-height: 1.5;
        padding: 15px 20px;
        background-color: #fff;
        @include border-radius(5px);
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {

}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {

}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {

}

@media screen and (min-width: $breakpoint3 + 1px) {

}

/* << HOW IT WORKS SECTION */


/* >> WHY TABILOCAL SECTION */

#features-container {
  background-color: #FFBC59;
  text-align: center;

  h2 {
    text-align: left;
  }

  .row {
    @include display(flex);
    @include flex-wrap(wrap);
    margin: 10px auto;

    .col-3.col-md-6.col-sm-6.col-xs-12 {
      @include display(flex);
      @include flex(1 auto);
      vertical-align: top;

      .feature {
        padding: 20px 30px;
        text-align: center;
        background-color: rgba(255,255,255,.5);
        @include border-radius(5px);
        @include transition(all 0.3s ease); 
  
        &:hover {
        background-color: rgba(255,255,255,.9);     
  
          i {
            background-color: #ABEDC6;
          } 
        } 
  
        i {
          height: 80px; width: 80px;
          margin: 5px auto;
          padding: 23px 20px 0 20px;
          @include border-radius(50%);
          font-size: 37px;
          background-color: #fff;
          color: #FF6D00;
        } 
  
        h4 {
          margin: 0 auto 10px auto;
          color: #FF9800;
          font-weight: 400;
        } 
  
        p {
          line-height: 1.5;
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  #features-container {
    .row {
      .col-xs-12 {
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  #features-container {
    .row {
      .col-sm-6 {
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  #features-container {
    .row {
      .col-md-6 {
        padding: 15px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  #features-container {
    .row {
      .col-3 {
        padding: 15px;
      }
    }
  }
}

/* << WHY TABILOCAL SECTION */



/* >> CONTACT FORM */

#contact-container {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  background-color: #f0f0f0;

  h3 {
    letter-spacing: 1px;
    font-family: $marmelad-font-family;
  }

  form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    input,
    textarea {
      width: 100%;
      margin: 15px auto;
      padding: 10px;
      background-color: #f0f0f0;
    }

    input[type='text'],
    input[type='email'] {
      border-bottom: 2px solid #ccc;
      @include border-radius(0);
    }

    textarea {
      background-color: #ddd;
    }
  }

  .message-send-button {
    @extend .btn;
    margin: 10px auto;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    background-color: #89CC2C;
    color: #fff;

    &:hover {
      background-color: #78B227;
    }
  }
}

/* << CONTACT FORM */