.stories-wrapper {
  .profile-panel {
    position: relative;

    .header-option {
      .slidedown-trigger {
        position: absolute;
        top: 0;
        height: 50px;
        margin: 0 10px;
        color: #fff;
        cursor: pointer;

        i {
          font-size: 20px;
          line-height: 48px;
        }

        &:hover {
          color: #333;
        }
      }

      .question-button {
        right: 50px;
      }

      .slidedown-content {
        display: none;
        padding: 10px 5% 15px 5%;
        background-color: #FCF8C9;
        border-right: 2px solid #DFD3B6;
        border-bottom: 1px solid #DFD3B6;
        border-left: 2px solid #DFD3B6;

        .content-wrapper {
          padding: 5px 0;
          max-width: 700px; 

          h6 {
            font-size: 16px;
            line-height: 1.5;
          }   

          p,
          li {
            font-size: 13px;
          }
        }

        .create-story-button {
          @extend .btn;
          display: inline-block;
          margin: 10px 0;
          height: 32px;
          line-height: 32px;
          background-color: #FF7360;
          color: #fff;
          font-size: 14px;

          &:hover {
            background-color: #E56757;
          } 
        }
      }

      .switch-button {
        right: 10px;
      }
    }
    
    > .content {
      &.stories-friends {
        display: none;
      }
      
      h6 {
        margin-bottom: 20px;
        padding: 8px 30px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #998981;
        background-color: #FFECB3;
        @include border-radius(50px);
      }

      .story {
        padding: 20px 5%;

        .edit-story-button,
        .delete-story-button {
          @extend .btn;
          float: right;
          clear: both;
          width: 100px; height: 24px;
          line-height: 24px;
          margin: 0 0 5px 100%;
          color: #fff;
          font-size: 13px;
        }

        .edit-story-button {
          background-color: #59B2A2;

          &:hover {
            background-color: #468C7E;
          }
        }

        .delete-story-button {
          background-color: #FF7360;

          &:hover {
            background-color: #E56757;
          }
        }

        .posted-date {
          float: right;
          margin-bottom: 5px;
          color: #888;
          font-size: 12px;
        }

      	.header {
          .to,
          .from {
            display: inline-block;
            vertical-align: middle;
          }

          .username {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
          } 

          .profile {
            margin-top: 5px;

            .language,
            .home {
              margin-left: 40px;
              font-size: 13px;
              color: #666;
            }
          }
        }   

        .content {
          display: block;
          font-size: 15px;
        }

        .story-text-input {
          display: none;
          width: 100%; height: 100%;
          padding: 10px;
          background-color: #e5e5e5;
        }
      }

      hr {
        display: block;
        width: 90%;
        margin: 0 auto;
        border-top: 2px dashed #DFD3B6;
        border-bottom: none;

        &:last-of-type {
          display: none;
        }
      }
    }

    .edit-story {
      padding: 40px 5% 20px 5%;     

      .posted-date {
        text-align: right;
        font-size: 12px;
        color: #888;
      }     

      form.text-input {
        width: 100% !important;
        text-align: right;    

        textarea {
          width: 100%;
          padding: 10px;
          background-color: #e5e5e5;
          border: none;
        }     

        @include preview-container();
        .preview-container {
          margin-bottom: 10px;
        }
      }     

      .submit-story-button {
        @extend .btn;
        width: auto; height: 36px;
        line-height: 36px;
        background-color: #FF7360;
        color: #fff;
        
        &:hover {
          background-color: #E56757;
          color: #fff;
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .stories-wrapper {
    .story {
      .posted-date {
        clear: both;
      }
      
      .header,
      .content {
        clear: both;
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .stories-wrapper {
    .story {
      .posted-date {
        clear: both;
      }

      .header,
      .content {
        clear: both;
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .stories-wrapper {
    .story {
      .content {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .stories-wrapper {
    .story {
      .content {
        margin: 0;
      }
    }
  }
}


/* >> STORY EDITING */



@media screen and (max-width: $breakpoint1) {

}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {

}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {

}

@media screen and (min-width: $breakpoint3 + 1px) {

}

/* << SOTRY EDITING */