/* >> STATIC PAGES COMMON CSS */

.static-page-container {
  position: relative;
  margin: 20px auto;
  max-width: 1200px;

  .language-selector {
    position: absolute;
    top: 0; right: 5%;
    text-align: center;
    cursor: pointer;
  
    .selected-language {
      @extend .btn;
      width: 110px; height: 40px;
      line-height: 36px;
      padding: 0 !important;
      border: 2px solid;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;

      &:hover,
      &:active {
        background-color: #C7EFCF;
      }

      i {
        margin: 0;
      }
    }

    .unselected-language {
      display: none;
      background-color: rgba(255,255,255,0.9);

      &:hover {
        background-color: #ffeb3b;
      }

      a {
        display: block;
        padding: 15px 0;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: $marmelad-font-family;
  }

  .last-modified {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
    font-size: 14px;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 15px;

    a {
      color: #59B2A2;

      &:hover {
        color: #347266;
      }
    }

    p {
      display: inline-block;
    }
  }

  section {
    margin: 20px 0;

    h5 {
      margin-bottom: 10px;
      font-family: $marmelad-font-family;
      font-weight: 100;
      color: #000;
    }

    .header {
      color: #000;
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .static-page-container {
    padding: 50px 2% 20px 2%;

    h3 {
      font-size: 1.75em;
    }

    section {
      margin: 1.5em 2%;
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .static-page-container {
    padding: 50px 5% 20px 5%;

    section {
      margin: 1.5em 0;
    }
  }
}


@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .static-page-container {
    padding: 30px 10% 20px 10%;

    section {
      margin: 1.5em 0;
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .static-page-container {
    padding: 30px 10% 20px 10%;

    section {
      margin: 1.5em 0;
    }
  }
}


/* << STATIC PAGES COMMON CSS */



/* >> FAQ */

.faq-wrapper {
  @extend .static-page-container;
  text-align: center;
  max-width: 900px !important;

  h3 {
    margin-bottom: 30px;
  }

  p {
    margin: 15px auto;
  }
}

/* << FAQ */



/* >> PRIVACY POLICY */

.privacy-wrapper {
  @extend .static-page-container;

  section {
    .info-you-give,
    .info-we-get {
      margin-left: 20px;

      > .header {
        line-height: 1.5;
        font-size: 16px;
        font-family: $marmelad-font-family;
      }

      .info-type {
        margin-left: 30px;
  
        .header {
          line-height: 1.5;
          font-family: $marmelad-font-family;
        }
      }
    }
  }
}

/* << PRIVACY POLICY */



/* >> TERMS */

.terms-wrapper {
  @extend .static-page-container;

  .suggestion {
    margin-left: 20px;

    div {
      line-height: 1.5;
      font-size: 16px;
      font-family: $marmelad-font-family;
    }
  }

  .meetup-advice {
    display: table;
    padding: 5px 0 5px 20px;

    i {
      display: table-cell;
      vertical-align: top;
      padding-right: 8px;
      font-size: 18px;
      line-height: 1.2;
    }

    p {
      display: table-cell;
      vertical-align: top;
      line-height: 1.5;
    }
  }
}

/* << TERMS */



/* >> OUR VALUES */

.objectives-wrapper {
  @extend .static-page-container;
  
  .intro-paragraph {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
  }
}

/* << OUR VALUES */