$(document).ready(function() {
    'use strict';

    Tabilocal.inbox.recipients = (function() {

        var selected, list, autocomplete, autocompleteOptions;
        var $autocomplete, $suggestionsDropdown, $tagsContainer,
            $hiddenFieldsContainer, $names, $sendHeader;

       

        selected = []; //selected recipients
        list = []; //list of available recipients

        $suggestionsDropdown = $(".autocomplete .suggestions-dropdown");
        $tagsContainer = $(".conversation-log .nametags-wrapper");
        $hiddenFieldsContainer = $("form #recipients-list");
        $names = $(".conversation-header .header-name");
        $sendHeader = $(".conversation-header .recipients-list");

        function render() {
            var length = selected.length;
            var tagsHtml = "";
            var hiddenFieldsHtml = "";
            for (var i = 0; i < length; i++) {
                tagsHtml += buildTagHtml(selected[i]);
                hiddenFieldsHtml += buildHiddenFieldHtml(selected[i].id, (i + 1));
                /*form is prepopulated with current users id*/
            }
            $tagsContainer.find(".nametag").remove();
            $tagsContainer.prepend(tagsHtml);
            $hiddenFieldsContainer.html(hiddenFieldsHtml);
        }

        function buildTagHtml(recipient) {
            var html = "";
            html += "<div class='nametag'>";
            html += "<span class='fullname' id='" + recipient.id + "'>";
            html += recipient.fullname;
            html += "</span>";
            html += "<span class='close-button'><i class='fa fa-times'></i></span>";
            html += "</div>";
            return html;
        }

        function buildHiddenFieldHtml(userId, userIndex) { /*appended as user conversations*/
            var html = "";
            html += "<input value='" + userId + "'";
            html += "type='hidden'";
            html += "name='conversation[user_conversations_attributes][" + userIndex + "][user_id]]'";
            html += "id='conversation_user_conversations_attributes][" + userIndex + "][user_id]'>";
            return html;
        }

        function add(recipientId) {
            var index, selectedRecipient;
            index = find(recipientId, 'list');
            selectedRecipient = list[index];
            selected.push(selectedRecipient);
            list.splice(index, 1);
            render();
        }

        function remove(recipientId) {
            var index, selectedRecipient;
            index = find(recipientId, 'selected');
            selectedRecipient = selected[index];
            list.push(selectedRecipient);
            selected.splice(index, 1);
            render();
        }

        function find(recipientId, arrayName) {
            var recipients = [];
            var length;
            if (arrayName === 'selected') {
                recipients = selected;
            }
            if (arrayName === 'list') {
                recipients = list;
            }
            length = recipients.length;
            for (var i = 0; i < length; i++) {
                if (parseInt(recipients[i].id) === parseInt(recipientId)) {
                    return i;
                }
            }
        }

        function init() {
            var $recipientsContainer = $(".recipients-json");
            var data = $recipientsContainer.attr("data");
            
            if (data !== undefined) {
                list = JSON.parse(data);
                $recipientsContainer.remove();

                autocomplete = new Autocomplete({
                    containerSelector: "#inbox-autocomplete",
                    matchingProperty: "fullname",
                    onSelect: function(selected) { //returns the ith element
                        add(selected.id);
                        this.clearVal();
                    },
                    onDelPress: function() {
                        var elem, length;
                        length = selected.length;
                        if (length > 0) {
                            elem = selected[length - 1];
                            remove(elem.id);
                        }
                    },
                    html: function(suggestions) { //returns a subset of the passed-in data.
                        var html = "";
                        var length = suggestions.length;
                        for (var i = 0; i < length; i++) {3
                            html += "<li class='user-thumbnail' id='" + suggestions[i].id + "'><a href='#' tabindex='-1'>";
                            html += suggestions[i].fullname;
                            html += "</a></li>";
                        }
                        return html;
                    },
                    noResultsHtml: function() {
                        var html = "<li class='user-thumbnail'><%= I18n.t('general.no_results')%></li>";
                        return html;
                    }
                });
                autocomplete.setData(list);
            }
        }

        function reset() {
            var length;
            length = selected.length;
            for (var i = 0; i < length; i++) {
                list.push(selected[i]);
            }
            selected = [];
            render();
        }

        function set(names) {
            $names.html(names.join(", ") + ".");
        }

        function hideSendHeader() {
            $sendHeader.hide();
        }

        function showSendHeader() {
            $sendHeader.show();
        }

        function addPreloadedRecipients() {
            var $nametags;
            $nametags = $tagsContainer.find(".nametag");
            $nametags.each(function() {
                var $el = $(this).find("span");
                var fullname = $el.html();
                var id = $el.attr("id");
                selected.push({
                    id: id,
                    fullname: fullname
                });
            });
        }


        init();
        addPreloadedRecipients();


        $(document).on('click', '.nametag .close-button', function() {

            var $tag = $(this).siblings("span.fullname");
            var recipientId;
            recipientId = $tag.attr("id");

            remove(recipientId);
        });

        return {
            set: set,
            reset: reset,
            showSendHeader: showSendHeader,
            hideSendHeader: hideSendHeader
        };

    })();
});