- processing = three_dot_formatter t('general.processing')
- form_id = "add-user-language-" << form_type

= form_for @user_language, html: {id: form_id}, remote: true do |f|
    = f.collection_select :language_id, unset_languages, :id, :name, {}, class: 'languages-select'
    = f.hidden_field :category, value: form_type

    = f.button t('general.add_button'), class: 'add-button', data: {disable_with: processing}