%span{class: "user-language-#{user_language.category} item-count", id: "user-language-#{user_language.id}"}
    = link_to user_language_path(id: user_language.id), method: :delete,  remote: true, class: 'trash-icon' do        
        %i.fa.fa-trash-o
    = user_language.language.name
    %br