Tabilocal.userLanguages.add(
	"<%= escape_javascript(render @user_language) %>",
	"<%= escape_javascript(@user_language.language_id.to_s) %>",
	"<%= escape_javascript(@user_language.category.to_s)%>");