/* >> ACCOUNT SETTINGS */
.settings-wrapper {
  position: relative;
  margin: 20px auto;
  padding: 20px 5%;
  max-width: 900px;
  background-color: #fff;
  @include border-radius(5px);
  @include box-shadow(0 0 10px 0 #ddd);

  h4 {
    line-height: 2;
    border-bottom: 2px solid #695D46;
    text-align: left;
    margin-bottom: 40px;
    padding-left: 20px;
    font-family: $marmelad-font-family;
  }

  .item-wrapper {
    padding: 15px 0;
    text-align: left;
    position: relative;

    .item-name {
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 1px;
    }

    .col-8.col-sm-12.col-xs-12 {
      .item-value {
        display: inline-block;
        line-height: 1.5;
        width: 80%;
        margin-bottom: 10px;
        font-size: 16px;
        vertical-align: top;
      } 

      .edit-item,
      .delete-account-button {
        float: right;
        font-size: 16px;
        color: #777;
        cursor: pointer;  

        &:hover {
          color: #222;
        }
      } 

      form {
        display: none;
        vertical-align: top;
        width: 80%; 

        .form-element {
          font-size: 15px;
          margin-bottom: 5px;
        }

        input,
        textarea,
        select {
          width: 100%;
          margin-bottom: 10px;
          padding: 10px;
          display: inline-block;
          background-color: #e5e5e5;
          border: none;
          @include border-radius(0);
        } 

        .save-button,
        .add-button {
          @extend .btn;
          display: block;
          height: 30px;
          line-height: 30px;
          margin-bottom: 15px;
          font-size: 15px;
          background-color: #FF7360;
          color: #fff;
          vertical-align: bottom; 

          &:hover {
            background-color: #E56757;
          }
        }
      } 

      .description-lang-preference {
        margin: 10px 0;
        font-size: 14px;
      } 

      .description-delete-account {
        font-size: 14px;
      }
    }
  }
}

.modal-delete-account {
  @extend .modal;

  .content-wrapper {
    padding: 80px 0;
    color: #fff;

    .delete-account-header {
      line-height: 1.2;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .delete-account-content {
      line-height: 1.2;
      font-size: 16px;
    }

    .delete-button {
      @extend .btn;
      display: inline-block;
      margin: 40px auto;
      padding: 10px 20px !important;
      letter-spacing: 1px !important;
      background-color: #0288D1;
      color: #fff;

      &:hover {
        background-color: #016FAA;
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .settings-wrapper {
    h4 {
      padding-left: 0;
    }

    .item-wrapper{
      .item-name {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .settings-wrapper {
    h4 {
      padding-left: 20px;
    }
  
    .item-wrapper{
      .item-name {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .settings-wrapper {
    h4 {
      padding-left: 20px;
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .settings-wrapper {
    h4 {
      padding-left: 20px;
    }
  }
}