/* >> SIGN UP PAGE */

.signup-container {
  padding: 30px 0;

  .signup-form {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    @include border-radius(5px);
    @include box-shadow(0 0 10px 0 #ddd);
    text-align: center;
    background-color: #fff;
    font-size: 0;

    h3 {
      margin-bottom: 10px;
      color: #555;
      letter-spacing: 1px;
      font-family: $marmelad-font-family;
      font-size: 30px;
    }

    span {
      line-height: 20px;
      font-size: 15px;
    } 

    a {
      margin: 0 3px; 
      font-size: 15px;
      color: #59B2A2;

      &:hover {
        color: #347266;
      }
    }

    .signup-data-input {
      text-align: center;
      margin: 30px auto 0 auto;
      width: 100%;  

      .text-input {
        margin-bottom: 20px;

        input {
          width: 100%;
          margin: 10px auto;
          padding: 10px;
          border-bottom: 2px solid #ddd;
          @include border-radius(0);
        }
      } 

      .dob-gender-input {
        vertical-align: top;  

        h5 {
          text-align: left;
          line-height: 2;
          font-size: 16px;
          color: #777;
          font-weight: 100;
        } 

        .date-input {
          width: 100%;
          padding-bottom: 25px;  

          select {
            margin: 10px 0;
            padding: 0 10px;
            height: 40px;
            background-color: #ddd;
            cursor: pointer;
          }
        } 

        .checkbox-input {
          padding-bottom: 25px;  

          .gender-input {
            float: left;
            margin: 10px 5%;

            input {
              display: inline-block;
              margin-right: 3px;
              cursor: pointer;
            }   

            label {
              display: inline-block;
              font-size: 15px;  
            }
          }
        }
      } 

      .create-account-button {
        @extend .btn;
        display: block;
        height: 40px;
        line-height: 40px;
        margin: 30px auto;
        background-color: $main-color;
        color: #fff;
        font-size: 17px;
        font-weight: 800 !important;
        
        &:hover {
          background-color: #D8A406;
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  .signup-form {
    .text-input,
    .dob-gender-input,
    .create-account-button {
      display: block;
      width: 100%;
    }

    .dob-gender-input {
      .date-input {
        select {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .signup-form {
    .text-input,
    .dob-gender-input {
      display: block;
      width: 100%;
    }

    .dob-gender-input {
      .date-input {
        select {
          width: 30%;
        }
      }
    }

    .create-account-button {
      width: 300px; 
    }
  }  
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .signup-form {
    .text-input,
    .dob-gender-input {
      display: inline-block;
      width: 45%;
      margin: auto 2%;
    }

    .dob-gender-input {
      .date-input {
        select {
          width: 30%;
        }
      }
    }

    .create-account-button {
      width: 260px; 
    }
  }  
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .signup-form {
    .text-input,
    .dob-gender-input {
      display: inline-block;
      width: 45%;
      margin: auto 2%;
    }

    .dob-gender-input {
      .date-input {
        select {
          width: 30%;
        }
      }
    }

    .create-account-button {
      width: 260px; 
    }
  }  
}

/* << SIGN UP PAGE */