/* >> PROFILE COVER */

.profile-cover {
  font-size: 0;

  .modal-report-user {
    @extend .modal;

    .content-wrapper {
      padding: 80px 0;
      color: #fff;

      p {
        font-size: 18px;
      }

      textarea {
        width: 100%;
        margin: 30px auto;
        padding: 10px;
      }

      .submit-report-button {
        @extend .btn;
        display: inline-block;
        padding: 10px 20px !important;
        letter-spacing: 1px !important;
        background-color: #0288D1;
        font-size: 14px;
        color: #fff;

        &:hover {
          background-color: #016FAA;
        }
      }
    }
  }

  .modal-img-upload {
    @extend .modal;
    font-size: 16px;

    .content-wrapper {
      background-color: #fff;
      
      h4 {
        line-height: 1.5;
        font-family: $marmelad-font-family;
      }

      p {
        color: #777;
        font-size: 14px;
      }

      .img-wrapper {
        position: relative;
        margin: 20px auto 20px auto;
        overflow: hidden; 
        background-color: #bbb;
        @include display(flex);
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          min-width: 100%; min-height: 100%;
          margin: auto;
          flex-shrink: 0;
        }
      }

      form {
        input[type='file'] {
          opacity: 1;
          visibility: none;
          width: 0; height: 0;
          margin: 0 auto;
        }

        .circular-img-button {
          cursor: pointer;
          position: absolute;
          top: 0; bottom: 0; right: 0; left: 0;
          width: 80px; height: 80px;
          line-height: 80px;
          margin: auto;
          padding: 0 !important;
          border-radius: 150px !important;
          background-color: #eee;
          color: #444;
          //fixes firefox issue (button coult not be clicked)
          z-index: 10;

          div,
          i {
            position: absolute;
            right: 0; left: 0;
          }

          div {
            top: -15px;
            font-size: 12px;
          }

          i {
            top: 35px;
            font-size: 25px;
          }

          &:hover {
            background-color: #777;
            color: #eee;
          }
        }

        .select-img-button,
        .upload-img-button {
          @extend .btn;
          display: none;
          /* These two buttons are not displayed by default. They appear only after a user has updated one image. */
          width: 220px; height: 36px;
          margin: 5px !important;
          line-height: 36px;
          margin: 0 10px;
          letter-spacing: 1 !important;
          z-index: 1;
        }

        .select-img-button {
          background-color: #75C900;
          color: #fff;

          &:hover {
            background-color: #5FA300;
          }
        }

        .upload-img-button {
          background-color: #2196F3;
          color: #fff;

          &:hover {
            background-color: #1C7DCC;
          }
        }
      }
    }
  }

  .coverphoto-container {
    height: 360px;
    display: inline-block;
    @include box-shadow(inset 0 -50px 100px 0 rgba(0,0,0,0.5));
    text-align: center;
    position: relative;
    /*cover is done using coverphoto_styles*/
    
    .cover-relationship-container {
      position: absolute;
      top: 15px; left: 5%;
      z-index: 1;

      .friendship-status-container {
        @extend .btn;
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 36px;
        line-height: 32px;
        @include box-shadow(0 0 4px #666);
        background-color: rgba(0,0,0,.6);
        border: 2px solid #E56757;
        color: #fff;
        letter-spacing: .8px !important;

        form input {
          position: relative;
          display: inline-block;
          vertical-align: top;
          height: 32px;
          line-height: 32px;
          background-color: rgba(0,0,0,0);
          color: #fff;
          font-size: 15px;
          letter-spacing: .8px !important;
          cursor: pointer;
        }

        &:hover {
          background-color: #E56757;
          border-color: #E56757;
        }

        .dropdown-content {
          width: 100%;
          position: absolute;
          left: 0;
          display: none;
          background-color: #eee;
          @include box-shadow(0 0 4px rgba(100,100,100,.6));
          @include border-radius(3px);
          text-align: left;
          margin-top: 5px;
          padding: 5px 0;

          li {
            width: 100%;
            margin: 5px 0;
            padding: 0 10px;
            border-color: #fff;

            button {
              display: table-cell;
              padding: 10px 0;
              font-size: 13px;
              font-weight: 100;
              cursor: pointer;
            }

            &:hover {
              background-color: #FF9587;
            }
          }
        }
      }

      @include relationship-dropdown();
    }

    .profile-summary {
      position: absolute;
      right: 0; left: 0;
      color: #fff;

      .username {
        margin: 10px 0;

        span {
          margin: 0 10px;
          font-weight: bold;
          font-family: 'Marmelad', sans-serif, 'メイリオ', Meiryo;
          @include text-shadow(0 0 10px #000);
        } 

        i {
          padding: 10px;
          font-size: 20px;
          cursor: pointer;
          @include text-shadow(0 0 10px #000);
        
          &:hover + .popup-message-username {
            display: block !important;
          }
        } 

        .popup-message-username {
          display: none;
          position: absolute;
          right: 0; left: 0;
          margin: 0 auto;
          padding: 10px;
          width: 70%;
          background-color: #fff;
          border: 2px solid #777;
          @include border-radius(3px);
          color: #444;
          font-size: 14px;
          z-index: 2;
        }
      }

      .numbers {
        display: inline-block;
        margin: 3px 10px;
        font-weight: 800;
        color: #eee;
        @include text-shadow(0 0 5px #000);
        line-height: 1;

        span:first-of-type {
          display: inline-block;
          margin-right: 3px;
          font-size: 18px;
        }

        span:last-of-type {
          font-size: 14px;
          letter-spacing: 1px;
        }
      } 
    }

    .upload-profilephoto-button {
      position: absolute;
      top: 0; right: 50%;
      border: none;
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      @include text-shadow(0 0 10px #000);

      &:hover {
        color: #bbb;
      }
    }

    .upload-coverphoto-button {
      position: absolute;
      bottom: 10px; right: 20px;
      border: none;
      color: #fff;
      font-size: 25px;
      cursor: pointer;
      @include text-shadow(0 0 10px #000);

      &:hover {
        color: #bbb;
      }
    }
  }

  .side-menubar {
    display: inline-block;
    vertical-align: top;

    li {
      list-style: none;
      background-color: #ABEDC6;

      &:hover {
        background-color: #FFC466;
      }

      &.current {
        background-color: #2CD4F4;

        a {
          color: #fff;
        }
      }

      a {
        display: block;
        width: 100%;
        padding: 0 0 0 10%;
        letter-spacing: 1.3px;
        font-size: 12px;
        font-weight: 800;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint1) {
  .profile-cover {
    padding: 0 0 20px 0;

    .modal-img-upload {
      .content-wrapper {
        padding: 40px 3%;

        .img-wrapper {
          width: 240px; height: 168px;
        }
      }
    }

    .coverphoto-container {
      width: 100%;

      .profile-summary {
        top: 190px;

        .username {
          span {
            font-size: 25px;
          }

          .popup-message-username {
            width: 70%;
          }
        }

        .numbers {
          span:last-of-type {
            font-size: 14px;
          }
        }
      }

      .upload-profilephoto-button {
        margin: 30px -90px 0 0;
      }
    }

    .side-menubar {
      width: 100%;

      li {
        display: inline-block;
        width: 50%;
        
        a {
          line-height: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .profile-cover {
    padding: 0 0 20px 0;

    .modal-img-upload {
      .content-wrapper {
        padding: 40px 5%;

        .img-wrapper {
          width: 360px; height: 252px;
        }
      }
    }

    .coverphoto-container {
      width: 100%;

      .profile-summary {
        top: 220px;

        .username {
          span {
            font-size: 25px;
          }
        }

        .popup-message-username {
          width: 70%;
        }
      }

      .upload-profilephoto-button {
        margin: 40px -100px 0 0;
      }
    }

    .side-menubar {
      width: 100%;

      li {
        display: inline-block;
        width: 50%;
        
        a {
          line-height: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .profile-cover {
    padding: 0 2% 20px 2%;

    .modal-img-upload {
      .content-wrapper {
        padding: 40px 5%;

        .img-wrapper {
          width: 500px; height: 350px;
        }
      }
    }

    .coverphoto-container {
      width: 75%;

      .profile-summary {
        top: 220px;

        .username {
          span {
            font-size: 30px;
          }
        }
      }

      .upload-profilephoto-button {
        margin: 40px -100px 0 0;
      }
    }

    .side-menubar {
      width: 25%; 

      li {
        a {
          line-height: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .profile-cover {
    padding: 0 2% 20px 5%;

    .modal-img-upload {
      .content-wrapper {
        padding: 40px 5%;

        .img-wrapper {
          width: 500px; height: 350px;
        }
      }
    }

    .coverphoto-container {
      width: 80%;

      .profile-summary {
        top: 220px;

        .username {
          span {
            font-size: 30px;
          }
        }
      }

      .upload-profilephoto-button {
        margin: 40px -100px 0 0;
      }
    }

    .side-menubar {
      width: 20%; 

      li {
        a {
          line-height: 60px;
        }
      }
    }
  }
}

/* << PROFILE COVER */



/* PROFILE DESCRIPTION */

.profile-panels-container {
  margin: 0 auto;

  .profile-panel {
    margin: 0 auto 20px auto;
    background-color: #fff;

    h5 {
      text-align: left;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      letter-spacing: 2px;
      background-color: $main-color;
      color: #fff;
      font-family: $marmelad-font-family;
    }

    > .content {
      width: 100%;
      border-bottom: 2px solid #DFD3B6;
      border-right: 2px solid #DFD3B6;
      border-left: 2px solid #DFD3B6;

      .item-wrapper {
        padding: 10px 0;
        text-align: left;
        position: relative;

        .item-name {
          padding: 0 !important;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: .5px;
          line-height: 20px;
        } 

        .col-8 {
          .item-value {
            display: inline-block;
            line-height: 20px;
            font-size: 16px;
            width: 85%;

            &.hyperlink {
              color: #0091EA;
            }

            .trash-icon {
              // display none done with JS
              font-size: 18px;
              margin-right: 8px;
              color: #FF6F00;
            }
          } 

          .info-icon,
          .edit-item {
            float: right;
            font-size: 16px;
            color: #777;
            cursor: pointer;
            
            &:hover {
              color: #222;
            }
          } 

          .info-icon {
            padding: 15px;
            margin: -15px -10px 0 0;

            &:hover + .popup-message-basicinfo {
              display: block;
            }
          } 

          .popup-message-basicinfo {
            display: none;
            text-align: center;
            padding: 10px;
            background-color: #fff;
            font-size: 14px;
            border: 2px solid #777;
            @include border-radius(3px);
            z-index: 2;
          } 

          .map-profile {
            @extend .map;
            height: 300px;
          } 

          form {
            width: 100%;
            display: none;
            vertical-align: top;
            
            input,
            textarea,
            select,
            button {
              margin: 8px 5px 5px 0;
              padding: 10px;
              display: inline-block;
              background-color: #e5e5e5;
              border: none;
              @include border-radius(0);

              &.full-width-input {
                display: block;
                width: 80%;
                margin-bottom: 5px;
              }
            }

            .save-button,
            .add-button {
              @extend .btn;
              width: auto; height: 40px;
              line-height: 40px;
              font-size: 15px;
              background-color: #FF7360;
              color: #fff;
              vertical-align: top;

              &.full-width-button {
                width: 80%;
              }

              &:hover {
                background-color: #E56757;
              }
            }

            @include place-suggestions-dropdown(#D9F5F9, #BBDEFB);
          }
        }
      }
    }   
  }
}


@media screen and (max-width: $breakpoint1) {
  .profile-panels-container {
    padding: 0;

    .profile-panel {
      > .content {
        padding: 20px 4%;
      }

      form {
        input,
        textarea,
        select,
        .suggestions-dropdown {
          width: 75%;
        }   

        .save-button,
        .add-button {
          padding: 0 7px !important;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
  .profile-panels-container {
    padding: 0;

    .profile-panel {
      > .content {
        padding: 20px 4%;
      }

      form {
        input,
        textarea,
        select,
        .suggestions-dropdown {
          width: 75%;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint2 + 1px) and (max-width: $breakpoint3) {
  .profile-panels-container {
    padding: 0 2% 0 2%;

    .profile-panel {
      > .content {
        padding: 20px 5%;
      }

      .item-value {
        margin-left: 10px;
      } 

      form {
        input,
        textarea,
        select,
        .suggestions-dropdown {
          width: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint3 + 1px) {
  .profile-panels-container {
    padding: 0 2% 0 5%;

    .profile-panel {
      > .content {
        padding: 20px 5%;
      }

      .item-value {
        margin-left: 10px;
      } 

      form {
        input,
        textarea,
        select,
        .suggestions-dropdown {
          width: 55%;
        }
      }
    }
  }
}

/* ENDS PROFILE DESCRIPTION */