%tr
	%td
		= show_profile_illustration language_thread.user, language_thread.user.current_profile_picture, ["profile-image","profile-image-forum"]
		= link_to language_thread.user.fullname, language_thread.user
	%td
		= link_to(language_thread) do
			%b= language_thread.title
		= render partial: 'tags/tag', collection: language_thread.tags
	%td.posted-date
		= time_ago_in_words (language_thread.created_at)
		ago
		%br
		= pluralize(language_thread.replies.count, 'post')