.forum-container

  = link_to new_language_thread_path, class: 'post-thread' do
    post thread

  .forum-header
    %h3 Language Forum
    %p Ask native speakers or fellow learners language related questions.
    %p Help language learners improve their target languages.
  
  %ul.filter-box
    %li
      target language
      %i.fa.fa-angle-down
    %li
      language in use
      %i.fa.fa-angle-down
    %span.close-all-button
      %i.fa.fa-times

  .filtering-options
    %h4 Choose languages you want to ask/answer a question about.
    %p English
    %p Espanol
    %p 日本語

  .filtering-options
    %h2 See results in other languages.
    %p English
    %p Espanol
    %p 日本語

  %table
    = render @language_threads


= render partial: 'shared/banners'