.newthread-header
  = render 'guidelines'
  
.new-thread-content
  =form_for @language_thread do |f|
    = render 'shared/error_messages', object: f.object

    = f.hidden_field :user_id, value: current_user.id

    %h2 Choose language of your topic.
    = f.collection_select(:language_id, @my_languages, :id, :name)

    %h2 Choose language you're writing your post in
    = f.collection_select(:about_language_id, @my_languages, :id, :name)
    
    %h2
      Choose category tags.
      %br (You can pick three categories at most)

    = render @tags

    %h2 Make a simple and good title.
    = f.text_field :title, placeholder: "Thread Title"

    %h2 Write down your question in more detail.

    = f.fields_for :replies do |replies|
      = replies.text_area :content, placeholder: "Write your question in more detail", rows: 7
      = replies.hidden_field :user_id, value: current_user.id

    .actions
      = f.submit "Create Language Thread", class: 'button post-button'