.container
  #subscription-status
    -if @existing_subscription.nil?
      = render 'subscriptions/subscribe'
    -else
      = render 'subscriptions/unsubscribe'
  .new-thread.content
    .question-header
      .question-topic
        %b= @thread.title
      .tags
        = render partial: 'tags/tag', collection: @thread.tags

  #replies-list
    = render @replies

  .text-input.content
    = render partial: 'replies/form'


= render partial: 'shared/banners'