-sending = three_dot_formatter t('general.sending')

%h3= t('general.contact_header')

= form_for @suggestion, html: {"novalidate"=> "novalidate"}, remote: true do |f|
	= f.text_field :name , placeholder: t('general.name')
	= f.email_field :email , placeholder: t('general.email')
	= f.text_field :subject, placeholder: t('general.subject')
	= f.text_area :message, rows: 6

	= f.submit t('general.send_message'), class: 'message-send-button', data: {disable_with: sending}
