.suggestion
	.name= "Name: #{suggestion.name}"
	.email= "Email: #{suggestion.email}"
	.subject= "Subject: #{suggestion.subject}"
	.message= "Suggestion: #{suggestion.message}"
	.status= "Status: #{suggestion.status}"
%br