- @places.each do |place|
	= place.name
	= form_for place, remote: true, method: :patch do |f|
		%span{style: "font-size: 16px"} latitude
		= f.text_field :latitude
		%span{style: "font-size: 16px"} longitude
		= f.text_field :longitude
		= f.button "update", style: "cursor: pointer; background: gray; color: white"
	%br
	%br
	%br