.location-profile-container
	.map-container
		#profile-map{style: "height: inherit; width: 100%"}
		%h3.location-name{style: "z-index: 1000" }= @place.fullname

	%ul.tabs
		%li.tab-link.current{:data_tab => "natives-tab"}
			.number= @place.natives
			.unit= t('general.unit_natives')
		%li.tab-link{:data_tab => "residents-tab"}
			.number= @place.residents
			.unit= t('general.unit_residents')
		%li.tab-link{:data_tab => "travelers-tab"}
			.number= (@place.visiting + @place.visited)
			.unit= t('general.unit_travelers')
		%li.tab-link{:data_tab => "threads-tab"}
			.number= @place.threads
			.unit= t('general.unit_threads')

	#natives-tab.tab-content.current
		= render @natives
	#residents-tab.tab-content
		= render @residents
	#travelers-tab.tab-content
		= render @travelers
	#threads-tab.tab-content.threads-container
		= render @threads
		
- place_data = build_place_data @place
.place-json{:data => "#{place_data}"}