- if !logged_in?
  %footer
    .site-map-container
      -if controller.controller_name == "static_pages" && controller.action_name == "home_offline"
        %a.scroll-to-what= t('layouts._header.what_is_tabilocal')
        %a.scroll-to-how= t('layouts._header.how_it_works')
        %a.scroll-to-features= t('layouts._header.features')
      -else
        =link_to t('layouts._header.what_is_tabilocal'), homepage_path(anchor: "what-container")
        =link_to t('layouts._header.how_it_works'), homepage_path(anchor: "how-container")
        =link_to t('layouts._header.features'), homepage_path(anchor: "features-container")
      =link_to t('layouts._header.faq'), faq_path
      =link_to t('layouts._header.values'), objectives_path
      =link_to t('layouts._header.safety'), safety_path
      =link_to t('layouts._header.terms_of_use'), terms_of_use_path

    .signup-login
      =link_to t('general.sign_up'), new_user_path, class: 'footer-signup-button'
      -if controller.controller_name == "static_pages" && controller.action_name == "home_offline"
        %a.scroll-to-offlinehome-top.footer-login-button= t('general.log_in')
      -else
        =link_to t('general.log_in'), homepage_path, class: 'footer-login-button'

    .copyright
      %i.fa.fa-copyright
      %span Tabilocal.com