-if logged_in?
	%ul.navbar.online-navbar

		%li.second-row-item.dropdown-trigger.h-list.friend-request-icon
			%div.menu-button
				%i.fa.fa-plus
				-if @friend_requests_count > 0
					%span#friend-request-count= @friend_requests.count
				%ul.dropdown-content#friend-request-dropdown
					-if @friend_requests_count > 0
						= render partial: 'shared/friend_request', collection: @friend_requests
					-else
						%li
							.no-friend-requests= t('general.no_friendrequests')

		%li.second-row-item.dropdown-trigger.h-list.notification-icon
			%div.menu-button
				%i.fa.fa-bell-o
				-if @notifications.where(read: false).count > 0
					%span#notification-unread-count= @notifications.where(read: false).count
				%ul.dropdown-content#notification-dropdown
					%li
						= button_to t('notifications.mark_all_as_read'), update_all_notifications_path, method: :put, remote: true, class: 'mark-read-button'
					%li
						.no-notifications-notice= t('general.no_notifications')
					= render partial: 'notifications/notification', collection: @notifications, locals: {show_button: false}
					%li
						= link_to (t('notifications.see_all')), notifications_path, class: 'see-all-button'
		
		- if Rails.env.production?
			%li.events-icon.second-row-item.h-list{style: "visibility: hidden"}
				=link_to events_path, class: 'menu-button' do
					%i.fa.fa-calendar
		-else
			%li.events-icon.second-row-item.h-list
				=link_to events_path, class: 'menu-button' do
					%i.fa.fa-calendar
	
		%li.inbox-icon.second-row-item.h-list
			=link_to conversations_path, class: 'menu-button' do
				%i.fa.fa-envelope-o
				-if @unread_user_conversations.count > 0
					%span#unread-messages-count= @unread_user_conversations.count

		%li.profile-icon.second-row-item.h-list
			=link_to current_user, class: 'menu-button hyperlink' do
				= show_profile_illustration current_user, current_user.current_profile_picture, ["profile-image-icon"], true
		
		.online-navbar-logo-wrapper.hyperlink
			=link_to dashboard_path do
				= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/logo-noframe-FFC107.gif')

		- if !Rails.env.production?
			.invite-friends-button
				%a= t('layouts._header.invite_friends')

		%li.caret-down.dropdown-trigger.h-list
			%div.menu-button
				%i.fa.fa-caret-down
				%ul.dropdown-content#navigation
					%li.v-list
						=link_to (t('layouts._header.settings')), edit_user_path(id: current_user.id)
					%li.v-list
						=link_to (t('layouts._header.faq')), faq_path
					%li.v-list
						=link_to (t('layouts._header.values')), objectives_path
					%li.v-list
						=link_to (t('layouts._header.safety')), safety_path
					%li.v-list
						=link_to (t('layouts._header.terms_of_use')), terms_of_use_path
					%li.v-list
						=link_to (t('layouts._header.contact')), contact_us_path
					%li.v-list
						=link_to (t('layouts._header.log_out')), logout_path, method: :delete, id: 'dropdown-logout-btn'

	.navbar-second-row
	.online-navbar-blank

	-# find the file in /views/invitations/_form
	=render 'shared/invitation_modal'
	=render 'shared/welcome_tour_modal'			

-else
	.offline-navbar-background
	.navbar.offline-navbar
		.offline-burger-icon
			%i.fa.fa-bars
		.offline-navbar-logo-wrapper
			=link_to homepage_path do
				= image_tag ('https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/logo-clipped-FFF.gif'), class: "offline-navbar-logo"

		-if !Rails.env.production?

			=render 'shared/language_selector'

		%ul.slidein-menu
			.close-button
				%i.fa.fa-times
			-if controller.controller_name == "static_pages" && controller.action_name == "home_offline"
				%li.scroll-to-what= t('layouts._header.what_is_tabilocal')
				%li.scroll-to-how= t('layouts._header.how_it_works')
				%li.scroll-to-features= t('layouts._header.features')
			-else
				%li
					=link_to t('layouts._header.what_is_tabilocal'), homepage_path(anchor: "what-container")
				%li
					=link_to t('layouts._header.how_it_works'), homepage_path(anchor: "how-container")
				%li
					=link_to t('layouts._header.features'), homepage_path(anchor: "features-container")