%html
	%head
		%title Tabilocal
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		%meta{:name => "robots", :content=>"noindex"}/

		%meta{:content => "https://www.tabilocal.com", :property => "og:url"}/
		%meta{:content => "website", :property => "og:type"}/
		%meta{:content => "Tabilocal", :property => "og:title"}/
		%meta{:content => "Si viajas, conoce a los lugareños. Si estudias español, sumérgete en el idioma. Tabilocal ayuda a superar los obstáculos que cada viajero y estudiante de idiomas enfrenta.", :property => "og:description"}/
		%meta{:content => "https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/logo-clipped-FFC107.gif", :property => "og:image"}/

		%link{:href => "https://www.tabilocal.com", :rel => "canonical"}/

		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		-if controller.controller_name == "events" && controller.action_name == "new" || controller.controller_name == "static_pages" && controller.action_name == "react_test"
			- if Rails.env.production?
				%script{:src => "/assets/react.min.js", :async => "async"}
			- else 
				%script{:src => "/assets/react.js", :async => "async"}

		= csrf_meta_tags
		
		%link{:href => "https://s3-us-west-2.amazonaws.com/basic-tabi/tabi_layout/logo-roundframe-FFC107.gif", :rel => "icon", :type => "image/gif"}

	- if layout_is? == 'no_banner'
		- container_classes = "col-12"
	- else
		- container_classes = "col-xl-9 col-lg-9 col-12"
		
		
	%body.grid-container

		- flash.each do |message_type, message|
			-# html safe so string from errors_to_html can be displayed correctly
			= render partial: 'shared/alert_message', locals: {message: message.html_safe, class_name: message_type, fixed: true, static: false}
		-if navbar_present?
			= render 'layouts/header'
		%div{class: container_classes}
			= yield
		- if layout_is? == 'banner_right_double'
			= render partial: 'shared/banners', locals: {layout: "two-banners"}
		- if layout_is? == 'banner_right_single'
			= render partial: 'shared/banners', locals: {layout: "one-banner"}

